.blog-article {
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.blog-article__header {
  display: flex;
  flex-direction: column;
}

.blog-article__header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.blog-article__date {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $grey-color;
}

.blog-article__title {
  margin-bottom: 15px;
}

.blog-article__tags-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  list-style-type: none;

  gap: 11px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.blog-article__main {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.blog-article__image {
  display: block;
  margin-bottom: 15px;

  @media (max-width: $max-tablet-width) {
    width: 100%;
    max-height: 550px;

    object-fit: contain;
  }
}

.blog-article__text {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $black-color;
}

.blog-article__paragraph {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.blog-article__text-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-family: $jost-font;
  color: $black-color;
}

.blog-article__text-list {
  margin-bottom: 30px;
  margin-left: 24px;
}

.blog-article__footer {
  display: flex;
  flex-direction: column;

  gap: 18px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.blog-article__footer-link-next {
  @media (max-width: $max-mobile-width) {
    align-self: flex-end;
  }
}
