.our-advantages {
  padding-top: 40px;
  padding-bottom: 170px;

  background-image: url("@img/our-adv-bg-mobile.png");
  background-repeat: no-repeat;
  background-position: calc(50% + 50px) calc(100% + 14px);

  @media (min-width: $tablet-width) {
    padding-bottom: 140px;

    background-position: calc(50% + 250px) calc(100% + 14px);
  }
  @media (min-width: $desktop-width) {
    padding-top: 80px;
    padding-bottom: 55px;

    background-image: url("@img/our-adv-bg.png");
    background-position: calc(50% + 440px) calc(100% + 19px);
  }
}

.our-advantages__content {
  display: flex;
  flex-direction: column;
}

.our-advantages__title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  font-family: $jost-font;
  color: #000000;

  @media (min-width: $desktop-width) {
    font-size: 32px;
  }
}

.our-advantages__main {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.our-advantages__list {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin: 0;
  margin-bottom: 80px;
  padding: 0;

  list-style-type: none;

  gap: 44px;

  @media (min-width: $desktop-width) {
    max-width: 615px;
    margin-right: 135px;
    margin-bottom: 40px;

    gap: 48px;
  }
}

.our-advantages__item {
  display: flex;
  flex-direction: column;

  gap: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;
  }

  &::before {
    content: "";

    flex-shrink: 0;
    width: 79px;
    height: 76px;

    background-repeat: no-repeat;
    background-position: left;
  }

  &--no-agents::before {
    background-image: url("@img/icons/adv-hands.svg");
  }

  &--personal-manager::before {
    background-image: url("@img/icons/adv-head.svg");
  }

  &--flexibility::before {
    background-image: url("@img/icons/adv-graph.svg");
  }

  &--fast-delivery::before {
    background-image: url("@img/icons/adv-clocks.svg");
  }
}

.our-advantages__item-wrapper {
  display: flex;
  flex-direction: column;

  gap: 2px;
}

.our-advantages__item-title {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  font-family: $jost-font;
}

.our-advantages__item-info {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $grey-color;
}

.our-advantages__values {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    padding-right: 25px;
  }
}

.our-advantages__values-item {
  position: relative;
}

.our-advantages__desc-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  gap: 12px;
}

.our-advantages__desc-term {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 42px;
  line-height: 114%;
  font-family: $jost-font;

  @media (min-width: $desktop-width) {
    font-size: 52px;
  }
}

.our-advantages__desc-def {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.our-advantages__values-item--insurance {
  margin-top: 40px;

  @media (min-width: $desktop-width) {
    margin-top: 90px;
  }

  & .our-advantages__desc-term {
    color: $blue-color;
  }
}
