.subscribe-section {
  padding-top: 25px;
  padding-bottom: 35px;

  // background-color: $aqua-color;

  background: linear-gradient(271.32deg, #2aa898 -12.13%, #39c0b4 79.47%);

  @media (min-width: $desktop-width) {
    padding-top: 50px;
    padding-bottom: 55px;
  }
}

.subscribe-section__content {
  position: relative;

  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.subscribe-section__left {
  display: flex;
  flex-direction: column;
}

.subscribe-section__title {
  color: #ffffff;

  & span {
    @media (max-width: $max-mobile-width) {
      display: none;
    }
  }
}

.subscribe-section__image-wrapper {
  display: flex;
  justify-content: center;

  // align-items: center;
  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(-60px, 60px);
  }
}

.subscribe-section__image {
  display: block;
}

.subscribe-section__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 205px;
  padding: 0;

  list-style-type: none;

  gap: 30px;


  @media (max-width: $max-tablet-width) {
    display: none;
  }
}

.subscribe-section__item {
  position: relative;

  display: inline-flex;
  width: fit-content;
  padding: 8px 42px 8px 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  text-transform: uppercase;

  border: 1px solid #ffffff;
  cursor: default;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 5px;

    width: 23px;
    height: 17px;

    background-image: url("@img/icons/subscribe-check-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%);
  }
}

.subscribe-section__form {
  flex-grow: 1;

  @media (min-width: $desktop-width) {
    margin-left: 93px;
  }
}

.subscribe-section__form-submit-button {
  &:hover {
    color: $button-color;

    background-color: $white-color;
  }
}
