{% extends "layout.j2" %}

{% set page = "about" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">О компании</span>
          </li>
        </ul>
      </div>
    </div>


    {% include "./blocks/about.j2" %}
    {% include "./blocks/team.j2" %}
    {% include "./blocks/subscribe-section.j2" %}
  </main>
{% endblock content %}

{% block js %}
  <script src="./js/macy.min.js"></script>
  <script src="./js/team.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
