{% extends "layout.j2" %}

{% set page = "blog-page" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./blog.html">Блог для профессионалов</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Как мы проектировали и строили центр обработки данных. Может быть длиннее. В пару строк</span>
          </li>
        </ul>
      </div>
    </div>

    {% include "./blocks/blog-article.j2" %}
    {% include "./blocks/popular-articles.j2" %}
    {% include "./blocks/subscribe-section.j2" %}
  </main>
{% endblock content %}

{% block js %}
  <script src="./js/popular-articles.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
