{% extends "layout.j2" %}

{% set page = "cases" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <h1 class="title">Кейсы</h1>
      <a href="./case-page.html">Case page</a>
    </div>
  </main>
{% endblock content %}

{% block js %}
  <script src="./js/main.min.js"></script>
{% endblock %}
