{% extends "layout.j2" %}

{% set page = "case-page" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./cases-v2.html">Кейсы</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Проектирование и монтаж СКС, ЭОМ Офиса компании «ОТКРЫТИЕ БРОКЕР»</span>
          </li>
        </ul>
      </div>
    </div>
    {% include "./blocks/case.j2" %}
    {% set sectionCardSwiperCnt = 2 %}
    {% include "./blocks/cases-swiper.j2" %}
    {# {% include "./blocks/other-projects.j2" %} #}
    {# {% include "./blocks/subscribe-section.j2" %} #}
  </main>
{% endblock content %}

{% block modal %}
  {% include "./blocks/modal-image.j2" %}
{% endblock %}

{% block js %}
  <script src="./js/swiper-bundle.min.js" defer></script>
  <script src="./js/swipers.min.js" defer></script>
  {# <script src="./js/other-projects.min.js"></script>
  <script src="./js/subscribe-form.min.js"></script> #}
  <script src="./js/modal-image.min.js" defer></script>
  <script src="./js/cases-v2.min.js" defer></script>
  <script src="./js/main.min.js" defer></script>
{% endblock %}
