{% extends "layout.j2" %}

{% set page = "catalog" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./import-replacement.html">Импортозамещение в EXASystems</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Импортозамещение компьютерного и серверного оборудования</span>
          </li>
        </ul>
      </div>
    </div>

    <section class="catalog">
      <div class="container">
        <div class="catalog__content">
          <h1 class="catalog__title title">Импортозамещение компьютерного и серверного оборудования</h1>
          <div class="catalog__filters">
            <div class="catalog__filters-group catalog__filters-group--type">
              <div class="catalog__filters-group-name"><span>По типу:</span></div>
              <ul class="catalog__filters-list">
                <li class="catalog__filters-item">
                  <button class="filter" data-filter-type="type" data-filter-value="computers" type="button">Компьютеры</button>
                </li>
                <li class="catalog__filters-item">
                  <button class="filter" data-filter-type="type" data-filter-value="monoblocks" type="button">моноблоки</button>
                </li>
                <li class="catalog__filters-item">
                  <button class="filter" data-filter-type="type" data-filter-value="pc" type="button">ПК</button>
                </li>
                <li class="catalog__filters-item">
                  <button class="filter" data-filter-type="type" data-filter-value="servers" type="button">серверы</button>
                </li>
                <li class="catalog__filters-item">
                  <button class="filter" data-filter-type="type" data-filter-value="data-servers" type="button">системы хранения данных</button>
                </li>
                <li class="catalog__filters-item">
                  <button class="filter" data-filter-type="type" data-filter-value="equip" type="button">сетевое оборудование</button>
                </li>
                <li class="catalog__filters-item">
                  <button class="filter" data-filter-type="type" data-filter-value="ups" type="button">ИБП</button>
                </li>
                <li class="catalog__filters-item">
                  <button class="filter" data-filter-type="type" data-filter-value="interactive" type="button">интерактивное оборудование</button>
                </li>
              </ul>
            </div>
            <div class="catalog__filters-group catalog__filters-group--vendors">
              <div class="catalog__filters-group-name"><span>По производителю:</span></div>
              <ul class="catalog__filters-list">
                <li class="catalog__filters-item">
                  <button class="filter" data-filter-type="vendor" data-filter-value="rdw-computers" type="button">
                    <span class="visually-hidden">RDW Computers.</span>
                    <img class="filter__image" src="@img/filter-vendor-rdw.png" alt="">
                  </button>
                </li>
                <li class="catalog__filters-item">
                  <button class="filter" data-filter-type="vendor" data-filter-value="iru" type="button">
                    <span class="visually-hidden">iru.</span>
                    <img class="filter__image" src="@img/filter-vendor-iru.png" alt="">
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <ol class="catalog__cards-list">
            <li class="catalog__cards-item">
              <div class="product-card" data-product-type="computers" data-vendor="rdw-computers">
                <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
                <div class="product-card__content">
                  <p class="product-card__title">iRU Office 310A3SM MT</p>
                  <p class="product-card__subtitle">Компьютер для эффективной работы</p>
                  <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                    <span class="product-card__vendor filter">
                      <span class="visually-hidden">RDW Computers.</span>
                      <img class="filter__image" src="@img/filter-vendor-rdw.png" alt="">
                    </span>
                  </div>
                  <div class="product-card__price-row">
                    <div class="product-card__prices-wrapper">
                      <span class="product-card__price">582 940 ₽</span>
                      <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                    </div>
                    <a class="product-card__button button" href="#!">Заказать</a>
                  </div>
                  <div class="product-card__toolbar">
                    <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                      <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                        <use xlink:href="img/sprite.svg#compare-icon"></use>
                      </svg>
                      <span class="product-card__toolbar-button-text">Сравнить</span>
                    </button>
                    <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                      <span class="product-card__toolbar-button-text">Конфигуратор</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="catalog__cards-item">
              <div class="product-card" data-product-type="servers" data-vendor="iru">
                <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
                <div class="product-card__content">
                  <p class="product-card__title">iRU Office 310A3SM MT</p>
                  <p class="product-card__subtitle">Компьютер для эффективной работы</p>
                  <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                    <span class="product-card__vendor filter">
                      <span class="visually-hidden">RDW Computers.</span>
                      <img class="filter__image" src="@img/filter-vendor-iru.png" alt="">
                    </span>
                  </div>
                  <div class="product-card__price-row">
                    <div class="product-card__prices-wrapper">
                      <span class="product-card__price">582 940 ₽</span>
                      <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                    </div>
                    <a class="product-card__button button" href="#!">Заказать</a>
                  </div>
                  <div class="product-card__toolbar">
                    <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                      <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                        <use xlink:href="img/sprite.svg#compare-icon"></use>
                      </svg>
                      <span class="product-card__toolbar-button-text">Сравнить</span>
                    </button>
                    <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                      <span class="product-card__toolbar-button-text">Конфигуратор</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="catalog__cards-item">
              <div class="product-card" data-product-type="servers" data-vendor="iru">
                <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
                <div class="product-card__content">
                  <p class="product-card__title">iRU Office 310A3SM MT</p>
                  <p class="product-card__subtitle">Компьютер для эффективной работы</p>
                  <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                    <span class="product-card__vendor filter">
                      <span class="visually-hidden">RDW Computers.</span>
                      <img class="filter__image" src="@img/filter-vendor-iru.png" alt="">
                    </span>
                  </div>
                  <div class="product-card__price-row">
                    <div class="product-card__prices-wrapper">
                      <span class="product-card__price">582 940 ₽</span>
                      <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                    </div>
                    <a class="product-card__button button" href="#!">Заказать</a>
                  </div>
                  <div class="product-card__toolbar">
                    <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                      <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                        <use xlink:href="img/sprite.svg#compare-icon"></use>
                      </svg>
                      <span class="product-card__toolbar-button-text">Сравнить</span>
                    </button>
                    <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                      <span class="product-card__toolbar-button-text">Конфигуратор</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="catalog__cards-item">
              <div class="product-card" data-product-type="computers" data-vendor="iru">
                <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
                <div class="product-card__content">
                  <p class="product-card__title">iRU Office 310A3SM MT</p>
                  <p class="product-card__subtitle">Компьютер для эффективной работы</p>
                  <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                    <span class="product-card__vendor filter">
                      <span class="visually-hidden">RDW Computers.</span>
                      <img class="filter__image" src="@img/filter-vendor-iru.png" alt="">
                    </span>
                  </div>
                  <div class="product-card__price-row">
                    <div class="product-card__prices-wrapper">
                      <span class="product-card__price">582 940 ₽</span>
                      <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                    </div>
                    <a class="product-card__button button" href="#!">Заказать</a>
                  </div>
                  <div class="product-card__toolbar">
                    <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                      <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                        <use xlink:href="img/sprite.svg#compare-icon"></use>
                      </svg>
                      <span class="product-card__toolbar-button-text">Сравнить</span>
                    </button>
                    <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                      <span class="product-card__toolbar-button-text">Конфигуратор</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="catalog__cards-item">
              <div class="product-card" data-product-type="computers" data-vendor="rdw-computers">
                <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
                <div class="product-card__content">
                  <p class="product-card__title">iRU Office 310A3SM MT</p>
                  <p class="product-card__subtitle">Компьютер для эффективной работы</p>
                  <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                    <span class="product-card__vendor filter">
                      <span class="visually-hidden">RDW Computers.</span>
                      <img class="filter__image" src="@img/filter-vendor-rdw.png" alt="">
                    </span>
                  </div>
                  <div class="product-card__price-row">
                    <div class="product-card__prices-wrapper">
                      <span class="product-card__price">582 940 ₽</span>
                      <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                    </div>
                    <a class="product-card__button button" href="#!">Заказать</a>
                  </div>
                  <div class="product-card__toolbar">
                    <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                      <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                        <use xlink:href="img/sprite.svg#compare-icon"></use>
                      </svg>
                      <span class="product-card__toolbar-button-text">Сравнить</span>
                    </button>
                    <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                      <span class="product-card__toolbar-button-text">Конфигуратор</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="catalog__cards-item">
              <div class="product-card" data-product-type="computers" data-vendor="rdw-computers">
                <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
                <div class="product-card__content">
                  <p class="product-card__title">iRU Office 310A3SM MT</p>
                  <p class="product-card__subtitle">Компьютер для эффективной работы</p>
                  <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                    <span class="product-card__vendor filter">
                      <span class="visually-hidden">RDW Computers.</span>
                      <img class="filter__image" src="@img/filter-vendor-rdw.png" alt="">
                    </span>
                  </div>
                  <div class="product-card__price-row">
                    <div class="product-card__prices-wrapper">
                      <span class="product-card__price">582 940 ₽</span>
                      <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                    </div>
                    <a class="product-card__button button" href="#!">Заказать</a>
                  </div>
                  <div class="product-card__toolbar">
                    <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                      <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                        <use xlink:href="img/sprite.svg#compare-icon"></use>
                      </svg>
                      <span class="product-card__toolbar-button-text">Сравнить</span>
                    </button>
                    <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                      <span class="product-card__toolbar-button-text">Конфигуратор</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="catalog__cards-item">
              <div class="product-card" data-product-type="ups" data-vendor="rdw-computers">
                <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
                <div class="product-card__content">
                  <p class="product-card__title">iRU Office 310A3SM MT</p>
                  <p class="product-card__subtitle">Компьютер для эффективной работы</p>
                  <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                    <span class="product-card__vendor filter">
                      <span class="visually-hidden">RDW Computers.</span>
                      <img class="filter__image" src="@img/filter-vendor-rdw.png" alt="">
                    </span>
                  </div>
                  <div class="product-card__price-row">
                    <div class="product-card__prices-wrapper">
                      <span class="product-card__price">582 940 ₽</span>
                      <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                    </div>
                    <a class="product-card__button button" href="#!">Заказать</a>
                  </div>
                  <div class="product-card__toolbar">
                    <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                      <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                        <use xlink:href="img/sprite.svg#compare-icon"></use>
                      </svg>
                      <span class="product-card__toolbar-button-text">Сравнить</span>
                    </button>
                    <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                      <span class="product-card__toolbar-button-text">Конфигуратор</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="catalog__cards-item">
              <div class="product-card" data-product-type="servers" data-vendor="rdw-computers">
                <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
                <div class="product-card__content">
                  <p class="product-card__title">iRU Office 310A3SM MT</p>
                  <p class="product-card__subtitle">Компьютер для эффективной работы</p>
                  <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                    <span class="product-card__vendor filter">
                      <span class="visually-hidden">RDW Computers.</span>
                      <img class="filter__image" src="@img/filter-vendor-rdw.png" alt="">
                    </span>
                  </div>
                  <div class="product-card__price-row">
                    <div class="product-card__prices-wrapper">
                      <span class="product-card__price">582 940 ₽</span>
                      <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                    </div>
                    <a class="product-card__button button" href="#!">Заказать</a>
                  </div>
                  <div class="product-card__toolbar">
                    <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                      <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                        <use xlink:href="img/sprite.svg#compare-icon"></use>
                      </svg>
                      <span class="product-card__toolbar-button-text">Сравнить</span>
                    </button>
                    <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                      <span class="product-card__toolbar-button-text">Конфигуратор</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
            <li class="catalog__cards-item">
              <div class="product-card" data-product-type="computers" data-vendor="rdw-computers">
                <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
                <div class="product-card__content">
                  <p class="product-card__title">iRU Office 310A3SM MT</p>
                  <p class="product-card__subtitle">Компьютер для эффективной работы</p>
                  <div class="product-card__image-wrapper">
                    <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                    <span class="product-card__vendor filter">
                      <span class="visually-hidden">RDW Computers.</span>
                      <img class="filter__image" src="@img/filter-vendor-rdw.png" alt="">
                    </span>
                  </div>
                  <div class="product-card__price-row">
                    <div class="product-card__prices-wrapper">
                      <span class="product-card__price">582 940 ₽</span>
                      <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                    </div>
                    <a class="product-card__button button" href="#!">Заказать</a>
                  </div>
                  <div class="product-card__toolbar">
                    <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                      <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                        <use xlink:href="img/sprite.svg#compare-icon"></use>
                      </svg>
                      <span class="product-card__toolbar-button-text">Сравнить</span>
                    </button>
                    <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                      <span class="product-card__toolbar-button-text">Конфигуратор</span>
                    </a>
                  </div>
                </div>
              </div>
            </li>
          </ol>
          <button class="catalog__show-more show-more" type="button">
            <svg class="show-more__icon" width="10" height="15" viewBox="0 0 10 15">
              <use xlink:href="img/sprite.svg#next-arrow-icon"></use>
            </svg>
            <span class="show-more__text">Показать еще</span>
          </button>
        </div>
      </div>
    </section>


    {% include "./blocks/import-features.j2" %}
    {% include "./blocks/need-help.j2" %}

  </main>
{% endblock content %}

{% block modal %}

{% endblock %}

{% block js %}
  <script src="./js/need-help.min.js"></script>
  <script src="./js/catalog.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
