{% extends "layout.j2" %}

{% set page = "certificates" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Сертификаты</span>
          </li>
        </ul>
      </div>
    </div>

    {% set certificateCounter = 1 %}
    <section class="certificates section">
      <div class="container">
        <div class="certificates__content">
          <h1 class="certificates__title title">Сертификаты</h1>
          <ul class="certificates__list">
            <li class="certificates__item">
              <a class="certificates__link" href="img/certificate-full-test.jpg">
                <p class="certificates__item-title">Hyperline</p>
                <p class="certificates__item-description">Сертифицированный инсталлятор</p>
                <img class="certificates__image" src="@img/certificate-{{ certificateCounter }}.jpg" alt="">
              </a>
            </li>
            {% set certificateCounter = certificateCounter + 1 %}
            <li class="certificates__item">
              <a class="certificates__link" href="img/certificate-full-test.jpg">
                <p class="certificates__item-title">Huawei</p>
                <p class="certificates__item-description">Enterprise Structured Cabling Deployment</p>
                <img class="certificates__image" src="@img/certificate-{{ certificateCounter }}.jpg" alt="">
              </a>
            </li>
            {% set certificateCounter = certificateCounter + 1 %}
            <li class="certificates__item">
              <a class="certificates__link" href="img/certificate-full-test.jpg">
                <p class="certificates__item-title">Nikomax</p>
                <p class="certificates__item-description">Сертифицированный инсталлятор</p>
                <img class="certificates__image" src="@img/certificate-{{ certificateCounter }}.jpg" alt="">
              </a>
            </li>
            {% set certificateCounter = certificateCounter + 1 %}
            <li class="certificates__item">
              <a class="certificates__link" href="img/certificate-full-test.jpg">
                <p class="certificates__item-title">Juniper</p>
                <p class="certificates__item-description">Reseller Partner</p>
                <img class="certificates__image" src="@img/certificate-{{ certificateCounter }}.jpg" alt="">
              </a>
            </li>
            {% set certificateCounter = certificateCounter + 1 %}
            <li class="certificates__item">
              <a class="certificates__link" href="img/certificate-full-test.jpg">
                <p class="certificates__item-title">Panduit</p>
                <p class="certificates__item-description">Authorized Partner</p>
                <img class="certificates__image" src="@img/certificate-{{ certificateCounter }}.jpg" alt="">
              </a>
            </li>
            {% set certificateCounter = certificateCounter + 1 %}
            <li class="certificates__item">
              <a class="certificates__link" href="img/certificate-full-test.jpg">
                <p class="certificates__item-title">Lenovo</p>
                <p class="certificates__item-description">PC Partner Authorized</p>
                <img class="certificates__image" src="@img/certificate-{{ certificateCounter }}.jpg" alt="">
              </a>
            </li>
            {% set certificateCounter = certificateCounter + 1 %}
            <li class="certificates__item">
              <a class="certificates__link" href="img/certificate-full-test.jpg">
                <p class="certificates__item-title">Lenovo</p>
                <p class="certificates__item-description">Lenovo ISG Partner Authorized</p>
                <img class="certificates__image" src="@img/certificate-{{ certificateCounter }}.jpg" alt="">
              </a>
            </li>
            {% set certificateCounter = certificateCounter + 1 %}
          </ul>
        </div>
      </div>
    </section>

    {% include "./blocks/our-advantages.j2" %}

  </main>
{% endblock content %}

{% block modal %}
  {% include "./blocks/modal-image.j2" %}
{% endblock %}

{% block js %}
  <script src="./js/modal-image.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
