{% extends "layout.j2" %}

{% set page = "configurator-safe-region" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./configurators.html">Конфигураторы</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Система видеонаблюдения «Безопасный регион»</span>
          </li>
        </ul>
      </div>
    </div>
    <section class="sfr section">
      <div class="container">
        <h1 class="sfr__title title">Конфигуратор программно-технического комплекса видеонаблюдения «Безопасный регион»</h1>
        <div class="sfr__content section__content">
          <form class="sfr__form form" id="sfr-form" action="https://echo.htmlacademy.ru" method="post">
            <p class="sfr__do-next">
              Введите количество камер каждого типа:
            </p>
            <ul class="sfr__cameras">
              <li class="sfr__camera">
                <span class="sfr__camera-short-title">ММС</span>
                <div class="sfr__camera-wrapper">
                  <label class="sfr__camera-title" for="sfr-mmc-cnt">Камера видеонабюдения в местах массового скопления людей</label>
                  <div class="sfr__number-field-wrapper">
                    <input class="sfr__number-field form__field" type="number" id="sfr-mmc-cnt" name="sfr-mmc-cnt" value="1" min="0" max="99">
                    <button class="sfr__clear-button" type="button">
                      <span class="visually-hidden">Очистить поле.</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="sfr__camera">
                <span class="sfr__camera-short-title">ГРЗ</span>
                <div class="sfr__camera-wrapper">
                  <label class="sfr__camera-title" for="sfr-grz-cnt">Камера для регистрации государственных регистрационных знаков</label>
                  <div class="sfr__number-field-wrapper">
                    <input class="sfr__number-field form__field" type="number" id="sfr-grz-cnt" name="sfr-grz-cnt" value="1" min="0" max="99">
                    <button class="sfr__clear-button" type="button">
                      <span class="visually-hidden">Очистить поле.</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="sfr__camera">
                <span class="sfr__camera-short-title">ПВН</span>
                <div class="sfr__camera-wrapper">
                  <label class="sfr__camera-title" for="sfr-pvn-cnt">Камера подъездного видеонаблюдения</label>
                  <div class="sfr__number-field-wrapper">
                    <input class="sfr__number-field form__field" type="number" id="sfr-pvn-cnt" name="sfr-pvn-cnt" value="1" min="0" max="99">
                    <button class="sfr__clear-button" type="button">
                      <span class="visually-hidden">Очистить поле.</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="sfr__camera">
                <span class="sfr__camera-short-title">ВВН</span>
                <div class="sfr__camera-wrapper">
                  <label class="sfr__camera-title" for="sfr-vvn-cnt">Камера внутреннего видеонаблюдения</label>
                  <div class="sfr__number-field-wrapper">
                    <input class="sfr__number-field form__field" type="number" id="sfr-vvn-cnt" name="sfr-vvn-cnt" value="1" min="0" max="99">
                    <button class="sfr__clear-button" type="button">
                      <span class="visually-hidden">Очистить поле.</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="sfr__camera">
                <span class="sfr__camera-short-title">МКДН</span>
                <div class="sfr__camera-wrapper">
                  <label class="sfr__camera-title" for="sfr-mkdn-cnt">Многоабонентский домофон со встроенной видеокамерой</label>
                  <div class="sfr__number-field-wrapper">
                    <input class="sfr__number-field form__field" type="number" id="sfr-mkdn-cnt" name="sfr-mkdn-cnt" value="1" min="0" max="99">
                    <button class="sfr__clear-button" type="button">
                      <span class="visually-hidden">Очистить поле.</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="sfr__camera">
                <span class="sfr__camera-short-title">ТВН</span>
                <div class="sfr__camera-wrapper">
                  <label class="sfr__camera-title" for="sfr-tvn-cnt">Камера видеонаблюдения для распознавание лиц на транспорте</label>
                  <div class="sfr__number-field-wrapper">
                    <input class="sfr__number-field form__field" type="number" id="sfr-tvn-cnt" name="sfr-tvn-cnt" value="1" min="0" max="99">
                    <button class="sfr__clear-button" type="button">
                      <span class="visually-hidden">Очистить поле.</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="sfr__camera">
                <span class="sfr__camera-short-title">ТГРЗ</span>
                <div class="sfr__camera-wrapper">
                  <label class="sfr__camera-title" for="sfr-tgrz-cnt">Камера для регистрации государственных регистрационных знаков на транспорте</label>
                  <div class="sfr__number-field-wrapper">
                    <input class="sfr__number-field form__field" type="number" id="sfr-tgrz-cnt" name="sfr-tgrz-cnt" value="1" min="0" max="99">
                    <button class="sfr__clear-button" type="button">
                      <span class="visually-hidden">Очистить поле.</span>
                    </button>
                  </div>
                </div>
              </li>
              <li class="sfr__camera">
                <span class="sfr__camera-short-title">ТСВН</span>
                <div class="sfr__camera-wrapper">
                  <label class="sfr__camera-title" for="sfr-tsvn-cnt">Камера салонного видеонаблюдения на транспорте</label>
                  <div class="sfr__number-field-wrapper">
                    <input class="sfr__number-field form__field" type="number" id="sfr-tsvn-cnt" name="sfr-tsvn-cnt" value="1" min="0" max="99">
                    <button class="sfr__clear-button" type="button">
                      <span class="visually-hidden">Очистить поле.</span>
                    </button>
                  </div>
                </div>
              </li>
            </ul>
            <div class="sfr__form-footer">
              <label class="form__label form__label--checkbox">
                <input class="form__checkbox visually-hidden" type="checkbox" name="sfr-mkd" id="sfr-mkd" value="true" checked>
                <span class="form__mark"></span>
                <span class="form__checkbox-label-text">Объект МКД (многоквартирный дом)</span>
              </label>
              <label class="form__label form__label--checkbox">
                <input class="form__checkbox visually-hidden" type="checkbox" name="sfr-netris" id="sfr-netris">
                <span class="form__mark"></span>
                <span class="form__checkbox-label-text">Требуется лицензия Netris</span>
              </label>
              <button class="sfr__calc-button button" type="button">Рассчитать</button>
            </div>
            <div class="sfr__summary">
              <div class="sfr__summary-image-wrapper">
                <span class="sfr__summary-title">Конфигурация «Безопасный&nbsp;регион»</span>
                <picture>
                  <source type="image/webp" media="(min-width: 768px)" srcset="@img/sfr-summary-desktop.webp 1x, @img/sfr-summary-desktop@2x.webp 2x">
                  <source type="image/webp" srcset="@img/sfr-summary-mobile.webp 1x, @img/sfr-summary-mobile@2x.webp 2x">
                  <source media="(min-width: 768px)" srcset="@img/sfr-summary-desktop.png 1x, @img/sfr-summary-desktop@2x.png 2x">
                  <img class="sfr__summary-image" src="@img/sfr-summary-mobile.png" srcset="@img/sfr-summary-mobile@2x.png 2x" alt="">
                </picture>
              </div>
              <div class="sfr__subform form">
                <div class="sfr__subform-equip">
                  <ul class="sfr__subform-equip-list">
                    <li class="sfr__subform-equip-item">
                      <dl class="sfr__subform-equip-desc-list">
                        <dt class="sfr__subform-equip-desc-term">Количество камер</dt>
                        <dd class="sfr__subform-equip-desc-def" id="sfr-cams-cnt">12</dd>
                      </dl>
                    </li>
                    <li class="sfr__subform-equip-item">
                      <dl class="sfr__subform-equip-desc-list">
                        <dt class="sfr__subform-equip-desc-term">Количество видеокарт</dt>
                        <dd class="sfr__subform-equip-desc-def" id="sfr-videocards-cnt">12</dd>
                      </dl>
                    </li>
                    <li class="sfr__subform-equip-item">
                      <dl class="sfr__subform-equip-desc-list">
                        <dt class="sfr__subform-equip-desc-term">Объем оперативной памяти</dt>
                        <dd class="sfr__subform-equip-desc-def" id="sfr-memory-size">8Гб</dd>
                      </dl>
                    </li>
                  </ul>
                </div>
                <div class="sfr__subform-wrapper">
                  <label class="form__label">
                    <span class="form__label-text form__label-text--black">Ваше имя</span>
                    <input class="form__field" type="text" id="sfr-name" name="sfr-name" placeholder="Введите ваше имя">
                  </label>
                  <div class="form__row">
                    <label class="form__label form__label--messengers">
                      <span class="form__label-text form__label-text--black">Как с вами связаться?</span>
                      <select class="form__select" id="sfr-messengers" name="sfr-messengers">
                        <option value="Whatsapp">Whatsapp</option>
                        <option value="Telegram">Telegram</option>
                        <option value="Телефон">Телефон</option>
                      </select>
                    </label>
                    <label class="form__label">
                      <span class="form__label-text form__label-text--black">Ваш телефон</span>
                      <input class="form__field" type="tel" id="sfr-phone" name="sfr-phone" placeholder="+7 (999) 999-99-99" required data-pristine-required-message="Обязательно к заполнению">
                    </label>
                  </div>
                  <button class="sfr__submit-button button form__submit-button" type="submit">Получить консультацию</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    {% include "./blocks/our-advantages.j2" %}
  </main>
{% endblock content %}

{% block modal %}

{% endblock %}

{% block js %}
  <script src="./js/sfr.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
