{% extends "layout.j2" %}

{% set page = "configurator-shd" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./configurators.html">Конфигураторы</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Конфигуратор СХД</span>
          </li>
        </ul>
      </div>
    </div>

    <section class="shd section">
      <div class="container">
        <div class="shd__content section__content">
          <h1 class="shd__title title">Конфигуратор СХД</h1>
          <form class="shd__form form" id="shd-form" action="" method="post">
            <fieldset class="shd__common">
              <legend class="visually-hidden">Общее</legend>
              <ul class="shd__topology-list form__square-radio-list">
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-topology" id="" value="FC">
                    <span class="form__square-radio-mark">FC</span>
                  </label>
                </li>
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-topology" id="" value="SAS">
                    <span class="form__square-radio-mark">SAS</span>
                  </label>
                </li>
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-topology" id="" value="iSCSi">
                    <span class="form__square-radio-mark">iSCSi</span>
                  </label>
                </li>
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-topology" id="" value="10GbiSCSI" checked>
                    <span class="form__square-radio-mark">10GbiSCSI</span>
                  </label>
                </li>
              </ul>
              <ul class="shd__hdd-type-list form__square-radio-list">
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-ssd-type" id="" value="2,5" checked>
                    <span class="form__square-radio-mark">2,5”</span>
                  </label>
                </li>
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-ssd-type" id="" value="3,5">
                    <span class="form__square-radio-mark">3,5”</span>
                  </label>
                </li>
              </ul>
              <ul class="shd__ctrl-type-list form__square-radio-list">
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-ctrl-type" id="" value="single" checked>
                    <span class="form__square-radio-mark">Single controller</span>
                  </label>
                </li>
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-ctrl-type" id="" value="dual">
                    <span class="form__square-radio-mark">Dual controller</span>
                  </label>
                </li>
              </ul>
            </fieldset>
            <ul class="shd__groups">
              <li class="shd__groups-item">
                <fieldset class="shd__group shd__group--platform">
                  <legend class="visually-hidden">Платформа</legend>
                  <p class="shd__group-title">Платформа</p>
                  <div class="shd__group-content">
                    <ul class="shd__group-list">
                      <li class="shd__group-item">
                        <label class="shd__group-row form__radio">
                          <input class="shd__group-row-input form__radio-input visually-hidden" type="radio" name="shd-platfrom" id="" value="2ГБ EonStor DS 1000 Gen2 2U/12bay (1012G2-B)" checked>
                          <span class="shd__radio-mark form__radio-mark"></span>
                          <span class="shd__price">860$</span>
                          <span class="shd__group-row-text form__radio-text">2ГБ EonStor DS 1000 Gen2 2U/12bay (1012G2-B)</span>
                        </label>
                      </li>
                      <li class="shd__group-item">
                        <label class="shd__group-row form__radio">
                          <input class="shd__group-row-input form__radio-input visually-hidden" type="radio" name="shd-platfrom" id="" value="2ГБ EonStor DS 1000 Gen2 2U/24bay (1024G2B-B)">
                          <span class="shd__radio-mark shd__group-row-input form__radio-mark"></span>
                          <span class="shd__price">610$</span>
                          <span class="shd__group-row-text form__radio-text">2ГБ EonStor DS 1000 Gen2 2U/24bay (1024G2B-B)</span>
                        </label>
                      </li>
                      <li class="shd__group-item">
                        <label class="shd__group-row form__radio">
                          <input class="shd__group-row-input form__radio-input visually-hidden" type="radio" name="shd-platfrom" id="" value="2ГБ EonStor DS 2000 Gen2 2U/12bay (2012G2-B)">
                          <span class="shd__radio-mark form__radio-mark"></span>
                          <span class="shd__price">610$</span>
                          <span class="shd__group-row-text form__radio-text">2ГБ EonStor DS 2000 Gen2 2U/12bay (2012G2-B)</span>
                        </label>
                      </li>
                      <li class="shd__group-item">
                        <label class="shd__group-row form__radio">
                          <input class="shd__group-row-input form__radio-input visually-hidden" type="radio" name="shd-platfrom" id="" value="2ГБ EonStor DS 2000 Gen2 2U/24bay (2024G2B-B)">
                          <span class="shd__radio-mark form__radio-mark"></span>
                          <span class="shd__price">860$</span>
                          <span class="shd__group-row-text form__radio-text">2ГБ EonStor DS 2000 Gen2 2U/24bay (2024G2B-B)</span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </fieldset>
              </li>
              <li class="shd__groups-item">
                <fieldset class="shd__group shd__group--hdd">
                  <legend class="visually-hidden">Жесткие диски</legend>
                  <p class="shd__group-title">Жесткие диски</p>
                  <div class="shd__group-content">
                    <div class="shd__hdd-slots-row shd__group-row shd__group-row--centered">
                      <p class="shd__hdd-slots-num">Допустимое количество слотов: <span class="shd__hdd-slots-num-val" id="shd-hdd-slots-num">12</span></p>
                      <ul class="form__square-radio-list">
                        <li class="form__square-radio-item">
                          <label class="form__square-radio">
                            <input class="form__square-radio-input visually-hidden" type="radio" name="shd-group-hdd" id="" value="SAS">
                            <span class="form__square-radio-mark">SAS</span>
                          </label>
                        </li>
                        <li class="form__square-radio-item">
                          <label class="form__square-radio">
                            <input class="form__square-radio-input visually-hidden" type="radio" name="shd-group-hdd" id="" value="SSD">
                            <span class="form__square-radio-mark">SAS</span>
                          </label>
                        </li>
                        <li class="form__square-radio-item">
                          <label class="form__square-radio">
                            <input class="form__square-radio-input visually-hidden" type="radio" name="shd-group-hdd" id="" value="SATA" checked>
                            <span class="form__square-radio-mark">SATA</span>
                          </label>
                        </li>
                      </ul>
                    </div>
                    <ul class="shd__group-list">
                      <li class="shd__group-item">
                        <label class="shd__group-row shd__group-row--centered">
                          <input class="shd__group-row-input shd__number-field form__field" type="number" name="shd-hdd-600gb" value="0" min="0" max="12">
                          <span class="shd__price">860$</span>
                          <span class="shd__group-row-text">600 GB 10,000 rpm SAS12G 2.5</span>
                        </label>
                      </li>
                      <li class="shd__group-item">
                        <label class="shd__group-row shd__group-row--centered">
                          <input class="shd__group-row-input shd__number-field form__field" type="number" name="shd-hdd-1200gb" value="0" min="0" max="12">
                          <span class="shd__price">860$</span>
                          <span class="shd__group-row-text">1200 GB 10,000 rpm SAS12G 2.5</span>
                        </label>
                      </li>
                      <li class="shd__group-item">
                        <label class="shd__group-row shd__group-row--centered">
                          <input class="shd__group-row-input shd__number-field form__field" type="number" name="shd-hdd-1800gb" value="0" min="0" max="12">
                          <span class="shd__price">860$</span>
                          <span class="shd__group-row-text">1800 GB 10,000 rpm SAS12G 2.5</span>
                        </label>
                      </li>
                      <li class="shd__group-item">
                        <label class="shd__group-row shd__group-row--centered">
                          <input class="shd__group-row-input shd__number-field form__field" type="number" name="shd-hdd-2tb" value="0" min="0" max="12">
                          <span class="shd__price">860$</span>
                          <span class="shd__group-row-text">2 TB 7200 rpm 12 Gb SAS 3.5</span>
                        </label>
                      </li>
                      <li class="shd__group-item">
                        <label class="shd__group-row shd__group-row--centered">
                          <input class="shd__group-row-input shd__number-field form__field" type="number" name="shd-hdd-2400gb" value="0" min="0" max="12">
                          <span class="shd__price">860$</span>
                          <span class="shd__group-row-text">2400 GB 10,000 rpm SAS12G 2.5</span>
                        </label>
                      </li>
                      <li class="shd__group-item">
                        <label class="shd__group-row shd__group-row--centered">
                          <input class="shd__group-row-input shd__number-field form__field" type="number" name="shd-hdd-4tb" value="0" min="0" max="12">
                          <span class="shd__price">860$</span>
                          <span class="shd__group-row-text">4 TB 7200 rpm 12 Gb SAS 3.5</span>
                        </label>
                      </li>
                      <li class="shd__group-item">
                        <label class="shd__group-row shd__group-row--centered">
                          <input class="shd__group-row-input shd__number-field form__field" type="number" name="shd-hdd-6tb" value="0" min="0" max="12">
                          <span class="shd__price">860$</span>
                          <span class="shd__group-row-text">6 TB 7200 rpm 12 Gb SAS 3.5</span>
                        </label>
                      </li>
                      <li class="shd__group-item">
                        <label class="shd__group-row shd__group-row--centered">
                          <input class="shd__group-row-input shd__number-field form__field" type="number" name="shd-hdd-8tb" value="0" min="0" max="12">
                          <span class="shd__price">860$</span>
                          <span class="shd__group-row-text">8 TB 7200 rpm 12 Gb SAS 3.5</span>
                        </label>
                      </li>
                      <li class="shd__group-item">
                        <label class="shd__group-row shd__group-row--centered">
                          <input class="shd__group-row-input shd__number-field form__field" type="number" name="shd-hdd-10tb" value="0" min="0" max="99">
                          <span class="shd__price">860$</span>
                          <span class="shd__group-row-text">10 TB 7200 rpm 12 Gb SAS 3.5</span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </fieldset>
              </li>
              <li class="shd__groups-item">
                <fieldset class="shd__group shd__group--hdd-jbod">
                  <legend class="visually-hidden">Жесткие диски JBOD</legend>
                  <p class="shd__group-title">Жесткие диски JBOD</p>
                  <div class="shd__group-content">
                    <div class="shd__group-row">
                      <select class="form__select" id="shd-jbod" name="shd-jbod">
                        <option value="">Добавить JBOD</option>
                        <option value="JBOD1">JBOD1</option>
                        <option value="JBOD2">JBOD2</option>
                        <option value="JBOD3">JBOD3</option>
                      </select>
                    </div>
                  </div>
                </fieldset>
              </li>
              <li class="shd__groups-item">
                <fieldset class="shd__group shd__group--adapters">
                  <legend class="visually-hidden">Адаптеры для установки в сервер и опции</legend>
                  <p class="shd__group-title">Адаптеры для&nbsp;установки в&nbsp;сервер и опции</p>
                  <div class="shd__group-content">
                    <div class="shd__group-row shd__group-row--centered shd__group-row--straight">
                      <span class="shd__group-row-text">EonStor converged host board</span>
                      <span class="shd__price">860$</span>
                      <select class="form__select" id="shd-eonstor-converged-port-numbers" name="shd-eonstor-converged-port-numbers">
                        <option value="">Количество портов</option>
                        <option value="4 x 8Gb/s FC ports">4 x 8Gb/s FC ports</option>
                        <option value="2 x 16Gb/s FCports">2 x 16Gb/s FCports</option>
                        <option value="4 x 10Gb/s iSCSI">4 x 10Gb/s iSCSI</option>
                        <option value="4 x 10Gb/s FCoE ports">4 x 10Gb/s FCoE ports</option>
                      </select>
                    </div>
                    <div class="shd__group-row shd__group-row--centered shd__group-row--straight">
                      <span class="shd__group-row-text">EonStor host board</span>
                      <span class="shd__price">860$</span>
                      <select class="form__select" id="shd-eonstor-port-numbers" name="shd-eonstor-port-numbers">
                        <option value="">Количество портов</option>
                        <option value="4 x 8Gb/s FC ports">4 x 8Gb/s FC ports</option>
                        <option value="2 x 16Gb/s FCports">2 x 16Gb/s FCports</option>
                        <option value="4 x 10Gb/s iSCSI">4 x 10Gb/s iSCSI</option>
                        <option value="4 x 10Gb/s FCoE ports">4 x 10Gb/s FCoE ports</option>
                      </select>
                    </div>
                  </div>
                </fieldset>
              </li>
            </ul>

          </form>
        </div>
      </div>
    </section>

    {% include "./blocks/our-advantages.j2" %}
  </main>
{% endblock content %}

{% block modal %}

{% endblock %}

{% block js %}

  <script src="./js/shd.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
