{% extends "layout.j2" %}

{% set page = "configurator-shd" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./configurators.html">Конфигураторы</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Конфигуратор СХД</span>
          </li>
        </ul>
      </div>
    </div>

    <section class="shd section">
      <div class="container">
        <div class="shd__content section__content">
          <h1 class="shd__title title">Конфигуратор СХД</h1>
          <form class="shd__form form" action="" method="post">
            <fieldset class="shd__common">
              <legend class="visually-hidden">Общее</legend>
              <ul class="shd__topology-list form__square-radio-list">
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-topology" id="" value="FC">
                    <span class="form__square-radio-mark">FC</span>
                  </label>
                </li>
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-topology" id="" value="SAS">
                    <span class="form__square-radio-mark">SAS</span>
                  </label>
                </li>
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-topology" id="" value="iSCSi">
                    <span class="form__square-radio-mark">iSCSi</span>
                  </label>
                </li>
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-topology" id="" value="10GbiSCSI" checked>
                    <span class="form__square-radio-mark">10GbiSCSI</span>
                  </label>
                </li>
              </ul>
              <ul class="shd__hdd-type-list form__square-radio-list">
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-ssd-type" id="" value="2,5" checked>
                    <span class="form__square-radio-mark">2,5”</span>
                  </label>
                </li>
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-ssd-type" id="" value="3,5">
                    <span class="form__square-radio-mark">3,5”</span>
                  </label>
                </li>
              </ul>
              <ul class="shd__ctrl-type-list form__square-radio-list">
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-ctrl-type" id="" value="single" checked>
                    <span class="form__square-radio-mark">Single controller</span>
                  </label>
                </li>
                <li class="form__square-radio-item">
                  <label class="form__square-radio">
                    <input class="form__square-radio-input visually-hidden" type="radio" name="shd-ctrl-type" id="" value="dual">
                    <span class="form__square-radio-mark">Dual controller</span>
                  </label>
                </li>
              </ul>
            </fieldset>
          </form>
        </div>
      </div>
    </section>

    {% include "./blocks/our-advantages.j2" %}
  </main>
{% endblock content %}

{% block modal %}

{% endblock %}

{% block js %}
  <script src="./js/main.min.js"></script>
{% endblock %}
