{% extends "layout.j2" %}

{% set page = "index" %}

{% block content %}
  <main class="page-main">
    {# <div class="container">
      <h1>Главная</h1>
      <a href="./certificates.html">Сертификаты</a>
      <a href="./reviews.html">Отзывы</a>
      <a href="./comparison.html">Сравнение</a>
    </div> #}
  </main>
  {% include "./blocks/features-under-key.j2" %}
  {% include "./blocks/services.j2" %}
  {% include "./blocks/equipment.j2" %}
  {% include "./blocks/our-advantages.j2" %}
  <section class="completed-projects section completed-projects--index">
  <div class="container completed-projects__container">
    <div class="completed-projects__content">
      <h2 class="completed-projects__title title">Реализованные проекты</h2>
      <div class="completed-projects__list-wrapper">
        <ul class="completed-projects__list">
          <li class="completed-projects__item">
            {% include "./blocks/case-cards/case-card-otkritie.j2" %}
          </li>
          <li class="completed-projects__item">
            {% include "./blocks/case-cards/case-card-rkif.j2" %}
          </li>
          <li class="completed-projects__item">
            {% include "./blocks/case-cards/case-card-daf.j2" %}
          </li>
          <li class="completed-projects__item">
            {% include "./blocks/case-cards/case-card-ascott.j2" %}
          </li>
          <li class="completed-projects__item">
            {% include "./blocks/case-cards/case-card-printprof.j2" %}
          </li>
          <li class="completed-projects__item">
            {% include "./blocks/case-cards/case-card-logixpro.j2" %}
          </li>
        </ul>
      </div>
    </div>

  </div>
</section>
{% endblock content %}

{% block js %}
  <script src="./js/consult-with-eng.min.js"></script>
  <script src="./js/macy.min.js"></script>
  <script src="./js/cases.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
