{% extends "layout.j2" %}

{% set page = "index" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <h1>Главная</h1>
      <a href="./certificates.html">Сертификаты</a>
    </div>
  </main>
{% endblock content %}

{% block js %}
  <script src="./js/main.min.js"></script>
{% endblock %}
