{% extends "layout.j2" %}

{% set page = "index" %}

{% block content %}
  <main class="page-main">
    {# <div class="container">
      <h1>Главная</h1>
      <a href="./certificates.html">Сертификаты</a>
      <a href="./reviews.html">Отзывы</a>
      <a href="./comparison.html">Сравнение</a>
    </div> #}
  </main>
  {% include "./blocks/features-under-key.j2" %}
{% endblock content %}

{% block js %}
  <script src="./js/main.min.js"></script>
{% endblock %}
