{% extends "layout.j2" %}

{% set page = "product-page" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./import-replacement.html">Импортозамещение в EXASystems</a>
          </li>
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="#!">Импортозамещение оборудования</a>
          </li>
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="#!">Серверное оборудование</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">HPE ProLiant DL380 Gen10</span>
          </li>
        </ul>
      </div>
    </div>

    <section class="product-page">
      <div class="product-page__main">
        <div class="container">
          <div class="product-page__content">
            <div class="product-page__main-top">
              <div class="product-page__text-content">
                <div class="product-page__header">
                  <h1 class="product-page__title title">HPE ProLiant DL380 Gen10</h1>
                  <span class="product-page__type visually-hidden">Сервер</span>
                  <span class="product-page__vendor filter">
                    <img class="filter__image" src="@img/filter-vendor-iru.png" alt="Логотип компании iru.">
                  </span>
                </div>
                <p class="product-page__slogan">
                  Производительность<br>мирового класса<br>и невероятная универсальность
                </p>
                <p class="product-page__mini-description">
                  Серверы HPE ProLiant DL380 Gen10 предназначены для решения сложных ресурсоемких задач, включая виртуализацию и облачную работы, рекомендуются к использованию средними и крупными компаниями с развитой инфраструктурой.
                </p>
              </div>
              <figure class="product-page__image-wrapper">
                <img class="product-page__image" src="@img/product-page-photo-1.png" width="502" height="124" alt="Фотография сервера HPE ProLiant DL380 Gen10.">
              </figure>
            </div>
            <div class="product-page__main-bottom">
              <div class="product-page__prices">
                <span class="product-page__price">582 940 ₽</span>
                <span class="product-page__credit">/ <span class="product-page__credit-value">24 290 ₽</span> в месяц</span>
              </div>
              <div class="product-page__toolbar">
                <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                  <span class="product-card__toolbar-button-text">Конфигуратор</span>
                </a>
                <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                  <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                    <use xlink:href="img/sprite.svg#compare-icon"></use>
                  </svg>
                  <span class="product-card__toolbar-button-text">Сравнить</span>
                </button>
              </div>
              <div class="product-page__button-wrapper">
                <span class="product-page__availability">в наличии</span>
                <button class="product-page__button order-button button" type="button">Заказать</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-page__tabs tabs">
        <div class="product-page__tabs-list-wrapper">
          <div class="container">
            <ul class="product-page__tabs-list tabs__list">
              <li class="product-page__tabs-item tabs__item">
                <button class="product-page__tabs-button tabs__button" type="button">Описание</button>
              </li>
              <li class="product-page__tabs-item tabs__item">
                <button class="product-page__tabs-button tabs__button" type="button">Технические характеристики</button>
              </li>
              <li class="product-page__tabs-item tabs__item">
                <button class="product-page__tabs-button tabs__button" type="button">Готовые модели</button>
              </li>
              <li class="product-page__tabs-item tabs__item">
                <button class="product-page__tabs-button tabs__button" type="button">Гарантия и поддержка</button>
              </li>
            </ul>
          </div>
        </div>
        <div class="product-page__panels-wrapper">
          <div class="container">
            <div class="product-page__panels tabs__panels">
              <div class="product-page__pannel tabs__panel">
                <h3 class="product-page__pannel-title">Описание</h3>
                <p class="product-page__panel-highlight">Производительность мирового класса и невероятная универсальность</p>
                <p class="product-page__description-paragraph">
                  Сервер HPE ProLiant DL380 Gen10 предназначен для сокращения расходов и упрощения работы.
                </p>
                <p class="product-page__description-paragraph">
                  Масштабируемое семейство процессоров Intel® Xeon® 1-го и 2-го поколения позволяют повысить производительность на 60 %1 и использовать на 27 % больше ядер2. Кроме того, поддерживается 3 Тбайт памяти HPE DDR4 SmartMemory с быстродействием 2933 млн транзакций/с. Он поддерживает устройства SAS 12 Гбит/с и до 20 накопителей NVMe, а также большой выбор различных вычислительных решений.
                </p>
                <p class="product-page__description-paragraph">
                  Исключительный уровень производительности и отказоустойчивости для баз данных и аналитических рабочих нагрузок благодаря энергонезависимой памяти HPE Persistent Memory.
                </p>
                <p class="product-page__description-paragraph">
                  Сервер очень прост в развертывании и подходит для обслуживания как базовых, так и критически важных приложений.
                </p>
                <div class="product-page__docs">
                  <p class="product-page__panel-subtitle">Документация</p>
                  <ul class="product-page__docs-list">
                    <li class="product-page__docs-item">
                      <a class="product-page__docs-link blue-link" href="./Datasheet_DL380_gen10.pdf" target="_blank">
                        <svg class="blue-link__icon" width="24" height="25" viewBox="0 0 24 25">
                          <use xlink:href="img/sprite.svg#doc-icon"></use>
                        </svg>
                        <span class="blue-link__text">Datasheet_DL380_gen10.pdf</span>
                      </a>
                    </li>
                    <li class="product-page__docs-item">
                      <a class="product-page__docs-link blue-link" href="./Datasheet_DL380_gen10.pdf" target="_blank">
                        <svg class="blue-link__icon" width="24" height="25" viewBox="0 0 24 25">
                          <use xlink:href="img/sprite.svg#doc-icon"></use>
                        </svg>
                        <span class="blue-link__text">Datasheet_DL380_gen10.pdf</span>
                      </a>
                    </li>
                  </ul>
                </div>

              </div>
              <div class="product-page__pannel tabs__panel">
                <h3 class="product-page__pannel-title">Технические характеристики</h3>
                <ul class="product-page__charachteristics">
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Тип процессора</dt>
                      <dd class="product-page__charachteristics-value">Intel</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Семейство процессоров</dt>
                      <dd class="product-page__charachteristics-value">Intel® Xeon® Scalable серии 8100/8200 Intel® Xeon® Scalable серии 6100/6200 Intel® Xeon® Scalable серии 5100/5200 Intel® Xeon® Scalable серии 4100/4200 Intel® Xeon® Scalable серии 3100/3200</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Количество ядер процессора</dt>
                      <dd class="product-page__charachteristics-value">4–28 ядер в зависимости от модели</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Кэш процессора</dt>
                      <dd class="product-page__charachteristics-value">8,25–38,5 Мбайт L3, в зависимости от модели процессора</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Максимальный объем памяти</dt>
                      <dd class="product-page__charachteristics-value">3 Тбайт с модулями DDR4 128 Гбайт, в зависимости от модели процессора; 6 Тбайт с комплектом модулей энергонезависимой памяти HPE Persistent Memory 2666 512 Гбайт, в зависимости от модели процессора</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Слоты для памяти</dt>
                      <dd class="product-page__charachteristics-value">24 слота DIMM</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Тип памяти</dt>
                      <dd class="product-page__charachteristics-value">Память HPE DDR4 SmartMemory и энергонезависимая память HPE Persistent Memory, в зависимости от модели</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Тип модуля NVDIMM</dt>
                      <dd class="product-page__charachteristics-value">HPE NVDIMM-N <span class="product-page__charachteristics-star">*Доступно только в 1-м поколении масштабируемых процессоров Intel® Xeon® Scalable</span></dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Ранг модуля NVDIMM</dt>
                      <dd class="product-page__charachteristics-value">Одноранговый</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Емкость модуля NVDIMM</dt>
                      <dd class="product-page__charachteristics-value">16 Гбайт</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Поддерживаемый накопитель</dt>
                      <dd class="product-page__charachteristics-value">8 или 12 дисков SAS/SATA/твердотельных накопителей большого форм-фактора, 8, 10, 16, 18 или 24 диска SAS/SATA/твердотельных накопителя малого форм-фактора; 2 твердотельных накопителя M.2 SATA (стандартно) в основной переходной плате, в зависимости от конфигурации; 6 дополнительных накопителей малого форм-фактора или 3 большого форм-фактора в заднем отсеке и 2 дополнительных накопителя малого форм-фактора или 2 накопителя форм-фактора Dual UFF в заднем отсеке; 20 дополнительных накопителей NVMe малого форм-фактора; поддержка NVMe через Express Bay с ограничением максимального объема накопителя</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Сетевой контроллер</dt>
                      <dd class="product-page__charachteristics-value">Ethernet-адаптер HPE 331i, 1 Гбит/с, 4 порта на контроллер и/или дополнительный адаптер HPE FlexibleLOM (в зависимости от модели)</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Управление инфраструктурой</dt>
                      <dd class="product-page__charachteristics-value">HPE iLO Standard с функцией Intelligent Provisioning (встроенная), HPE OneView Standard (стандартно, требуется загрузка), HPE iLO Advanced и HPE OneView Advanced (дополнительно; требуются лицензии)</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Функции системных вентиляторов</dt>
                      <dd class="product-page__charachteristics-value">Резервные вентиляторы с возможностью горячей замены в стандартной комплектаци</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Слоты расширения</dt>
                      <dd class="product-page__charachteristics-value">8</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Контроллер хранилища</dt>
                      <dd class="product-page__charachteristics-value">1 контроллер HPE Smart Array S100i и/или 1 контроллер HPE Smart Array P408i-a и/или 1 HPE Smart Array P816i-a и/или 1 контроллер HPE Smart Array E208i-a, в зависимости от модели</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Модель процессора</dt>
                      <dd class="product-page__charachteristics-value">Intel</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Количество процессоров</dt>
                      <dd class="product-page__charachteristics-value">1 или 2</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Быстродействие процессора</dt>
                      <dd class="product-page__charachteristics-value">3,9 ГГц (максимум), в зависимости от процессора</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Стандартный объем памяти</dt>
                      <dd class="product-page__charachteristics-value">3 Тбайт (24 X 128 Гбайт) LRDIMM; 6 Тбайт (12 X 512 Гбайт) энергонезависимой памяти HPE Persistent Memory</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Безопасность</dt>
                      <dd class="product-page__charachteristics-value">Дополнительный комплект запирающихся панелей, комплект для обнаружения вторжений и HPE TPM 2.0</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Форм-фактор</dt>
                      <dd class="product-page__charachteristics-value">2U</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Вес (английская система)</dt>
                      <dd class="product-page__charachteristics-value">32.6 lb</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Масса (метрическая система)</dt>
                      <dd class="product-page__charachteristics-value">14,76 кг</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Габариты продукта (английская система) (H x B x T)</dt>
                      <dd class="product-page__charachteristics-value">17,54 x 28,75 x 3,44 дюйма</dd>
                    </dl>
                  </li>
                  <li class="product-page__charachteristics-item">
                    <dl class="product-page__charachteristics-list">
                      <dt class="product-page__charachteristics-name">Габариты продукта (метрическая система) (H x B x T)</dt>
                      <dd class="product-page__charachteristics-value">44,55 x 73,03 x 8,74 см</dd>
                    </dl>
                  </li>
                </ul>
                <p class="product-page__copyright">Intel и Intel Xeon являются товарными знаками Intel Corporation в США и других странах. Microsoft и Azure являются зарегистрированными товарными знаками Microsoft Corporation в США и других странах. Все прочие товарные знаки являются собственностью соответствующих владельцев.</p>
              </div>
              <div class="product-page__pannel tabs__panel">
                <h3 class="product-page__pannel-title">Готовые модели</h3>
                <ul class="product-page__models-list">
                  <li class="product-page__models-item">
                    <a class="product-page__model-link blue-link blue-link--no-svg" href="#!">875670-425</a>
                    <p class="product-page__model-about">
                      HPE ProLiant DL380 Gen10 Bronze 3106 Rack(2U) Xeon8C 1.7GHz(11MB) 1x16GbR2D_2666 P408i-aFBWC(2Gb/RAID 0/1/10/5/50/6/60) 2x300GB_10K(8 24+6up)SFF UMB+DVDRW iLOstd 4HPFans 4x1GbEth EasyRK 1x500w(2up)
                    </p>
                  </li>
                  <li class="product-page__models-item">
                    <a class="product-page__model-link blue-link blue-link--no-svg" href="#!">875670-425</a>
                    <p class="product-page__model-about">
                      HPE ProLiant DL380 Gen10 Bronze 3106 Rack(2U) Xeon8C 1.7GHz(11MB) 1x16GbR2D_2666 P408i-aFBWC(2Gb/RAID 0/1/10/5/50/6/60) 2x300GB_10K(8 24+6up)SFF UMB+DVDRW iLOstd 4HPFans 4x1GbEth EasyRK 1x500w(2up)
                    </p>
                  </li>
                  <li class="product-page__models-item">
                    <a class="product-page__model-link blue-link blue-link--no-svg" href="#!">875670-425</a>
                    <p class="product-page__model-about">
                      HPE ProLiant DL380 Gen10 Bronze 3106 Rack(2U) Xeon8C 1.7GHz(11MB) 1x16GbR2D_2666 P408i-aFBWC(2Gb/RAID 0/1/10/5/50/6/60) 2x300GB_10K(8 24+6up)SFF UMB+DVDRW iLOstd 4HPFans 4x1GbEth EasyRK 1x500w(2up)
                    </p>
                  </li>
                  <li class="product-page__models-item">
                    <a class="product-page__model-link blue-link blue-link--no-svg" href="#!">875670-425</a>
                    <p class="product-page__model-about">
                      HPE ProLiant DL380 Gen10 Bronze 3106 Rack(2U) Xeon8C 1.7GHz(11MB) 1x16GbR2D_2666 P408i-aFBWC(2Gb/RAID 0/1/10/5/50/6/60) 2x300GB_10K(8 24+6up)SFF UMB+DVDRW iLOstd 4HPFans 4x1GbEth EasyRK 1x500w(2up)
                    </p>
                  </li>
                  <li class="product-page__models-item">
                    <a class="product-page__model-link blue-link blue-link--no-svg" href="#!">875670-425</a>
                    <p class="product-page__model-about">
                      HPE ProLiant DL380 Gen10 Bronze 3106 Rack(2U) Xeon8C 1.7GHz(11MB) 1x16GbR2D_2666 P408i-aFBWC(2Gb/RAID 0/1/10/5/50/6/60) 2x300GB_10K(8 24+6up)SFF UMB+DVDRW iLOstd 4HPFans 4x1GbEth EasyRK 1x500w(2up)
                    </p>
                  </li>
                </ul>
              </div>
              <div class="product-page__pannel tabs__panel">
                <h3 class="product-page__pannel-title">Гарантия и поддержка</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% include "./blocks/need-help.j2" %}
    {% include "./blocks/cards-list.j2" %}
    {% include "./blocks/our-advantages.j2" %}
  </main>
{% endblock content %}

{% block modal %}
{% endblock %}

{% block js %}
  <script src="./js/need-help.min.js"></script>
  <script src="./js/tabs.min.js"></script>
  <script src="./js/product-page.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
