{% extends "layout.j2" %}

{% set page = "service-page" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./solutions-and-services.html">Услуги</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Защита почтовых сервисов от спама и вредоносных программ</span>
          </li>
        </ul>
      </div>
    </div>

    <section class="service section section--first-on-page">
      <div class="container">
        <div class="section__content">
          <div class="service__header">
            <h1 class="service__page-title page__title">Защита почтовых сервисов от спама и вредоносных программ</h1>
          </div>
          <div class="service__main section__main">
            <div class="service__text-block">
              <h3 class="service__sub-title">Задачи проекта</h3>
              <p class="service__text-par">Создание эффективной системы резервного копирования является одной из приоритетных ИТ-задач для любой организации. От выбора правильной стратегии зависит, где и как будут храниться бэкапы, находятся ли они в безопасности и на сколько быстро можно восстановить утраченные данные. В компании Росшельф понимают всю важность данного процесса. Поэтому, когда возникла потребность в построении грамотной системы резервного копирования, определении оптимальных решений и разработки политик сохранения данных, они выбрали компанию EXASystems для решения поставленных задач.</p>
              <p class="service__text-par">На момент обращения Заказчик использовал встроенный функционал ОС для выполнения резервного копирования. Для качественного изменения текущего положения необходимо было выполнить комплекс задач. Основной запрос был связан с подбором программно-аппаратного комплекса из реестра Минпромторга\российского ПО, разработкой политики резервного копирования, а также с внедрением решений и последующей их настройкой.</p>
            </div>
            <div class="service__text-block">
              <h3 class="service__sub-title">Задачи проекта</h3>
              <p class="service__text-par">Создание эффективной системы резервного копирования является одной из приоритетных ИТ-задач для любой организации. От выбора правильной стратегии зависит, где и как будут храниться бэкапы, находятся ли они в безопасности и на сколько быстро можно восстановить утраченные данные. В компании Росшельф понимают всю важность данного процесса. Поэтому, когда возникла потребность в построении грамотной системы резервного копирования, определении оптимальных решений и разработки политик сохранения данных, они выбрали компанию EXASystems для решения поставленных задач.</p>
              <p class="service__text-par">На момент обращения Заказчик использовал встроенный функционал ОС для выполнения резервного копирования. Для качественного изменения текущего положения необходимо было выполнить комплекс задач. Основной запрос был связан с подбором программно-аппаратного комплекса из реестра Минпромторга\российского ПО, разработкой политики резервного копирования, а также с внедрением решений и последующей их настройкой.</p>
            </div>
            <a class="service__image-wrapper" href="img/service-image.webp" data-image-can-open-in-modal>
              <picture>
                <source type="image/webp" media="(min-width: {{tabletWidth}})" srcset="@img/service-image.webp">
                <source type="image/webp" srcset="@img/service-image-mobile.webp">
                <source media="(min-width: {{tabletWidth}})" srcset="@img/service-image.jpg">
                <img class="service__image" src="@img/service-image-mobile.jpg" alt="Описание фотографии" width="1116" height="574" loading="lazy">
              </picture>
            </a>
            <div class="service__text-block">
              <h3 class="service__sub-title">Задачи проекта</h3>
              <p class="service__text-par">Создание эффективной системы резервного копирования является одной из приоритетных ИТ-задач для любой организации. От выбора правильной стратегии зависит, где и как будут храниться бэкапы, находятся ли они в безопасности и на сколько быстро можно восстановить утраченные данные. В компании Росшельф понимают всю важность данного процесса. Поэтому, когда возникла потребность в построении грамотной системы резервного копирования, определении оптимальных решений и разработки политик сохранения данных, они выбрали компанию EXASystems для решения поставленных задач.</p>
              <p class="service__text-par">На момент обращения Заказчик использовал встроенный функционал ОС для выполнения резервного копирования. Для качественного изменения текущего положения необходимо было выполнить комплекс задач. Основной запрос был связан с подбором программно-аппаратного комплекса из реестра Минпромторга\российского ПО, разработкой политики резервного копирования, а также с внедрением решений и последующей их настройкой.</p>
            </div>
            <div class="service__images">
              <a class="service__image-wrapper" href="img/service-image.webp" data-image-can-open-in-modal>
                <picture>
                  <source type="image/webp" media="(min-width: {{tabletWidth}})" srcset="@img/service-image.webp">
                  <source type="image/webp" srcset="@img/service-image-mobile.webp">
                  <source media="(min-width: {{tabletWidth}})" srcset="@img/service-image.jpg">
                  <img class="service__image" src="@img/service-image-mobile.jpg" alt="Описание фотографии" width="1116" height="574" loading="lazy">
                </picture>
              </a>
              <a class="service__image-wrapper" href="img/service-image.webp" data-image-can-open-in-modal>
                <picture>
                  <source type="image/webp" media="(min-width: {{tabletWidth}})" srcset="@img/service-image.webp">
                  <source type="image/webp" srcset="@img/service-image-mobile.webp">
                  <source media="(min-width: {{tabletWidth}})" srcset="@img/service-image.jpg">
                  <img class="service__image" src="@img/service-image-mobile.jpg" alt="Описание фотографии" width="1116" height="574" loading="lazy">
                </picture>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include "./blocks/consultation.j2" %}

  </main>
{% endblock content %}

{% block modal %}
  {% include "./blocks/modals/modal-image.j2" %}
{% endblock %}

{% block js %}
  <script src="./js/swiper-bundle.min.js" defer></script>
  <script src="./js/modal-image.min.js" defer></script>
  <script src="./js/engineer-cons.min.js" defer></script>
  <script src="./js/main.min.js" defer></script>
{% endblock %}
