{% extends "layout.j2" %}

{% set page = "services-and-solutions" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Услуги ирешения</span>
          </li>
        </ul>
      </div>
    </div>
    <section class="services-solutions section">
      <div class="container">
        <div class="services-solutions__content section__content">
          <h1 class="services-solutions__title title">Услуги и решения</h1>
          <p class="services-solutions__about">
            Решаем задачи командой IT-специалистов с опытом от 15 лет
          </p>
          <ul class="services-solutions__list">
            {% set servicesCounter = 1 %}
            <li class="services-solutions__item services-solutions__card">
              <div class="services-solutions__card-content">
                <h3 class="services-solutions__card-title">
                  <a class="services-solutions__card-title-link" href="#!">
                    консалтинг
                    <svg class="services-solutions__card-title-icon" width="14" height="14" viewBox="0 0 14 14">
                      <use xlink:href="img/sprite.svg#services-arrow-icon"></use>
                    </svg>
                  </a>
                </h3>
                <ul class="services-solutions__link-list">
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Разработка ИТ-стратегии</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Техническая поддержка</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Системы управления ИТ-инфраструктурой  и процессами (ITSM)</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Обследование ИТ-инфраструктуры и внутренних ИТ процессов</a>
                  </li>
                </ul>
              </div>
              <div class="services-solutions__image-wrapper">
                <picture>
                  <source type="image/webp" srcset="@img/services-solutions-image{{servicesCounter}}.webp 1x">
                  <img class="services-solutions__image" src="@img/services-solutions-image{{servicesCounter}}.jpg" alt="" width="432" height="313">
                  {% set servicesCounter = servicesCounter + 1 %}
                </picture>
              </div>
            </li>
            <li class="services-solutions__item services-solutions__card">
              <div class="services-solutions__card-content">
                <h3 class="services-solutions__card-title">
                  <a class="services-solutions__card-title-link" href="#!">
                    Серверная IT-инфраструктура
                    <svg class="services-solutions__card-title-icon" width="14" height="14" viewBox="0 0 14 14">
                      <use xlink:href="img/sprite.svg#services-arrow-icon"></use>
                    </svg>
                  </a>
                </h3>
                <ul class="services-solutions__link-list">
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Служба единого каталога и базовые информационные сервисы</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Системы резервного копирования данных </a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Системы корпоративной почты</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Системы мониторинга инфраструктуры</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Системы виртуализации серверов</a>
                  </li>
                </ul>
              </div>
              <div class="services-solutions__image-wrapper">
                <picture>
                  <source type="image/webp" srcset="@img/services-solutions-image{{servicesCounter}}.webp 1x">
                  <img class="services-solutions__image" src="@img/services-solutions-image{{servicesCounter}}.jpg" alt="" width="432" height="313">
                  {% set servicesCounter = servicesCounter + 1 %}
                </picture>
              </div>
            </li>
            <li class="services-solutions__item services-solutions__card">
              <div class="services-solutions__card-content">
                <h3 class="services-solutions__card-title">
                  <a class="services-solutions__card-title-link" href="#!">
                    Телекоммуникационные системы
                    <svg class="services-solutions__card-title-icon" width="14" height="14" viewBox="0 0 14 14">
                    <use xlink:href="img/sprite.svg#services-arrow-icon"></use>
                  </svg>
                  </a>
                </h3>
                <ul class="services-solutions__link-list">
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Системы голосовой связи</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Системы объединенных коммуникаций </a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Системы видеоконференцсвязи </a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Сервисы Локальной вычислительной сети</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Системы Сервисы сетевой безопасности организации </a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Беспроводные локальные вычислительные сети </a>
                  </li>
                </ul>
              </div>
              <div class="services-solutions__image-wrapper">
                <picture>
                  <source type="image/webp" srcset="@img/services-solutions-image{{servicesCounter}}.webp 1x">
                  <img class="services-solutions__image" src="@img/services-solutions-image{{servicesCounter}}.jpg" alt="" width="432" height="313">
                  {% set servicesCounter = servicesCounter + 1 %}
                </picture>
              </div>
            </li>
            <li class="services-solutions__item services-solutions__card">
              <div class="services-solutions__card-content">
                <h3 class="services-solutions__card-title">
                  <a class="services-solutions__card-title-link" href="#!">
                    Инженерные системы
                    <svg class="services-solutions__card-title-icon" width="14" height="14" viewBox="0 0 14 14">
                      <use xlink:href="img/sprite.svg#services-arrow-icon"></use>
                    </svg>
                  </a>
                </h3>
                <ul class="services-solutions__link-list">
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">СКС</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">СКУД</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Безопасный регион</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">ВОЛС</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Видеонаблюдение</a>
                  </li>
                </ul>
              </div>
              <div class="services-solutions__image-wrapper">
                <picture>
                  <source type="image/webp" srcset="@img/services-solutions-image{{servicesCounter}}.webp 1x">
                  <img class="services-solutions__image" src="@img/services-solutions-image{{servicesCounter}}.jpg" alt="" width="432" height="313">
                  {% set servicesCounter = servicesCounter + 1 %}
                </picture>
              </div>
            </li>
            <li class="services-solutions__item services-solutions__card">
              <div class="services-solutions__card-content">
                <h3 class="services-solutions__card-title">
                  <a class="services-solutions__card-title-link" href="#!">
                    Информационная безопасность
                    <svg class="services-solutions__card-title-icon" width="14" height="14" viewBox="0 0 14 14">
                      <use xlink:href="img/sprite.svg#services-arrow-icon"></use>
                    </svg>
                  </a>
                </h3>
                <ul class="services-solutions__link-list">
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Двухфакторная аутентификация и управление жизненным циклом средств аутентификации</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Менеджер паролей</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Повышение осведомленности ИБ</a>
                  </li>
                  <li class="services-solutions__link-list-item">
                    <a class="services-solutions__link-list-link" href="#!">Инфраструктура открытых ключей (PKI)</a>
                  </li>
                </ul>
              </div>
              <div class="services-solutions__image-wrapper">
                <picture>
                  <source type="image/webp" srcset="@img/services-solutions-image{{servicesCounter}}.webp 1x">
                  <img class="services-solutions__image" src="@img/services-solutions-image{{servicesCounter}}.jpg" alt="" width="432" height="313">
                  {% set servicesCounter = servicesCounter + 1 %}
                </picture>
              </div>
            </li>
          </ul>
        </div>
      </div>

    </section>
    {% include "./blocks/consultation.j2" %}
    {% include "./blocks/work-with-us.j2" %}
  </main>
{% endblock content %}

{% block modal %}
  {% include "./blocks/modal-image.j2" %}
{% endblock %}

{% block js %}
  <script src="./js/engineer-cons.min.js"></script>
  <script src="./js/modal-image.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
