{% extends "layout.j2" %}
{% set imageCount = 1%}

{% set page = "templates" %}

{% block content %}
  <main class="page-main">
    <div class="container" >
      <h1 class="visually-hidden">Шаблоны</h1>
    </div>

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Внедрение системы резервного копирования</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <ul class="section__list">
            <li class="section__list-item">
              <div class="section__card section__card--with-btn">
                <div class="section__card-content">
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                  <button class="section__card-button button button--blue section__card-button--hidden" type="button">Запросить прайс-лист</button>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card section__card--with-btn">
                <div class="section__card-content">
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                  <button class="section__card-button button button--blue section__card-button--hidden" type="button">Запросить прайс-лист</button>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card section__card--with-btn">
                <div class="section__card-content">
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                  <button class="section__card-button button button--blue section__card-button--hidden" type="button">Запросить прайс-лист</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Внедрение системы резервного копирования</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <ul class="section__list">
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Внедрение системы резервного копирования</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <ul class="section__list section__list--four-in-row">
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>


    <section class="section section--lb-bg section--with-paddings">
      <div class="container">
        <div class="section__content section__content--with-big-img">
          <div class="section__half">
            <h2 class="section__main-title">Какие системы мы поддерживаем</h2>
            <picture class="section__big-image-wrapper">
              <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
              <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
              {% set imageCount = imageCount + 1%}
            </picture>
            <div class="section__text-content">
              <p class="section__sub-title">Описательный текст блока на любое неограниченное количество символов</p>
              <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
            </div>
            <ul class="section__check-list">
              <li class="section__check-list-item">Компьютерные сети, сервера и АРМ</li>
              <li class="section__check-list-item">Базы данных</li>
              <li class="section__check-list-item">Системы связи</li>
              <li class="section__check-list-item">Системы защиты IT инфраструктуры</li>
              <li class="section__check-list-item">Корпоративная почта</li>
            </ul>
            <button class="section__button button button--blue" type="button">Запросить прайс-лист</button>
          </div>
        </div>
      </div>
    </section>

    {% set sectionSwiperCnt = 1 %}
    <section class="section section--lb-bg section--with-paddings">
      <div class="container">
        <div class="section__content section__content--with-slider">
          <div class="section__half">
            <h2 class="section__main-title">Какие системы мы поддерживаем</h2>
            <div class="section__swiper-wrapper">
              <div class="section__swiper section__swiper--main swiper">
                <div class="swiper-wrapper">
                  <div class="section__swiper-slide swiper-slide">
                    <picture class="section__swiper-slide-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-slide swiper-slide">
                    <picture class="section__swiper-slide-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-slide swiper-slide">
                    <picture class="section__swiper-slide-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-slide swiper-slide">
                    <picture class="section__swiper-slide-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-slide swiper-slide">
                    <picture class="section__swiper-slide-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                </div>
              </div>
              <div class="section__swiper section__swiper--thumbs swiper">
                <div class="swiper-wrapper">
                  {% set imageCount = imageCount - 5 %}
                  <div class="section__swiper-thumb swiper-slide">
                    <picture class="section__swiper-thumb-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-thumb swiper-slide">
                    <picture class="section__swiper-thumb-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-thumb swiper-slide">
                    <picture class="section__swiper-thumb-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-thumb swiper-slide">
                    <picture class="section__swiper-thumb-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-thumb swiper-slide">
                    <picture class="section__swiper-thumb-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                </div>
              </div>

              <button class="section__swiper-button section__swiper-button--prev" id="section-swiper-{{sectionSwiperCnt}}-prev" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button section__swiper-button--next" id="section-swiper-{{sectionSwiperCnt}}-next" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
            </div>
            <div class="section__text-content">
              <p class="section__sub-title">Описательный текст блока на любое неограниченное количество символов</p>
              <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
            </div>
            <ul class="section__check-list">
              <li class="section__check-list-item">Компьютерные сети, сервера и АРМ</li>
              <li class="section__check-list-item">Базы данных</li>
              <li class="section__check-list-item">Системы связи</li>
              <li class="section__check-list-item">Системы защиты IT инфраструктуры</li>
              <li class="section__check-list-item">Корпоративная почта</li>
            </ul>
            <button class="section__button button button--blue" type="button">Запросить прайс-лист</button>
          </div>
        </div>
      </div>
    </section>
    {% set sectionSwiperCnt = sectionSwiperCnt + 1 %}

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Внедрение системы резервного копирования</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <div class="section__video-wrapper">
            <iframe class="section__video" src="https://www.youtube.com/embed/fJ9rUzIMcZQ" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Преимущества</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <ul class="section__adv-list">
            <li class="section__adv-list-item">
              <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
              <p class="section__adv-text">
                <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
              </p>
            </li>
            <li class="section__adv-list-item">
              <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
              <p class="section__adv-text">
                <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
              </p>
            </li>
            <li class="section__adv-list-item">
              <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
              <p class="section__adv-text">
                <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
              </p>
            </li>
            <li class="section__adv-list-item">
              <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
              <p class="section__adv-text">
                <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
              </p>
            </li>
            <li class="section__adv-list-item">
              <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
              <p class="section__adv-text">
                <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
              </p>
            </li>
            <li class="section__adv-list-item">
              <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
              <p class="section__adv-text">
                <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
              </p>
            </li>
          </ul>
          <button class="section__button button button--blue" type="button">Запросить прайс-лист</button>
        </div>
      </div>
    </section>

    <section class="section section--lb-bg section--with-paddings">
      <div class="container">
        <div class="section__content section__content--with-big-img section__content--image-right">
          <div class="section__half">
            <h2 class="section__main-title">Преимущества</h2>
            <picture class="section__big-image-wrapper">
              <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
              <img class="section__image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
              {% set imageCount = imageCount + 1%}
            </picture>
            <div class="section__text-content">
              <p class="section__sub-title">Описательный текст блока на любое неограниченное количество символов</p>
            </div>
            <ul class="section__adv-list section__adv-list--single-col">
              <li class="section__adv-list-item">
                <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
                <p class="section__adv-text">
                  <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
                </p>
              </li>
              <li class="section__adv-list-item">
                <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
                <p class="section__adv-text">
                  <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
                </p>
              </li>
              <li class="section__adv-list-item">
                <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
                <p class="section__adv-text">
                  <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
                </p>
              </li>
            </ul>
            <button class="section__button button button--blue" type="button">Запросить прайс-лист</button>
          </div>
        </div>
      </div>
    </section>

    {% set sectionCardSwiperCnt = 1 %}
    {# Команда #}
    <section class="section section--with-paddings section--lb-bg ">
      <div class="container">
        <div class="section__content">
          <div class="section__header">
            <h3 class="section__title">Команда ExaSystems</h3>
            <div class="section__card-swiper-buttons">
              <button class="section__swiper-button section__swiper-button--prev section-card-swiper-{{sectionCardSwiperCnt}}-prev" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button section__swiper-button--next section-card-swiper-{{sectionCardSwiperCnt}}-next" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
            </div>
          </div>

          <div class="section__card-swiper-container">
            <div class="section__card-swiper swiper">
              <div class="swiper-wrapper">
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="person-card">
                    <div class="person-card__info">
                      <p class="person-card__name">Семенов Константин Владимирович</p>
                      <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                    </div>
                    <picture class="person-card__photo-wrapper">
                      <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                      <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                    </picture>
                  </div>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="person-card">
                    <div class="person-card__info">
                      <p class="person-card__name">Семенов Константин Владимирович</p>
                      <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                    </div>
                    <picture class="person-card__photo-wrapper">
                      <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                      <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                    </picture>
                  </div>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="person-card">
                    <div class="person-card__info">
                      <p class="person-card__name">Семенов Константин Владимирович</p>
                      <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                    </div>
                    <picture class="person-card__photo-wrapper">
                      <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                      <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                    </picture>
                  </div>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="person-card">
                    <div class="person-card__info">
                      <p class="person-card__name">Семенов Константин Владимирович</p>
                      <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                    </div>
                    <picture class="person-card__photo-wrapper">
                      <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                      <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                    </picture>
                  </div>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="person-card">
                    <div class="person-card__info">
                      <p class="person-card__name">Семенов Константин Владимирович</p>
                      <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                    </div>
                    <picture class="person-card__photo-wrapper">
                      <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                      <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                    </picture>
                  </div>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="person-card">
                    <div class="person-card__info">
                      <p class="person-card__name">Семенов Константин Владимирович</p>
                      <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                    </div>
                    <picture class="person-card__photo-wrapper">
                      <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                      <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                    </picture>
                  </div>
                </div>
              </div>
            </div>
            <div class="section__card-swiper-buttons section__card-swiper-buttons--desktop-only">
              <button class="section__swiper-button section__swiper-button--prev section-card-swiper-{{sectionCardSwiperCnt}}-prev" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button section__swiper-button--next section-card-swiper-{{sectionCardSwiperCnt}}-next" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% set sectionCardSwiperCnt = sectionCardSwiperCnt + 1 %}
    {# Сертификаты #}
    <section class="section section--with-paddings section--lb-bg ">
      <div class="container">
        <div class="section__content">
          <div class="section__header">
            <h3 class="section__title">Сертификаты</h3>
            <div class="section__card-swiper-buttons">
              <button class="section__swiper-button section__swiper-button--prev section-card-swiper-{{sectionCardSwiperCnt}}-prev" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button section__swiper-button--next section-card-swiper-{{sectionCardSwiperCnt}}-next" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
            </div>
          </div>

          <div class="section__card-swiper-container">
            <div class="section__card-swiper swiper">
              <div class="swiper-wrapper">
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="cert-card">
                    <a class="cert-card__link" href="@img/certificate-1-big.jpg">
                      <picture class="cert-card__photo-wrapper">
                        <source type="image/webp" srcset="@img/certificate-1-preview.webp 1x">
                        <img class="cert-card__image" src="@img/certificate-1-preview.jpg" alt="Миниатюра сертификата компании АО Инженерный центр Икар">
                      </picture>
                    </a>
                    <div class="cert-card__info">
                      <p class="cert-card__company">АО "Инженерный центр Икар"</p>
                      <p class="cert-card__description">Техническая поддержка пользователей Femap with NX Nastran</p>
                    </div>
                  </div>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="cert-card">
                    <a class="cert-card__link" href="@img/certificate-1-big.jpg">
                      <picture class="cert-card__photo-wrapper">
                        <source type="image/webp" srcset="@img/certificate-1-preview.webp 1x">
                        <img class="cert-card__image" src="@img/certificate-1-preview.jpg" alt="Миниатюра сертификата компании АО Инженерный центр Икар">
                      </picture>
                    </a>
                    <div class="cert-card__info">
                      <p class="cert-card__company">АО "Инженерный центр Икар"</p>
                      <p class="cert-card__description">Техническая поддержка пользователей Femap with NX Nastran</p>
                    </div>
                  </div>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="cert-card">
                    <a class="cert-card__link" href="@img/certificate-1-big.jpg">
                      <picture class="cert-card__photo-wrapper">
                        <source type="image/webp" srcset="@img/certificate-1-preview.webp 1x">
                        <img class="cert-card__image" src="@img/certificate-1-preview.jpg" alt="Миниатюра сертификата компании АО Инженерный центр Икар">
                      </picture>
                    </a>
                    <div class="cert-card__info">
                      <p class="cert-card__company">АО "Инженерный центр Икар"</p>
                      <p class="cert-card__description">Техническая поддержка пользователей Femap with NX Nastran</p>
                    </div>
                  </div>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="cert-card">
                    <a class="cert-card__link" href="@img/certificate-1-big.jpg">
                      <picture class="cert-card__photo-wrapper">
                        <source type="image/webp" srcset="@img/certificate-1-preview.webp 1x">
                        <img class="cert-card__image" src="@img/certificate-1-preview.jpg" alt="Миниатюра сертификата компании АО Инженерный центр Икар">
                      </picture>
                    </a>
                    <div class="cert-card__info">
                      <p class="cert-card__company">АО "Инженерный центр Икар"</p>
                      <p class="cert-card__description">Техническая поддержка пользователей Femap with NX Nastran</p>
                    </div>
                  </div>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="cert-card">
                    <a class="cert-card__link" href="@img/certificate-1-big.jpg">
                      <picture class="cert-card__photo-wrapper">
                        <source type="image/webp" srcset="@img/certificate-1-preview.webp 1x">
                        <img class="cert-card__image" src="@img/certificate-1-preview.jpg" alt="Миниатюра сертификата компании АО Инженерный центр Икар">
                      </picture>
                    </a>
                    <div class="cert-card__info">
                      <p class="cert-card__company">АО "Инженерный центр Икар"</p>
                      <p class="cert-card__description">Техническая поддержка пользователей Femap with NX Nastran</p>
                    </div>
                  </div>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <div class="cert-card">
                    <a class="cert-card__link" href="@img/certificate-1-big.jpg">
                      <picture class="cert-card__photo-wrapper">
                        <source type="image/webp" srcset="@img/certificate-1-preview.webp 1x">
                        <img class="cert-card__image" src="@img/certificate-1-preview.jpg" alt="Миниатюра сертификата компании АО Инженерный центр Икар">
                      </picture>
                    </a>
                    <div class="cert-card__info">
                      <p class="cert-card__company">АО "Инженерный центр Икар"</p>
                      <p class="cert-card__description">Техническая поддержка пользователей Femap with NX Nastran</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="section__card-swiper-buttons section__card-swiper-buttons--desktop-only">
              <button class="section__swiper-button section__swiper-button--prev section-card-swiper-{{sectionCardSwiperCnt}}-prev" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button section__swiper-button--next section-card-swiper-{{sectionCardSwiperCnt}}-next" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% set sectionCardSwiperCnt = sectionCardSwiperCnt + 1 %}
    {# Вендоры #}
    <section class="vendors section section--with-paddings section--lb-bg ">
      <div class="container">
        <div class="section__content">
          <div class="section__header">
            <h3 class="section__title">Вендоры</h3>
            <div class="section__card-swiper-buttons">
              <button class="section__swiper-button section__swiper-button--prev section-card-swiper-{{sectionCardSwiperCnt}}-prev" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button section__swiper-button--next section-card-swiper-{{sectionCardSwiperCnt}}-next" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
            </div>
          </div>

          <div class="vendors__swiper-container section__card-swiper-container">
            <div class="vendors__swiper section__card-swiper swiper">
              <div class="swiper-wrapper">
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="150" height="45" src="@img/postgrespro-logo.png" alt="Логотип компании PostgresPro.">
                    <p class="vendors__company-about">Российский разработчик систем управления базами данных...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="94" height="70" src="@img/aladdin-logo.png" alt="Логотип компании Аладдин.">
                    <p class="vendors__company-about">Ведущий российский разработчик и поставщик средств аутентификации...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="158" height="31" src="@img/kaspersky-logo.png" alt="Логотип компании Касперский.">
                    <p class="vendors__company-about">Российский поставщик антивирусных и кибербезопасных решений...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="202" height="50" src="@img/kaspersky-os-logo.png" alt="Логотип компании Лаборатории Касперского.">
                    <p class="vendors__company-about">Кибериммунная операционная система «Лаборатории Касперского»...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="140" height="65" src="@img/cyber-project.png" alt="Логотип компании Кибер протект.">
                    <p class="vendors__company-about">Безопасное и удобное решение для защиты, резервного копирования...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="155" height="67" src="@img/astralinux.png" alt="Логотип компании Astra Linux.">
                    <p class="vendors__company-about">Российского разработчик операционных систем и средств виртуализации...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="157" height="48" src="@img/redsoft-logo.png" alt="Логотип компании Редсофт.">
                    <p class="vendors__company-about">Российский поставщик антивирусных и кибербезопасных решений...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="77" height="44" src="@img/iru-logo.png" alt="Логотип компании iru.">
                    <p class="vendors__company-about">Российский производитель компьютерной техники...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="132" height="36" src="@img/rdw-computers-logo.png" alt="Логотип компании rdw computers.">
                    <p class="vendors__company-about">Сертифицированная российская компьютерная техника...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="88" height="63" src="@img/yadro-logo.png" alt="Логотип компании yadro.">
                    <p class="vendors__company-about">Российская группа компаний, занимающаяся разработкой и выпуском вычислительной...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="201" height="30" src="@img/butinet-logo.png" alt="Логотип компании butinet.">
                    <p class="vendors__company-about">Разработка и поставки высокопроизводительного IT-оборудования...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="114" height="46" src="@img/rosatom-logo.png" alt="Логотип компании Т-КОМ РОСАТОМ.">
                    <p class="vendors__company-about">Российский производитель телекоммуникационного оборудования...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="229" height="30" src="@img/isvyaz-logo.png" alt="Логотип компании Связь Инжиниринг.">
                    <p class="vendors__company-about">Российский разработчик и производитель электроники - ИБП...</p>
                  </a>
                </div>
                <div class="section__card-swiper-slide swiper-slide">
                  <a class="vendors__item-wrapper" href="./vendor-page.html">
                    <img class="vendors__company-logo" width="180" height="59" src="@img/next-touch-logo.png" alt="Логотип компании NextTouch.">
                    <p class="vendors__company-about">Крупнейший производитель интерактивного оборудования в России...</p>
                  </a>
                </div>
              </div>
            </div>
            <div class="section__card-swiper-buttons section__card-swiper-buttons--desktop-only">
              <button class="section__swiper-button section__swiper-button--prev section-card-swiper-{{sectionCardSwiperCnt}}-prev" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button section__swiper-button--next section-card-swiper-{{sectionCardSwiperCnt}}-next" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% set sectionCardSwiperCnt = sectionCardSwiperCnt + 1 %}

    {% include "./blocks/download-cp.j2" %}

  </main>
{% endblock content %}

{% block modal %}
  {% include "./blocks/modal-image.j2" %}
{% endblock %}

{% block js %}
  <script src="./js/swiper-bundle.min.js"></script>
  <script src="./js/swipers.min.js"></script>
  <script src="./js/modal-image.min.js"></script>
  <script src="./js/download-cp.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
