{% extends "layout.j2" %}
{% set imageCount = 1%}

{% set page = "templates" %}

{% block content %}
  <main class="page-main">
    <div class="container" >
      <h1 class="visually-hidden">Шаблоны</h1>
    </div>

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Внедрение системы резервного копирования</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <ul class="section__list">
            <li class="section__list-item">
              <div class="section__card section__card--with-btn">
                <div class="section__card-content">
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                  <button class="section__card-button button button--blue section__card-button--hidden" type="button">Запросить прайс-лист</button>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card section__card--with-btn">
                <div class="section__card-content">
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                  <button class="section__card-button button button--blue section__card-button--hidden" type="button">Запросить прайс-лист</button>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card section__card--with-btn">
                <div class="section__card-content">
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                  <button class="section__card-button button button--blue section__card-button--hidden" type="button">Запросить прайс-лист</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Внедрение системы резервного копирования</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <ul class="section__list">
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Внедрение системы резервного копирования</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <ul class="section__list section__list--four-in-row">
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random={{imageCount}} 1x, https://picsum.photos/400/300?random={{imageCount}} 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random={{imageCount}}" srcset="https://picsum.photos/400/300g?random={{imageCount}} 2x" alt="Описание картинки.">
                    {% set imageCount = imageCount + 1%}
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>


    <section class="section section--lb-bg section--with-paddings">
      <div class="container">
        <div class="section__content section__content--with-big-img">
          <div class="section__half">
            <h2 class="section__main-title">Какие системы мы поддерживаем</h2>
            <picture class="section__big-image-wrapper">
              <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
              <img class="section__big-image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
              {% set imageCount = imageCount + 1%}
            </picture>
            <div class="section__text-content">
              <p class="section__sub-title">Описательный текст блока на любое неограниченное количество символов</p>
              <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
            </div>
            <ul class="section__check-list">
              <li class="section__check-list-item">Компьютерные сети, сервера и АРМ</li>
              <li class="section__check-list-item">Базы данных</li>
              <li class="section__check-list-item">Системы связи</li>
              <li class="section__check-list-item">Системы защиты IT инфраструктуры</li>
              <li class="section__check-list-item">Корпоративная почта</li>
            </ul>
            <button class="section__button button button--blue" type="button">Запросить прайс-лист</button>
          </div>
        </div>
      </div>
    </section>

    {% set sectionSwiperCnt = 1 %}
    <section class="section section--lb-bg section--with-paddings">
      <div class="container">
        <div class="section__content section__content--with-slider">
          <div class="section__half">
            <h2 class="section__main-title">Какие системы мы поддерживаем</h2>
            <div class="section__swiper-wrapper">
              <div class="section__swiper section__swiper--main swiper">
                <div class="swiper-wrapper">
                  <div class="section__swiper-slide swiper-slide">
                    <picture class="section__swiper-slide-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__big-image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-slide swiper-slide">
                    <picture class="section__swiper-slide-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__big-image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-slide swiper-slide">
                    <picture class="section__swiper-slide-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__big-image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-slide swiper-slide">
                    <picture class="section__swiper-slide-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__big-image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-slide swiper-slide">
                    <picture class="section__swiper-slide-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__big-image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                </div>
              </div>
              <div class="section__swiper section__swiper--thumbs swiper">
                <div class="swiper-wrapper">
                  {% set imageCount = imageCount - 5 %}
                  <div class="section__swiper-thumb swiper-slide">
                    <picture class="section__swiper-thumb-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__big-image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-thumb swiper-slide">
                    <picture class="section__swiper-thumb-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__big-image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-thumb swiper-slide">
                    <picture class="section__swiper-thumb-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__big-image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-thumb swiper-slide">
                    <picture class="section__swiper-thumb-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__big-image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                  <div class="section__swiper-thumb swiper-slide">
                    <picture class="section__swiper-thumb-wrapper">
                      <source type="image/webp" srcset="https://picsum.photos/600/600?random={{imageCount}} 1x, https://picsum.photos/600/600?random={{imageCount}} 2x">
                      <img class="section__big-image" src="https://picsum.photos/600/600?random={{imageCount}}" srcset="https://picsum.photos/600/600?random={{imageCount}} 2x" alt="Описание картинки.">
                      {% set imageCount = imageCount + 1%}
                    </picture>
                  </div>
                </div>
              </div>

              <button class="section__swiper-button section__swiper-button--prev" id="section-swiper-{{sectionSwiperCnt}}-prev" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button section__swiper-button--next" id="section-swiper-{{sectionSwiperCnt}}-next" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
            </div>
            <div class="section__text-content">
              <p class="section__sub-title">Описательный текст блока на любое неограниченное количество символов</p>
              <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
            </div>
            <ul class="section__check-list">
              <li class="section__check-list-item">Компьютерные сети, сервера и АРМ</li>
              <li class="section__check-list-item">Базы данных</li>
              <li class="section__check-list-item">Системы связи</li>
              <li class="section__check-list-item">Системы защиты IT инфраструктуры</li>
              <li class="section__check-list-item">Корпоративная почта</li>
            </ul>
            <button class="section__button button button--blue" type="button">Запросить прайс-лист</button>
          </div>
        </div>
      </div>
    </section>
    {% set sectionSwiperCnt = sectionSwiperCnt + 1 %}

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Внедрение системы резервного копирования</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <div class="section__video-wrapper">
            <iframe class="section__video" src="https://www.youtube.com/embed/fJ9rUzIMcZQ" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </section>

  </main>
{% endblock content %}

{% block modal %}

{% endblock %}

{% block js %}
  <script src="./js/swiper-bundle.min.js"></script>
  <script src="./js/swipers.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
