{% extends "layout.j2" %}

{% set page = "templates" %}

{% block content %}
  <main class="page-main">
    <div class="container" >
      <h1 class="visually-hidden">Шаблоны</h1>
    </div>

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Внедрение системы резервного копирования</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <ul class="section__list">
            <li class="section__list-item">
              <div class="section__card section__card--with-btn">
                <div class="section__card-content">
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                  <button class="section__card-button button button--blue section__card-button--hidden" type="button">Запросить прайс-лист</button>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card section__card--with-btn">
                <div class="section__card-content">
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                  <button class="section__card-button button button--blue section__card-button--hidden" type="button">Запросить прайс-лист</button>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card section__card--with-btn">
                <div class="section__card-content">
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                  <button class="section__card-button button button--blue section__card-button--hidden" type="button">Запросить прайс-лист</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Внедрение системы резервного копирования</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <ul class="section__list">
            <li class="section__list-item">
              <div class="section__card section__card--with-img">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random=1 1x, https://picsum.photos/400/300?random=1 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random=1" srcset="https://picsum.photos/400/300g?random=1 2x" alt="Описание картинки.">
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card section__card--with-img">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random=2 1x, https://picsum.photos/400/300?random=2 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random=2" srcset="https://picsum.photos/400/300g?random=2 2x" alt="Описание картинки.">
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card section__card--with-img">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random=3 1x, https://picsum.photos/400/300?random=3 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random=3" srcset="https://picsum.photos/400/300g?random=3 2x" alt="Описание картинки.">
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="section section--with-paddings">
      <div class="container">
        <div class="section__content">
          <h3 class="section__title">Внедрение системы резервного копирования</h3>
          <div class="section__text-content">
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
            <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
          </div>
          <ul class="section__list section__list--four-in-row">
            <li class="section__list-item">
              <div class="section__card section__card--with-img">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random=1 1x, https://picsum.photos/400/300?random=1 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random=1" srcset="https://picsum.photos/400/300g?random=1 2x" alt="Описание картинки.">
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card section__card--with-img">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random=2 1x, https://picsum.photos/400/300?random=2 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random=2" srcset="https://picsum.photos/400/300g?random=2 2x" alt="Описание картинки.">
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card section__card--with-img">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random=3 1x, https://picsum.photos/400/300?random=3 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random=3" srcset="https://picsum.photos/400/300g?random=3 2x" alt="Описание картинки.">
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
            <li class="section__list-item">
              <div class="section__card section__card--with-img">
                <div class="section__card-content">
                  <picture class="section__card-image-wrapper">
                    <source type="image/webp" srcset="https://picsum.photos/400/300?random=4 1x, https://picsum.photos/400/300?random=4 2x">
                    <img class="section__card-image" src="https://picsum.photos/400/300?random=4" srcset="https://picsum.photos/400/300g?random=4 2x" alt="Описание картинки.">
                  </picture>
                  <p class="section__card-title">Двухфакторная аутентификация пользователей</p>
                  <p class="section__card-paragraph">Для входа в операционную систему Microsoft Windows и корпоративную сеть пользователю необходимо иметь USB-токен или смарт-карту JaCarta.</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}

{% block modal %}

{% endblock %}

{% block js %}
  <script src="./js/main.min.js"></script>
{% endblock %}
