{% set card = ({
  "startDate": "20 декабря 2021 г.",
  "stopDate": "30 декабря  2021 г.",
  "title": "Обследование инфраструктуры и оснащение оборудованием",
  "logo": ({
    "url": "stlniekuhni-logo.png",
    "alt": "Логотип компании Стильные кухни",
    "width": 165,
    "height": 50
  }),
  "items": [
    "Обследование сетевой и серверной инфраструктуры на предмет уязвимости и планируемого масштабирования",
    "Оснащение мультимедийным оборудованием нового офиса."
  ]
 })
%}
{% include "./case-card.j2" %}
