{% set card = ({
  "startDate": "20 декабря 2021 г.",
  "stopDate": "30 декабря  2021 г.",
  "title": "Дианостика беспроводной сети, оснащение офиса, внедрение резервного копирования",
  "logo": ({
    "url": "mrgroup-logo.png",
    "alt": "Логотип компании МР Груп",
    "width": 182,
    "height": 39
  }),
  "items": [
    "Обследование, диагностика, обнаружение и устранение проблем в беспроводной сети передачи данных",
    "Оснащение мультимедийным оборудованием нового офиса.",
    "Подбор решения, поставка оборудования и внедрение системы резервного копирования данных",
    "Обследование подсистемы СУБД"
  ]
 })
%}
{% include "./case-card.j2" %}
