{% set card = ({
  "startDate": "20 декабря 2021 г.",
  "stopDate": "30 декабря  2021 г.",
  "title": "Обследование инфраструктуры, внедрение решения для работы с большим массивом медиа данных и модернизация ядра КСПД",
  "logo": ({
    "url": "trexmer-logo.png",
    "alt": "Логотип компании Трехмер",
    "width": 147,
    "height": 60
  }),
  "items": [
    "Обследование сетевой и серверной инфраструктуры, подбор и выбор решения для модернизации сетевой и серверной инфраструктуры",
    "Подбор, поставка и внедрение решения для работы с большим массивом медиа данных",
    "Модернизация ядра КСПД"
  ]
 })
%}
{% include "./case-card.j2" %}
