{% set card = ({
  "startDate": "20 декабря 2021 г.",
  "stopDate": "30 декабря  2021 г.",
  "title": "Поставка материалов, проект и внедрение бесперебойного питания офиса ",
  "logo": ({
    "url": "energia-logo.png",
    "alt": "Логотип компании Энергия",
    "width": 193,
    "height": 52
  }),
  "items": [
    "Комплексная поставка расходных материалов",
    "Рилайд-Проект",
    "Подбор, расчёт и внедрение системы бесперебойного питания офиса и рабочих мест сотрудников"
  ]
 })
%}
{% include "./case-card.j2" %}
