{% set card = ({
  "startDate": "05 августа 2021 г.",
  "stopDate": "25 августа 2021 г.",
  "title": "Проектирование и монтаж СКС, ЭМ Офиса Российско-китайского инвестиционного фонда (РКИФ)",
  "logo": ({
    "url": "rkif-logo.svg",
    "alt": "Логотип компании Российско-китайского инвестиционного фонда (РКИФ)",
    "width": 271,
    "height": 59
  }),
  "items": [
    "проектирование ИТ-инфраструктуры ",
    "монтаж системы электроснабжения офиса",
    "исполнительная документация"
  ]
 })
%}
{% include "./case-card.j2" %}
