{% set card = ({
  "startDate": "05 августа 2021 г.",
  "stopDate": "25 августа г.",
  "title": "Проектирование и монтаж СКС офиса АО «Аскотт Деко Рус»",
  "logo": ({
    "url": "ascott-logo.png",
    "alt": "Логотип компании Аскотт Деко Рус",
    "width": 140,
    "height": 77
  }),
  "items": [
    "проектирование ИТ-инфраструктуры ",
    "монтаж системы электроснабжения офиса",
    "исполнительная документация"
  ]
 })
%}
{% include "./case-card.j2" %}
