.blog {
  margin-bottom: 18px;
  padding-top: 15px;
  padding-bottom: 30px;

  background-color: $bg2-color;

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
    padding-top: 35px;
    padding-bottom: 30px;
  }
}

.blog__content {
  display: flex;
  flex-direction: column;
}

.blog__title {
  margin-bottom: 17px;

  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.blog__tags {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 17px;
  padding: 0;

  list-style-type: none;

  gap: 11px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-bottom: 30px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.blog__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 20px;
}
