$button-height: 47;

.button {
  position: relative;

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  max-width: 290px;
  height: $button-height + px;
  margin: 0;

  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  color: #ffffff;
  text-decoration: none;

  background-color: $button-color;
  border: 2px solid transparent;
  cursor: pointer;

  transition: all 0.3s ease;

  & .button__icon {
    transition: fill 0.3s ease;
    fill: $button-color;
  }

  &:hover {
    @media (pointer: fine) {
      @media (width >= $desktop-width) {
        color: $button-color;
        background-color: $white-color;

        & .button__icon {
          fill: $button-color;
        }
      }
    }
  }

  &:focus-visible {
    border-color: $blue-color;
    border-radius: 2px;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.button--blue {
  & .button__icon {
    fill: $blue-color;
  }
  &:hover {
    @media (pointer: fine) {
      @media (width >= $desktop-width) {
        color: $white-color;
        background-color: $blue-color;
      }

      & .button__icon {
        fill: $white-color;
      }
    }
  }
}

.button--alternate {
  color: $blue-color;

  background-color: transparent;
  border: 1px solid $blue-color;

  & .button__icon {
    fill: $blue-color;
  }

  &:hover {
    @media (pointer: fine) {
      color: $button-color;
      border-color: $button-color;
    }

    & .button__icon {
      fill: $button-color;
    }
  }

  &:focus-visible {
    color: $button-color;
    border-color: $button-color;
  }
}
