.case-card {
  position: relative;

  display: flex;
  width: 100%;
  height: 100%;

  color: $dark-color;

  background-color: $bg2-color;
}

.case-card__content {
  display: flex;
  flex-grow: 1;

  @media (width < $desktop-width) {
    flex-direction: column;
  }
}

.case-card__main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 25px 35px 75px;

  &:not(:last-child) {
    @media (width < $desktop-width) {
      padding-bottom: 20px;
    }
  }
}

.case-card__logo-wrapper {
  display: flex;
  height: 70px;
}

.case-card__logo {
  max-width: 100%;

  object-fit: contain;
}

.case-card__description {
  margin-top: 23px;
  margin-bottom: 25px;

  line-height: 125%;

  @include vertical-trimmed-text(10);
}

.case-card__par {
  @include null-mp;
}

.case-card__par + .case-card__par {
  margin-top: 15px;
}

.case-card__more-link {
  z-index: 1;

  margin-top: auto;
}

.case-card__photo-wrapper {
  position: relative;

  width: 100%;

  @media (width >= $desktop-width) {
    min-width: 683px;
    min-height: 448px;
  }
  @media (width < $desktop-width) {
    @include image-wrapper(65%);

    // flex-grow: 1;
  }
}

.case-card__photo {
  @include image-in-wrapper;
}

.case-card__full-card-link {
  background-color: transparent;

  // opacity: 0;

  transition: background-color 0.3s ease;

  @include container-link;

  &:focus-visible {
    outline: solid 2px $blue-color;
    outline-offset: -2px;
  }
}

.case-card {
  &:hover {
    @media (pointer: fine) {
      @media (width >= $desktop-width) {
        & .case-card__full-card-link {
          background-color: transparentize($color: $blue-color, $amount: 0.9);
        }
      }
    }
  }
  &:active {
    opacity: 0.6;
  }
}

.case-card--hidden {
  display: none;
}
