.catalog {
  position: relative;
  padding-top: 15px;


  @media (max-width: $max-tablet-width) {
    background-color: $bg2-color;
  }

  @media (min-width: $desktop-width) {
    padding-top: 33px;
  }

  @media (min-width: $desktop-width) {
    &::after {
      position: absolute;
      z-index: -1;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% calc(1205px - 130px), 65% 1205px, 0 calc(1205px - 160px));
      background-color: $bg2-color;
    }
  }

}
.catalog__content {
  display: flex;
  flex-direction: column;
}
.catalog__title {
}
.catalog__filters {
  position: relative;
  padding-bottom: 27px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding-bottom: 27px;
    margin-bottom: 27px;
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
  }
}
.catalog__filters-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

}
.catalog__filters-group--type {
}
.catalog__filters-group-name {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
  color: $grey-color;


  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ebebeb;
  }

  & span {
    flex-shrink: 0;
    margin-right: 10px;
  }
}
.catalog__filters-list {
  display: flex;
  gap: 11px;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog__filters-item {
}
.catalog__cards-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
  }
}
.catalog__cards-item {
}
