.certificates {
  @media (min-width: $tablet-width) {
    padding-top: 35px;

    background-image: url("@img/about-bg.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
  }
}
.certificates__content {
  display: flex;
  flex-direction: column;
}
.certificates__title {
  margin-bottom: 27px;
}
.certificates__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 30px;

  @media (min-width: $tablet-width) {
    display: grid;

    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
.certificates__item {
  @media (max-width: $max-mobile-width) {
    align-self: center;
    max-width: 370px;
  }
}
.certificates__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 18px;

  text-decoration: none;

  background-color: $white-color;

  @media (min-width: $tablet-width) {
    padding-right: 55px;
  }

  &:hover {
    & .certificates__item-title {
      color: $button-color;
    }
  }
  &:active {
    opacity: 0.7;
  }
}
.certificates__item-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-weight: 600;
  font-size: 17px;
  line-height: 130%;
  color: $blue-color;
  text-transform: uppercase;

  transition: color 0.3s ease;
}
.certificates__item-description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 130%;
  color: $black-color;
}
.certificates__item-title,
.certificates__item-description {
  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }
}
.certificates__image {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.08));
}
