.comparison {
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: $bg2-color;

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    padding-bottom: 90px;
  }
}

.comparison__title {
  margin-bottom: 15px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.comparison__categories {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  list-style-type: none;

  gap: 11px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}

.comparison__category-link {
  position: relative;

  display: flex;
  align-self: flex-start;
  margin: 0;
  padding: 8px 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 125%;
  color: $blue-color;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $white-color;
  border: 1px solid #ebebeb;
  cursor: default;

  transition: border-color 0.3s ease;
  transition-property: border-color, color, background-color;

  &:hover {
    border-color: $blue-color;
  }

  &:focus-visible {
    border-color: $blue-color;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.comparison__category-link--active {
  border-color: $blue-color;
}

.comparison__category-products-cnt {
  margin-left: 5px;

  color: $bg-color;
}

.comparison__cards {
  position: relative;

  display: flex;
  margin: 0 auto;
  padding: 0 8px;

  gap: 5px;

  @media (min-width: $tablet-width) {
    max-width: 950px;
  }
  @media (min-width: $desktop-width) {
    max-width: 1441px;
    margin: 0 auto;
    padding: 0 30px;
  }
  @media (max-width: 1555px) {
    padding-bottom: 90px;
  }
}

.comparison__mobile-props-list {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  width: 25%;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  list-style-type: none;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.comparison__mobile-props-item {
  padding-top: 20px;

  font-weight: 700;
  font-size: 13px;
  line-height: 130%;
  word-wrap: break-word;

  &:first-of-type {
    visibility: hidden;
  }
}

.comparison__swiper {
  flex-shrink: 0;

  @media (max-width: $max-mobile-width) {
    width: 75%;
  }
}

.comparison__cards-list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.comparison__card {
  position: relative;

  max-width: 464px;
  padding: 20px 10px;
  padding-right: 0;

  background-color: $white-color;

  @media (min-width: $desktop-width) {
    padding: 0 20px;
    padding-top: 30px;
  }
}

.comparison__characteristics-list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.comparison__characteristics-item {
  display: flex;
  padding: 12px 0;

  border-bottom: 1px solid #ebebeb;

  @media (min-width: $desktop-width) {
    align-items: center;

    gap: 23px;
  }
  @media (max-width: $max-mobile-width) {
    padding: 20px 0;
  }
}

.comparison__characteristics-item--model {
  flex-direction: column;
  align-items: flex-start;

  & .comparison__characteristics-name {
    display: none;
  }

  & .comparison__model {
    @media (min-width: $tablet-width) {
      width: calc(100% - 100px);
    }
  }
}

.comparison__characteristics-name {
  flex-shrink: 0;
  width: 260px;

  font-weight: 700;
  font-size: 14px;
  line-height: 130%;

  @media (max-width: $max-mobile-width) {
    display: none;
  }
}
// Нужен для js при выравнивании высот
.comparison__characteristics-item--mobile {
  & .comparison__characteristics-name {
    @media (max-width: $max-mobile-width) {
      display: block;
      max-width: 95px;
    }
  }
}

.comparison__characteristics-item--model,
.comparison__characteristics-item--vendor,
.comparison__characteristics-item--price {
  margin: 0;
  padding: 0;

  border-bottom: none;

  & .comparison__characteristics-name {
    display: none;
  }
}

.comparison__model {
  display: inline-block;
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 115%;
  font-family: "Jost", "Arial", sans-serif;
  color: inherit;
  text-decoration: none;

  transition: all 0.3s ease;

  @media (max-width: $max-mobile-width) {
    margin-bottom: 20px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 22px;

    font-size: 20px;
    line-height: 23px;
  }

  &:hover {
    color: $blue-color;
    text-decoration: underline;
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid $blue-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.comparison__model-card-image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 135px;
  max-height: 306px;
  margin-top: auto;
  margin-bottom: 20px;
}

.comparison__card-image {
  object-fit: contain;
}

.comparison__characteristics-item--vendor {
  padding: 20px 0;
}

.comparison__vendor {
  pointer-events: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 23px;
    right: 20px;
  }
}

.comparison__characteristics-item--price {
  padding: 0;
  padding-bottom: 20px;

  border-bottom: 1px solid #ebebeb;

  @media (max-width: $max-mobile-width) {
    padding-top: 20px;
  }
}

.comparison__prices {
  display: flex;
  flex-direction: column;
}

.comparison__price {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 15px;
  line-height: 115%;
  font-family: "Jost", "Arial", sans-serif;

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 23px;
  }
}

.comparison__credit {
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 16px;
  color: $grey-color;

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 19px;
  }
}

.comparison__characteristics-value {
  font-size: 16px;
  line-height: 130%;
}

.comparison__card-buttons {
  display: flex;
  flex-direction: column;
  padding: 20px 0;

  gap: 15px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.comparison__card-button {
  min-width: 130px;

  clip-path: none;

  &:focus-visible {
    &::after {
      clip-path: none;
    }
  }

  &:hover {
    color: $white-color;

    background-color: $blue-color;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
    min-width: 0;
    max-width: 100%;
  }
}

.comparison__card-toolbar-button {
  font-size: 14px;
  line-height: 17px;

  @media (min-width: $desktop-width) {
    order: -1;
  }
}
