.daw-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
.daw-list__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 18px;
  line-height: 114%;
  text-transform: uppercase;
}
.daw-list__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.daw-list__item {
  position: relative;
  padding-left: 34px;
  font-size: 16px;
  line-height: 130%;
  color: #6e6c6c;

  & span {
    font-weight: 600;
  }

  &::before {
    position: absolute;
    left: 0;
    top: 2px;
    content: "";
    width: 17px;
    height: 17px;
    box-sizing: border-box;

    border: 3px solid $blue-color;
  }
}

.daw-list--result {

  & .daw-list__title {
    font-size: 22px;
    color: $blue-color;
  }

  & .daw-list__item  {
    color: #000;

    &::before {
      position: absolute;
      left: 0;
      top: 2px;
      content: "";
      width: 17px;
      height: 13px;
      box-sizing: border-box;

      background-image: url("@img/icons/check-icon.svg");
      background-position: center;
      background-repeat: no-repeat;
      border: none;
    }
  }

}
