.equipment {
  padding: 20px 0;

  @media (min-width: $desktop-width) {
    padding: 50px 0;
  }
}


.equipment__big-cards,
.equipment__mini-cards {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 10px;

  @media (min-width: $tablet-width) {
    display: grid;

    column-gap: 20px;

    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
}

.equipment__big-cards {
  margin-bottom: 20px;
}

.equipment__mini-cards {
  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
