.equipment-card {
  position: relative;
  z-index: 1;

  max-width: 556px;
  height: 320px;
  padding-top: 28px;
  padding-bottom: 36px;
  padding-left: 29px;
  overflow: hidden;

  background: linear-gradient(180deg, #453fa9 0%, #675fc6 100%);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;

    width: 100%;
    height: 100%;

    background-color: lighten($bg-color, 15%);

    transition: 0.3s linear;

    clip-path: circle(0 at left top);
  }

  &:hover {
    &::before {
      clip-path: circle(500px at left top);
    }

    & .equipment-card__button {
      visibility: visible;
      opacity: 1;
    }
  }
}

.equipment-card__content {
  display: flex;
  flex-direction: column;
  max-width: 275px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.equipment-card__title {
  margin: 0;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  font-family: $jost-font;
  color: $white-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;

    font-size: 28px;
    line-height: 34px;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 1px solid $white-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.equipment-card__vendors {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style-type: none;

  gap: 2px;
}

.equipment-card__vendor-link {
  display: inline-flex;
  align-items: center;
  padding: 2px;
  padding-left: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  font-family: inherit;
  color: $white-color;
  text-decoration: none;

  gap: 5px;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 1px solid $white-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.equipment-card__vendor-link--highlighted {
  margin-bottom: -5px;

  font-weight: 600;
  font-size: 16px;
}

.equipment-card__vendor-link-img {
  max-width: 200px;
  max-height: 25px;
}

.equipment-card__button {
  max-width: 177px;
  margin-top: auto;

  transition: all 0.3s ease;

  @media (min-width: $desktop-width) {
    visibility: hidden;
    opacity: 0;
  }
}

.equipment-card__image {
  position: absolute;
  top: 10%;
  z-index: -1;

  max-width: none;

  @media (max-width: $max-tablet-width) {
    left: 40%;

    transform: scale(0.8);
  }
  @media (min-width: $desktop-width) {
    left: 42%;
  }

  &--computers {
    // top: 20px;
    // right: 0px
  }

  &--servers {
    top: 60px;

    @media (max-width: $max-tablet-width) {
      left: 65%;
    }
    @media (min-width: $desktop-width) {
      left: 60%;
    }
  }

  &--network {
    top: 30%;

    @media (max-width: $max-tablet-width) {
      left: 45%;
    }
    @media (min-width: $desktop-width) {
      left: 42%;
    }
  }

  &--ups {
    top: 10%;

    @media (max-width: $max-tablet-width) {
      left: 45%;

      transform: scale(0.9);
    }
    @media (min-width: $desktop-width) {
      left: 45%;
    }
  }

  &--interactive {
    top: 10px;

    @media (max-width: $max-tablet-width) {
      left: 45%;
    }
    @media (min-width: $desktop-width) {
      left: 45%;
    }
  }

  &--soft {
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;

    @media (max-width: $max-tablet-width) {
      right: -155px;
    }
  }

  &--data-save-systems,
  &--data-protect-systems,
  &--server-closets {
    top: auto;
    right: 0;
    bottom: 0;
    left: auto;

    @media (max-width: $max-tablet-width) {
      right: -20px;
      bottom: -30px;
    }
  }

  &--os,
  &--server-soft,
  &--def,
  &--office,
  &--cloud,
  &--design {
    transform: initial;
    top: initial;
    left: initial;
    right: 0;
    bottom: 0;

    @media (max-width: $max-mobile-width) {
      right: -55px;
    }
  }

  &--server-soft,
  &--def,
  &--office {
    bottom: 30px;
  }

  &--cloud {
    right: 30px;
    bottom: 30px;

    @media (max-width: $max-mobile-width) {
      right: -10px;
    }
  }

  &--design {
    right: 15px;
    bottom: 10px;
  }
}


.equipment-card--soft {
  height: 313px;

  & .equipment-card__title {
    font-family: inherit;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    max-width: 70%;
  }
}
