.facts {
  padding: 50px 0 80px;

  color: #ffffff;

  background-color: $primary-color;

  @media (width >= $desktop-width) {
    margin-top: 40px;
    padding: 115px 0 130px;
  }
}

.facts:last-child {
  margin-bottom: 0;
}

.facts__content {
  display: flex;
  flex-direction: column;
}

.facts__title {
  color: inherit;
}

.facts__numbers {
  display: flex;
  flex-direction: column;

  gap: 15px;

  @media (width >= $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.facts__numbers-item {
  display: flex;
  flex-direction: column;

  @media (width >= $desktop-width) {
    position: relative;

    width: 285px;
    margin-right: 84px;
    padding-bottom: 27px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;

      width: 100%;
      height: 1px;

      background-color: rgb(255 255 255 / 57%);
    }
  }
}

.facts__numbers-value {
  font-weight: 600;
  font-size: 55px;
  line-height: 125%;
  font-family: $jost-font;

  @include null-mp;

  @media (width >= $desktop-width) {
    font-size: 89px;
  }
}

.facts__numbers-text {
  max-width: 90%;

  font-weight: 500;
  font-size: 18px;
  line-height: 125%;
  color: $almost-white-color;

  @include null-mp;
}

.facts__quote-wrapper {
  display: grid;
  margin-top: 40px;

  column-gap: 18px;

  grid-template-areas: "quote quote"
    "photo info";
  grid-template-columns: repeat(2, 1fr);
  row-gap: 24px;

  @media (width >= $desktop-width) {
    margin-top: 55px;

    column-gap: 0;

    grid-template-areas: "photo quote"
      "photo info";
    grid-template-columns: 378px 1fr;
    row-gap: 0;
  }
}

.facts__photo-wrapper {
  max-width: 290px;
  overflow: hidden;

  border-radius: 50%;

  grid-area: photo;
}

.facts__quoute-main {
  grid-area: quote;
}

.facts__quoute-text {
  font-weight: 600;
  font-size: 25px;
  line-height: 125%;
  color: $almost-white-color;

  @include null-mp;

  @media (width >= $desktop-width) {
    font-size: 33px;
  }
}

.facts__quote-person-info {
  display: flex;
  flex-direction: column;
  align-self: center;

  grid-area: info;
}

.facts__quote-person-name {
  font-weight: 600;
  font-size: 22px;
  line-height: 125%;
  color: $almost-white-color;

  @include null-mp;
}

.facts__quote-person-job-title {
  line-height: 125%;
  color: $almost-white-color;

  @include null-mp;
}
