.facts {
  padding: 50px 0 80px 0;
  background-color: $primary-color;
  color: #fff;

  @media (width >= $desktop-width) {
    padding: 115px 0 130px 0;
    margin-top: 40px;
  }
}
.facts__content {
  display: flex;
  flex-direction: column;
}
.facts__title {
  color: inherit;
}
.facts__numbers {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (width >= $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}
.facts__numbers-item {
  display: flex;
  flex-direction: column;

  @media (width >= $desktop-width) {
    position: relative;
    width: 285px;
    margin-right: 84px;
    padding-bottom: 27px;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.57);
    }
  }
}
.facts__numbers-value {
  @include null-mp;
  font-family: $jost-font;
  font-size: 55px;
  line-height: 125%;
  font-weight: 600;

  @media (width >= $desktop-width) {
    font-size: 89px;
  }
}
.facts__numbers-text {
  @include null-mp;
  font-size: 18px;
  font-weight: 500;
  line-height: 125%;
  color: $almost-white-color;
  max-width: 90%;
}
.facts__quote-wrapper {
  margin-top: 40px;
  display: grid;
  grid-template-areas:
    "quote quote"
    "photo info";
  grid-template-columns: repeat(2, 1fr);
  column-gap: 18px;
  row-gap: 24px;

  @media (width >= $desktop-width) {
    grid-template-areas:
      "photo quote"
      "photo info";
    grid-template-columns: 378px 1fr;
    row-gap: 0;
    column-gap: 0;
    margin-top: 55px;
  }
}
.facts__photo-wrapper {
  grid-area: photo;
  overflow: hidden;
  border-radius: 50%;
  max-width: 290px;
}
.facts__photo-image {
}
.facts__quoute-main {
  grid-area: quote;
}
.facts__quoute-text {
  @include null-mp;
  font-size: 25px;
  color: $almost-white-color;
  font-weight: 600;
  line-height: 125%;

  @media (width >= $desktop-width) {
    font-size: 33px;
  }
}
.facts__quote-person-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.facts__quote-person-name {
  @include null-mp;
  font-size: 22px;
  color: $almost-white-color;
  font-weight: 600;
  line-height: 125%;
}
.facts__quote-person-job-title {
  @include null-mp;
  color: $almost-white-color;
  line-height: 125%;
}
