.feature {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  &::before {
    content: "";

    margin-bottom: 15px;

    background-repeat: no-repeat;
    background-position: center;
  }
}

.feature__title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 115%;
  font-family: "Jost", "Arial", sans-serif;
}

.feature__desription {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 19px;
  color: $grey-color;
}

.feature--adv {
  &::before {
    width: 60px;
    height: 60px;

    background-image: url("@img/feature-adv.svg");
  }
}

.feature--exp {
  &::before {
    width: 60px;
    height: 60px;

    background-image: url("@img/feature-exp.svg");
  }
}

.feature--no-bur {
  &::before {
    width: 60px;
    height: 60px;

    background-image: url("@img/feature-gear.svg");
  }
}

.feature--result {
  &::before {
    width: 54px;
    height: 60px;

    background-image: url("@img/feature-result.svg");
  }
}

.feature--currency {
  &::before {
    width: 72px;
    height: 72px;

    background-image: url("@img/feature-currency.svg");
    background-position: 0 0;
  }
}

.feature--warranty {
  &::before {
    width: 72px;
    height: 72px;

    background-image: url("@img/feature-warranty.svg");
    background-position: 0 0;
  }
}

.feature--service-center {
  &::before {
    width: 72px;
    height: 72px;

    background-image: url("@img/feature-service-center.svg");
    background-position: 0 0;
  }
}

.feature--modern-equip {
  &::before {
    width: 80px;
    height: 72px;

    background-image: url("@img/feature-modern-equip.svg");
    background-position: 0 0;
  }
}
