.filter {
  position: relative;
  display: flex;
  align-self: flex-start;
  margin: 0;
  padding: 8px 10px;

  background-color: $white-color;
  border: 1px solid #ebebeb;
  text-decoration: none;
  text-transform: uppercase;

  font-weight: 600;
  font-size: 16px;
  line-height: 125%;

  color: $blue-color;

  cursor: default;

  transition: border-color 0.3s ease;
  transition-property: border-color, color, background-color;

  &:hover {
    border-color: $blue-color;
  }
  &:focus-visible {
    outline: none;
    border-color: $blue-color;
  }
  &:active {
    opacity: 0.7;
  }
}

.filter--active {
  padding-right: 38px;
  background-color: $bg2-color;
  border-color: $blue-color;
  color: #2a2a2a;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 23px;
    height: 1px;
    background-color: $blue-color;
    transform: translateY(-50%);
  }
  &::before {
    transform: translateY(-50%) rotate(-45deg);
  }
  &::after {
    transform: translateY(-50%) rotate(45deg);
  }
}
.filter__image {
  height: 22px;
  max-height: 22px;
  width: auto;
}
