.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form__label {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.form__label-text {
  font-size: 14px;
  line-height: 130%;
  color: #fff;
}
.form__field {
  padding: 11px 12px;
  font-family: inherit;
  font-size: 14px;
  line-height: 130%;
  border: none;
  background-color: #ebf3f8;

  box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.15);

  &:hover,
  &:focus {
    outline: 2px solid $bg-color;
  }
}
.form__submit-button {
  max-width: 191px;
  @media (max-width: $max-mobile-width) {
    max-width: 95%;
  }
}
.form__error-message {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% + 3px));
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  color: #cc2b24;
  opacity: 0.7;
}
