.form-section {
  @media (width < $desktop-width) {
    padding-bottom: 15px;
  }
}

.form-section__content {
  display: flex;
  flex-direction: column;

  gap: 10px;

  @media (min-width: $desktop-width) {
    flex-direction: row;

    gap: 35px;
  }
}

.form-section__form-wrapper {
  flex-grow: 1;
  flex-shrink: 0;
  align-self: flex-start;
  width: 100%;
  padding: 40px 0 15px;

  @media (width >= $desktop-width) {
    max-width: 440px;
    padding: 65px 0 55px;
  }
}

.form-section__form-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  font-family: $jost-font;
  color: $white-color;

  @media (min-width: $desktop-width) {
    color: $black-color;
  }
}

.form-section__label-text {
  color: $white-color;

  @media (min-width: $desktop-width) {
    color: $black-color;
  }
}

.form-section__image-wrapper {
  position: relative;

  flex-grow: 1;

  background-color: $aqua-color;

  @media (width < $desktop-width) {
    @include image-wrapper(65%);
  }
}

.form-section__image {
  @include image-in-wrapper;
}
