.form {
  display: flex;
  flex-direction: column;

  gap: 30px;
}

.form__row {
  display: flex;
  flex-direction: column;

  gap: 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.form__label {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;

  gap: 4px;
}

.form__label--checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;

  gap: 20px;

  &:hover,
  &:focus-visible {
    & .form__mark {
      border-color: $button-color;
    }
  }
}

.form__label-text {
  font-size: 14px;
  line-height: 130%;
  color: #ffffff;
}

.form__label-text--black {
  color: $black-color;

  opacity: 0.7;
}

.form__field {
  padding: 11px 12px;

  font-size: 14px;
  line-height: 130%;
  font-family: inherit;

  background-color: #ebf3f8;
  border: none;
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 15%);

  &:hover,
  &:focus {
    outline: 2px solid $blue-color;
  }
}

.form__field--textarea {
  height: 75px;

  resize: none;
}

.form__field[type="number"] {
  display: flex;
  min-width: 73px;
  padding-right: 8px;
}

.form__field[type="number"]::-webkit-inner-spin-button {
  width: 8px;
  height: 37px;

  opacity: 1;
}


.form__mark {
  width: 20px;
  height: 20px;

  background-color: $white-color;
  border: 1px solid $blue-color;

  transition: border 0.5s ease;
}

.form__checkbox-label-text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 130%;
}

.form__checkbox:checked + .form__mark {
  background-image: url("@img/icons/select-check-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox:focus + .form__mark {
  border-color: $button-color;
}

.form__submit-button {
  max-width: 206px;

  @media (max-width: $max-mobile-width) {
    max-width: 100%;
  }

  &:hover {
    color: $white-color;

    background-color: $blue-color;
  }
}

.form__error-message {
  position: absolute;
  bottom: 0;
  left: 0;

  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  color: #cc2b24;

  transform: translateY(calc(100% + 3px));
  opacity: 0.7;
}

.form-choices {
  position: relative;

  overflow: hidden;

  color: $black-color;

  &:hover {
    outline: 2px solid $blue-color;
  }

  &:focus-visible {
    outline: none;
  }

  &.is-open {
    overflow: visible;

    & .form-choices__inner {
      background-color: $white-color;
      outline: 2px solid $blue-color;
    }
  }

  &.is-focused {
    outline: 2px solid $blue-color;
  }

  &.is-flipped {
    & .form-choices__list[aria-expanded],
    & .form-choices__list--dropdown {
      top: auto;
      bottom: 100%;

      margin-top: 0;
      margin-bottom: -1px;
    }
  }
}

.form-choices[data-type*="select-one"]::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 45px;

  width: 0;
  height: 0;
  margin-top: -2.5px;

  border-width: 5px;
  border-style: solid;
  border-color: #333333 transparent transparent;

  pointer-events: none;
}

.is-open.form-choices[data-type*="select-one"]::after {
  margin-top: -7.5px;

  border-color: transparent transparent #333333;
}

.form-choices__inner {
  width: 100%;
  overflow: hidden;

  font-size: 14px;
  line-height: 130%;
  font-family: inherit;

  background-color: #ebf3f8;
  border: none;
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 15%);

  & .is-open,
  & .is-focused {
    border: 1px solid $blue-color;
  }
}

.form-choices__item {
  position: relative;

  padding: 11px 12px;
  padding-left: 68px;

  font-size: 14px;
  line-height: 130%;
  color: $black-color;

  &[data-value="Whatsapp"] {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 11px;

      width: 24px;
      height: 24px;

      background-image: url("@img/icons/whatsapp-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);
    }
  }

  &[data-value="Telegram"] {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 11px;

      width: 25px;
      height: 25px;

      background-image: url("@img/icons/telegram-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);
    }
  }

  &[data-value="Телефон"] {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 11px;

      width: 20px;
      height: 20px;

      background-image: url("@img/icons/phone-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);
    }
  }
}

.form-choices__list {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.form-choices__list[aria-expanded],
.form-choices__list--dropdown {
  position: absolute;
  top: 100%;
  z-index: 1;

  width: 100%;
  margin-top: -1px;
  overflow: hidden;

  word-break: break-all;

  background-color: $white-color;
  border-width: 0 1px 1px;
  border-style: solid;
  border-color: #bbbbbc;
  visibility: hidden;

  will-change: visibility;

  &.is-active {
    visibility: visible;
  }
}

.form-choices__list--dropdown {
  & .form-choices__item {
    padding-left: 47px;

    color: $blue-color;

    border-top: 1px solid #ebebeb;

    transition: background-color 0.3s ease;

    &:hover {
      background-color: $bg2-color;
    }
  }

  & .form-choices__item.is-selected {
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 17px;

      width: 13px;
      height: 9px;

      background-image: url("@img/icons/select-check-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: translateY(-50%);
    }
  }
}
