.import-replacement {
  position: relative;
  padding-top: 15px;
  padding-bottom: 40px;

  @media (max-width: $max-tablet-width) {
    background-color: $bg2-color;
  }

  @media (min-width: $desktop-width) {
    padding-top: 34px;
    padding-bottom: 38px;
    min-height: 800px;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 130px), 65% 100%, 0 calc(100% - 160px));
      background-color: $bg2-color;
    }
  }
}
.import-replacement__content {
  display: flex;
  flex-direction: column;
}
.import-replacement__title {
  margin-bottom: 32px;
}
.import-replacement__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
  font-family: "Jost", "Arial", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;

  @media (max-width: $max-tablet-width) {
    display: none;
  }
}
.import-replacement__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 28px;
  }
}
.import-replacement__item {
}
