.import-features {
  padding-top: 35px;
  padding-bottom: 55px;

  @media (min-width: $desktop-width) {
    padding-top: 67px;
    padding-bottom: 60px;
  }
}

.import-features__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 10px;

  @media (min-width: $tablet-width) {
    display: grid;

    column-gap: 30px;

    grid-template-columns: repeat(2, auto);
    row-gap: 0;
  }
  @media (min-width: $desktop-width) {
    display: grid;

    gap: 25px;
    grid-template-columns: 215px 260px 260px auto;
  }
}
