.index-header {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 580px;
  padding-top: 30px;
  overflow: hidden;

  background-image: url("@img/index-header-bg.webp");
  background-repeat: no-repeat;
  background-position: -100px 70px;

  @media (max-width: $max-mobile-width) {
    margin: 0 - $paddings-mobile;
    padding-right: $paddings-mobile;
    padding-bottom: 20px;
    padding-left: $paddings-mobile;
  }

  @media (min-width: $tablet-width) {
    min-height: 510px;
    padding-top: 40px;

    background-position: calc(50% - 50px) 100%;
    background-size: 90%;
  }

  @media (min-width: $desktop-width) {
    min-height: 670px;
    padding-top: 65px;

    background-position: calc(50% - 50px) calc(100% + 70px);
    background-size: auto;
  }
}

.index-header__title {
  z-index: 1;

  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-weight: 600;
  font-size: 32px;
  line-height: 110%;
  font-family: "Jost", "Arial", sans-serif;
  color: $white-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 47px;
  }

  & span {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 15%;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: $white-color;
    }
  }
}

.index-header__button {
  z-index: 1;

  max-width: none;
  padding: 0 25px;

  @media (min-width: $tablet-width) {
    align-self: flex-end;
  }
}
