.index-swiper__slide {
  position: relative;

  overflow: hidden;

  color: #ffffff;

  cursor: default;
}

.index-swiper__slide-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 530px;
  padding-top: 57px;
  padding-right: $paddings-mobile;
  padding-bottom: 93px;
  padding-left: $paddings-mobile;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
  }
  @media (width >= $desktop-width) {
    max-width: $max-tablet-width;
    min-height: 549px;
    padding-top: 100px;
    padding-right: $paddings-desktop;
    padding-bottom: 120px;
    padding-left: $paddings-desktop;
  }
}

.index-swiper__slide-main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  max-width: 80%;

  @media (width >= $desktop-width) {
    max-width: 620px;
  }
}

.index-swiper__slide-title {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 30px;
  line-height: 115%;
  font-family: $jost-font;

  @media (width >= $desktop-width) {
    font-size: 50px;
  }
}

.index-swiper__slide-text {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 25px;
  padding: 0;

  font-size: 16px;
  line-height: 130%;

  @include vertical-trimmed-text(10);

  @media (width >= $desktop-width) {
    max-width: 390px;
    margin-top: 20px;

    -webkit-line-clamp: 5;
  }
}

.index-swiper__slide-button {
  z-index: 2;

  max-width: 240px;
  min-height: 57px;
  margin-top: auto;
}

.index-swiper__image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  @include image-gradient;
}

.index-swiper__slide-image {
  position: absolute;
  top: 0;
  left: 0;

  flex-grow: 1;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.index-swiper__slide-link {
  @include container-link;
}

.index-swiper__pagination {
  position: initial;

  padding: 12px 0;

  @media (width >= $desktop-width) {
    position: absolute;
    bottom: 0;

    padding: 15px 0;
  }
}
