.list {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  gap: 2px;
}

.list__item {
  position: relative;

  padding-left: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 8px;

    width: 0.3em;
    height: 0.3em;

    background-color: #2a2a2a;
    border-radius: 50%;
  }
}
