.menu {
  display: flex;
  flex-direction: column;
  width: 100%;

  color: #ffffff;

  @media (width < $desktop-width) {
    padding: 10px 0;
    overflow-x: hidden;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;

    color: $menu-link-color-desktop;

    background: none;
  }
}

.menu--no-js {
  @media (max-width: $desktop-width) {
    display: flex;
  }
}

.menu__main {
  @media (min-width: $desktop-width) {
    padding: $menu-main-vertical-paddings 0;
    background-color: #ffffff;
    position: relative;
  }
}

.menu__main--sticky {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;
  border-bottom: 1px solid #d0d0d0;

  animation: showing-animation 0.5s;
}

.menu__main-container {
  // position: relative;
  display: flex;
  align-items: center;
}

.menu__list {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}
.menu__secondary {
  @media (width < $desktop-width) {
    display: none;
  }
  @media (width >= $desktop-width) {
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: $secondary-menu-color;
  }
}

.menu__main .menu__list {
  @media (width < $desktop-width) {
    display: none;
  }
  @media (width >= $desktop-width) {
    margin-left: 3em;
    align-self: stretch;
  }
}

.menu__secondary .menu__list {
  justify-content: flex-end;
}

.menu__item {
  @media (max-width: $max-tablet-width) {
    position: relative;

    &:last-child::after {
      content: "";
      position: absolute;
      right: -17px;
      bottom: -1px;
      left: 0;

      height: 1px;

      background-color: rgb(245 245 245 / 51%);
    }

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      right: -17px;
      left: 0;

      height: 1px;

      background-color: rgb(245 245 245 / 51%);
    }
  }
  @media (width >= $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.menu__item--desktop-hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.menu__secondary .menu__item {
  &:first-child {
    &::before {
      content: none;
    }
  }
}

.menu__link {
  display: flex;

  color: inherit;

  @media (max-width: $max-tablet-width) {
    position: relative;

    padding: 13px 0;

    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    font-family: $jost-font;
    text-decoration: none;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 10px;

    font-size: 16px;
    line-height: 130%;
    text-decoration: none;

    transition: color 0.3s ease;

    &:hover {
      color: $button-color;
    }
  }
}

.menu__link--has-dropdown {
  @media (width < $desktop-width) {
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    &::after {
      content: "";

      width: 12px;
      height: 19px;

      background-image: url("@img/icons/menu-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  @media (width >= $desktop-width) {
    align-items: center;

    gap: 10px;
  }
}

.menu__link-dropdown-icon {
  transition: fill 0.3s ease;

  fill: $menu-link-color-desktop;

  @media (width < $desktop-width) {
    display: none;
  }
}

.menu__link--has-dropdown:hover .menu__link-dropdown-icon {
  fill: $button-color;
}

.menu__item:last-child .menu__link {
  @media (width >= $desktop-width) {
    margin-right: -10px;
  }
}

.menu__link--upper-menu {
  @media (width >= $desktop-width) {
    padding: 5px 10px;

    font-size: 14px;
  }
}

.menu__sub {
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;

  display: none;
}

.menu__sub--active {
  z-index: 1;

  display: block;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-right: 17px;
  padding-left: 17px;

  background-color: $primary-color;

  animation: showing-animation 0.3s forwards;
}

.menu__back-button {
  position: relative;

  margin: 0;
  margin-bottom: 19px;
  padding: 13px 0;
  padding-left: 30px;

  font-size: 18px;
  line-height: 22px;
  color: inherit;

  background-color: transparent;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 12px;
    height: 19px;

    background-image: url("@img/icons/menu-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%) rotate(180deg);
  }
}

.menu__contacts {
  display: none;
  flex-direction: column;
  margin-top: auto;
  padding-top: 30px;

  font-family: $jost-font;
}

.menu__phone {
  display: block;

  font-size: 31px;
  line-height: 45px;
  color: inherit;
  text-decoration: none;
}

.menu__mail {
  display: block;
  margin-bottom: 28px;

  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}

.menu__back-call-button {
  display: flex;
  flex-grow: 1;
  max-width: initial;
  height: 65px;
  margin-left: -18px;
  margin-right: -18px;

  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  text-decoration: none;

  clip-path: none;
}

.menu--opened {
  @media (width < $desktop-width) {
    position: relative;
    z-index: 95;

    display: flex;
    flex-grow: 1;
    width: 100%;
    padding-top: 80px;
    padding-bottom: 0;
    padding-left: 18px;
    padding: 80px 17px 0 17px;

    background: linear-gradient(180deg, #453fa9 0%, #675fc6 100%);

    & .menu__secondary {
      display: block;
    }

    & .menu__list {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }

    & .menu__main {
      order: -1;
    }

    & .page-header__buttons {
      position: absolute;
      top: 10px;
      right: calc((100% - $tablet-width) / 2 + $paddings-mobile);
    }

    & .menu__contacts {
      display: flex;
    }

    & .menu__mobile-container {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (width < $tablet-width) {
    & .page-header__buttons {
      position: absolute;
      top: 10px;
      right: $paddings-mobile;
    }
  }
}

.menu__dropdown {
  position: relative;
  width: 100%;
  display: none;
  padding: 10px 0;
  padding-bottom: 60px;
  background-color: #ffffff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
  color: $menu-dropdown-title-color;
  // border: 1px solid #d0d0d0;

  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;

    height: 1px;
    background-color: #d0d0d0;
  }

  @media (width < $desktop-width) {
    display: none;
  }
}
.menu__dropdown-content {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

.menu__dropdown-title,
.menu__dropdown-list-title {
  margin: 0;
  padding: 0;
  font-family: $jost-font;
  font-size: 25px;
  font-weight: 500;
  line-height: 130%;
  color: inherit;
}

.menu__dropdown-link {
  text-decoration: none;
}

.menu__dropdown-main {
}

.menu__dropdown-main-lists-container {
  display: flex;
  flex-wrap: wrap;
}

.menu__dropdown-main--theme1 {
  & .menu__dropdown-main-lists-container {
    & > * {
      margin-right: 160px;
    }

    & > :first-child {
      width: 100%;
      margin-right: 0;
    }

    & > :nth-child(3n + 1) {
      margin-right: 0;
    }
  }
}

.menu__dropdown-list-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.menu__dropdown-main--theme2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;

  & .menu__dropdown-main-lists-container {
    flex-direction: column;
  }

  & .menu__dropdown-list-wrapper {
    max-width: 405px;
  }
}

.menu__dropdown-list-title {
  font-size: 20px;
}
.menu__dropdown-list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  gap: 5px;
}

.menu__dropdown-list-wrapper--vendors .menu__dropdown-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 130px);
}

.menu__dropdown-list-item {
}
.menu__dropdown-list-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: inherit;
}

.menu__dropdown-list-link--with-icon {
  position: relative;
  padding-right: 45px;

  & img {
    max-width: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    transition: opacity 0.3s ease;
  }

  &:hover,
  &:active {
    & img {
      opacity: 0.6;
    }
  }
}

.menu__vendor-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  height: 53px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;

  transition: border-color 0.3s ease;

  &:hover {
    border-color: $button-color;
  }
}

.menu__vendor-link-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.menu__item--has-dropdown {
  @media (width >= $desktop-width) {
    &:hover,
    &:focus-within {
      & .menu__dropdown {
        position: absolute;
        top: calc(100% - $menu-main-vertical-paddings);
        left: 0;
        z-index: 100;

        display: block;
      }
    }
  }
}

.menu__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  grid-auto-rows: max-content;
}
