.menu {
  display: flex;
  flex-direction: column;
  width: 100%;

  color: #ffffff;

  @media (width < $desktop-width) {
    padding: 10px 0;
    overflow-x: hidden;
  }
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;

    color: $light-dark-color;

    background: none;
  }
}

.menu--no-js {
  @media (max-width: $desktop-width) {
    display: flex;
  }
}

.menu__main {
  @media (min-width: $desktop-width) {
    position: relative;

    padding: $menu-main-vertical-paddings 0;

    background-color: #ffffff;
  }
}

.menu__main--sticky {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;

  background-color: #ffffff;
  border-bottom: 1px solid #d0d0d0;

  animation: showing-animation 0.5s;

  @media (width < $desktop-width) {
    padding: 10px 0;
  }
}

.menu__main-container {
  // position: relative;
  display: flex;
  align-items: center;
}

.menu__list {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.menu__main .menu__list {
  @media (width < $desktop-width) {
    display: none;
  }
  @media (width >= $desktop-width) {
    align-self: stretch;
    margin-left: 3em;
  }
}

.menu__item {
  @media (max-width: $max-tablet-width) {
    position: relative;

    &:last-child::after {
      content: "";
      position: absolute;
      right: -17px;
      bottom: -1px;
      left: 0;

      height: 1px;

      background-color: rgb(245 245 245 / 51%);
    }

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      right: -17px;
      left: 0;

      height: 1px;

      background-color: rgb(245 245 245 / 51%);
    }
  }
  @media (width >= $desktop-width) {
    display: flex;
    align-items: center;
  }
}

.menu__item--desktop-hidden {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.menu__link {
  display: flex;

  line-height: 132%;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  @media (max-width: $max-tablet-width) {
    position: relative;

    padding: 13px 0;

    font-size: 17px;
  }
  @media (min-width: $desktop-width) {
    padding: 5px 10px;

    font-weight: 600;
    font-size: 15px;

    transition: color 0.3s ease;

    &:hover {
      color: $button-color;
    }
  }
}

.menu__link--has-dropdown {
  @media (width < $desktop-width) {
    justify-content: space-between;
    align-items: center;

    gap: 10px;
    &::after {
      content: "";

      width: 12px;
      height: 19px;

      background-image: url("@img/icons/menu-arrow.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  @media (width >= $desktop-width) {
    align-items: center;

    gap: 10px;
  }
}

.menu__link-dropdown-icon {
  transition: fill 0.3s ease;

  fill: $menu-link-color-desktop;

  @media (width < $desktop-width) {
    display: none;
  }
}

.menu__link--has-dropdown:hover .menu__link-dropdown-icon {
  fill: $button-color;
}

.menu__item:last-child .menu__link {
  @media (width >= $desktop-width) {
    margin-right: -10px;
  }
}

.menu__sub {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  overflow-y: scroll;
}

.menu__sub--active {
  z-index: 1;

  display: block;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-right: 17px;
  padding-left: 17px;

  background-color: $primary-color;

  animation: showing-animation 0.3s forwards;
}

.menu__back-button {
  position: relative;

  margin: 0;
  margin-bottom: 12px;
  padding: 13px 0;
  padding-left: 30px;

  font-size: 17px;
  line-height: 132%;
  color: inherit;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;

    width: 12px;
    height: 19px;

    background-image: url("@img/icons/menu-arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    transform: translateY(-50%) rotate(180deg);
  }
}

.menu__contacts {
  display: none;
  flex-direction: column;
  margin-top: auto;
  padding-top: 30px;
  padding-bottom: 20px;

  font-family: $jost-font;
}

.menu__phone {
  display: block;

  font-size: 26px;
  color: inherit;
  text-decoration: none;
}

.menu--opened {
  @media (width < $desktop-width) {
    position: relative;
    z-index: 95;

    display: flex;
    flex-grow: 1;
    width: 100%;
    padding: 80px 17px 0;
    padding-top: 80px;
    padding-bottom: 0;
    padding-left: 18px;

    background-color: $primary-color;

    & .menu__list {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
    }

    & .menu__main {
      order: -1;
    }

    & .page-header__buttons {
      position: absolute;
      top: 10px;
      right: calc((100% - $tablet-width) / 2 + $paddings-mobile);
    }

    & .menu__contacts {
      display: flex;
    }

    & .menu__mobile-container {
      padding-right: 0;
      padding-left: 0;
    }
  }
  @media (width < $tablet-width) {
    & .page-header__buttons {
      position: absolute;
      top: 10px;
      right: $paddings-mobile;
    }
  }
}

.menu__dropdown {
  position: relative;

  display: none;
  width: max-content;
  max-width: 500px;
  padding: 27px 0 21px 32px;
  margin-left: -22px;

  color: $dark-color;

  background-color: #ffffff;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 15%);

  @media (width < $desktop-width) {
    display: none;
  }
}

.menu__dropdown--lvl2 {
  width: 500px;
}

.menu__dropdown-content {
  display: flex;
  flex-direction: column;
}

.menu__dropdown-link {
  display: block;
  padding: 6px 0;
  font-size: 16px;
  line-height: normal;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.menu__dropdown-list {
  display: flex;
  flex-direction: column;

  // gap: 12px;
}

.menu__dropdown-list-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  color: inherit;
}

.menu__dropdown-list-link--with-icon {
  position: relative;

  padding-right: 45px;

  & img {
    position: absolute;
    top: 50%;
    right: 0;

    max-width: 40px;

    transform: translateY(-50%);

    transition: opacity 0.3s ease;
  }

  &:hover,
  &:active {
    & img {
      opacity: 0.6;
    }
  }
}

.menu__item--has-dropdown {
  @media (width >= $desktop-width) {
    &:hover,
    &:focus-within {
      & .menu__dropdown--lvl1 {
        position: absolute;
        top: calc(100% - $menu-main-vertical-paddings);
        z-index: 100;

        display: block;
      }
    }
  }
}

.menu__dropdown-list-wrapper {
  @media (width >= $desktop-width) {
    padding-right: 32px;
  }
}

.menu__dropdown-list-wrapper--has-dropdown {
  position: relative;

  @media (width >= $desktop-width) {
    &:hover,
    &:focus-within {
      & .menu__dropdown--lvl2 {
        position: absolute;
        top: -27px;
        // left: calc(100%);
        right: 0;
        transform: translateX(100%);

        // top: calc(100% - $menu-main-vertical-paddings);
        z-index: 100;

        display: block;
      }
    }
  }
}
