.nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
  @media (max-width: $max-tablet-width) {
    gap: 3px;
  }
  // gap: 26px;
}

.nav__item {
  & .nav__link {
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-right: 26px;

    &:first-of-type {
      margin-right: 75px;

      & .nav__link {
        padding-left: 0;
      }
    }

    &:last-of-type {
      margin-right: 0;

      & .nav__link {
        padding-right: 0;
      }
    }

    &:nth-child(3) {
      margin-left: auto;
    }
  }
}

.nav__link {
  padding: 3px;

  font-weight: 600;
  font-size: 16px;
  color: #000000;
  text-decoration: none;

  transition: color 0.3s ease;

  &:hover {
    color: $blue-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.nav__sub-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px 0;

  list-style-type: none;

  gap: 10px;
}

.nav__sub-link {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  color: $black-color;
  text-decoration: none;

  transition: color 0.3s ease;

  &:hover {
    color: $blue-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.nav__configurator {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 32px;

  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  text-transform: none;
  text-decoration: none;

  background-color: $button-color;
  border-radius: 2px;

  transition: all 0.3s ease;

  &:hover {
    background-color: $blue-color;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $max-tablet-width) {
    margin-bottom: 25px;
  }
}
