.need-help {
  padding-top: 25px;
  padding-bottom: 45px;

  background: linear-gradient(271.32deg, #2aa898 -12.13%, #39c0b4 79.47%);

  @media (min-width: $tablet-width) {
    padding: 70px 0;
  }
}

.need-help__content {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.need-help__left {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    padding-top: 18px;
  }
}

.need-help__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  font-family: $jost-font;
  color: $white-color;

  @media (min-width: $tablet-width) {
    font-weight: 700;
    font-size: 28px;
    line-height: 115%;
    font-family: "Proxima Nova", "Arial", sans-serif;
  }
}

.need-help__image-wrapper {
  @media (max-width: $max-mobile-width) {
    margin-left: -250px;
  }
  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    align-self: center;
  }
  @media (min-width: $desktop-width) {
    margin-left: -100px;
  }
}

.need-help__form-wrapper {
  @media (min-width: $desktop-width) {
    max-width: 586px;
    padding: 32px 53px 43px 61px;

    background-color: $white-color;
    box-shadow: 5px 9px 21px rgb(48 41 131 / 30%);
  }
}

.need-help__form-title {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  font-family: "Jost";
  color: $white-color;

  @media (min-width: $desktop-width) {
    color: $black-color;
  }
}

.need-help__label-text {
  @media (max-width: $max-tablet-width) {
    opacity: 0.7;
  }
  @media (min-width: $desktop-width) {
    color: $black-color;
  }
}
