.next-link {
  font-size: 14px;
  line-height: 17px;
  text-decoration: underline;

  color: $blue-color;

  transition: color 0.3s ease;

  &:hover {
    color: $button-color;
  }
  &:active {
    opacity: 0.7;
  }
}
