.os-lic__list {
  display: flex;
  flex-direction: column;

  gap: 10px;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

.os-list__item {
  width: 100%;
}
