.os {

  @media (min-width: $desktop-width) {
    padding-bottom: 190px;
  }
}
.os__content {
  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 10px;
  }
}
.os__main {

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}
.os__description {
  margin: 0;
  padding: 0;

  color: $grey-color;
}
.os__advs-list {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 420px;
    max-width: 420px;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}
.os__advs-item {
}
.os__adv {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  gap: 8px;

  &::before {
    width: 38px;
    height: 38px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.os__adv--safety {
  &::before {
    content: "";
    background-image: url("@img/icons/os-adv-safety.svg");
  }
}
.os__adv--reliability {
  &::before {
    content: "";
    background-image: url("@img/icons/os-adv-reliability.svg");
  }
}
.os__adv--flexibility {
  &::before {
    content: "";
    background-image: url("@img/icons/os-adv-flexibility.svg");
  }
}
.os__adv--opacity {
  &::before {
    content: "";
    background-image: url("@img/icons/os-adv-opacity.svg");
  }
}
.os__adv-title {
  margin: 0;
  padding: 0;
  font-family: $jost-font;
  font-weight: 500;
}
.os__adv-desc {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 16px;
  color: $grey-color;
}
.os__image-wrapper {
  transform: translate(20px, -40px);
  @media (max-width: $max-tablet-width) {
    display: none;
  }
}
.os__image {
}
