.other-service-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &:hover {
    & .other-service-card__list {
      opacity: 1;
    }
  }

  @media (min-width: $other-services-slide-mobile-bp) and (max-width: $max-mobile-width) {
    min-width: 380px;
  }
}

.other-service-card__header {
  display: flex;
  gap: 10px;
  padding: 13px 15px;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background: linear-gradient(180deg, #453fa9 0%, #675fc6 100%);
  word-break: break-word;
  color: $white-color;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  transition: all 0.3s ease;

  &::after {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url("@img/icons/other-service-card-arrow-icon.svg");
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
  }

  &:hover {
    color: $white-color;
    text-decoration: underline;
  }

  &:focus-visible {
    text-decoration: underline;
    outline: none;
    background: $aqua-color;
  }
}

.other-service-card__list-wrapper {
  display: flex;
  flex-grow: 1;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.other-service-card__list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 15px;
  list-style-type: none;
  background-color: $bg2-color;
  transition: opacity 0.5s ease;
  opacity: 0;
}
.other-service-card__item {
}
.other-service-card__item-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.other-service-card--consulting {
  & .other-service-card__list-wrapper {
    background-image: url("@img/other-service-card-counsulting.webp");
  }
}

.other-service-card--server-it {
  & .other-service-card__list-wrapper {
    background-image: url("@img/other-service-card-server-it.webp");
  }
}

.other-service-card--tcs {
  & .other-service-card__list-wrapper {
    background-image: url("@img/other-service-card-tcs.webp");
  }
}

.other-service-card--engineer-systems {
  & .other-service-card__list-wrapper {
    background-image: url("@img/other-service-card-engineer-systems.webp");
  }
}

.other-service-card--info-safety {
  & .other-service-card__list-wrapper {
    background-image: url("@img/other-service-card-info-safety.webp");
  }
}
