
.page-header--sticky {
  position: fixed;
  top: 0;
  z-index: 10;

  width: 100%;

  animation: showing-animation 0.5s;
}


.page-header__logo {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  & img {
    display: block;
  }
}

.page-header__contacts {
  display: flex;

  gap: 5px;

  @media (width >= $desktop-width) {
    flex-direction: column;
    align-items: flex-end;

    gap: 0;
  }
}

.page-header__buttons {
  display: flex;
  margin-left: auto;

  gap: 7px;
}

.page-header__phone-button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  text-decoration: none;

  border: none;
  cursor: pointer;

  gap: 8px;


  & span {
    font-weight: 500;
    font-size: 25px;
    line-height: 36px;
    font-family: $jost-font;
    color: #2a2a2a;

    transition: color 0.3s ease;

    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }

  &:hover {
    & span {
      color: $button-color;
    }

    & .page-header__phone-icon-wrapper {
      background-color: #ffffff;
    }

    & .page-header__phone-icon {
      fill: $aqua-color;
    }
  }
}

.page-header__contact-icon-wrapper {
  @media (width < $desktop-width) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    background-color: $header-contacts-icon-bg;
    border-radius: 3px;
  }
}

.page-header__phone-icon-wrapper {
  transition: background-color 0.3s ease;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__phone-icon {
  @media (width >= $desktop-width) {
    display: none;
  }
}

.page-header__mail-button {
  display: flex;
  align-items: center;

  text-decoration: none;

  gap: 10px;

  & span {
    font-size: 13px;
    line-height: 16px;
    color: $menu-link-color-desktop;

    transition: color 0.3s ease;

    text-decoration-line: underline;

    @media (width < $desktop-width) {
      display: none;
    }
  }

  & .page-header__mail-icon {
    transition: fill 0.3s ease;

    fill: $menu-link-color-desktop;
    @media (width < $desktop-width) {
      display: none;
    }
  }

  &:hover {
    & span {
      color: $button-color;
    }

    & .page-header__mail-icon {
      fill: $button-color;
    }
  }
}

.page-header__mail-icon-mobile-only {
  @media (width >= $desktop-width) {
    display: none;
  }
}

.menu-opened {
  @media (width < $desktop-width) {
    & .page-header {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    & .page-header__logo,
    & .page-header__mail-button,
    & .page-header__phone-button {
      display: none;
    }
  }
}
