.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 16px 0;

  background: linear-gradient(180deg, #453fa9 0%, #675fc6 100%);

  @media (min-width: $desktop-width) {
    padding: 42px 0;
  }
}

.page-header__row {
  display: flex;
}

.page-header__logo {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (min-width: $desktop-width) {
    width: 193px;
  }

  & img {
    display: block;
  }
}

.page-header__logo-image2 {
  @media (min-width: $desktop-width) {
    align-self: flex-end;
    width: 102px;
    height: 7px;
  }
}

.page-header__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.page-header__buttons {
  display: flex;
  margin-left: auto;

  gap: 7px;
}

.page-header__phone-button {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;

  text-decoration: none;

  border: none;
  cursor: pointer;

  gap: 8px;


  & span {
    font-weight: 800;
    font-size: 20px;
    line-height: 29px;
    font-family: $jost-font;
    color: #ffffff;

    transition: color 0.3s ease;

    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }

  &:hover {
    & span {
      color: $button-color;
    }

    & .page-header__phone-icon-wrapper {
      background-color: #ffffff;
    }

    & .page-header__phone-icon {
      fill: $aqua-color;
    }
  }
}

.page-header__phone-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  background-color: #ffffff;

  transition: background-color 0.3s ease;

  @media (min-width: $desktop-width) {
    width: 18px;
    height: 18px;

    background-color: $blue-color;
    border-radius: 1px;
  }
}

.page-header__phone-icon {
  transition: fill 0.3s ease;

  fill: #ffffff;

  @media (max-width: $max-tablet-width) {
    width: 27px;
    height: 32px;

    fill: $aqua-color;
  }
}

.page-header__mail-button {
  display: flex;
  align-items: center;

  text-decoration: none;

  gap: 10px;

  @media (max-width: $max-tablet-width) {
    display: none;
  }

  & span {
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;

    transition: color 0.3s ease;

    text-decoration-line: underline;
  }

  & .page-header__mail-icon {
    transition: fill 0.3s ease;

    fill: $bg2-color;
  }

  &:hover {
    & span {
      color: $button-color;
    }

    & .page-header__mail-icon {
      fill: $button-color;
    }
  }
}
