.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  min-width: $min-mobile-width;
  height: 100%;
  margin: 0 auto;

  font-size: 16px;
  line-height: 19px;
  font-family: "Proxima Nova", Arial, sans-serif;
  color: $black-color;
}

.page__header {
  margin-top: 40px;

  @media (width >= $desktop-width) {
    margin-top: 40px;
  }
}

.page__title {
  margin: 0;
  padding: 0;
  font-family: $jost-font;
  font-weight: 500;
  font-size: 30px;
  line-height: 126%;
  margin-bottom: 30px;

  @media (width >= $desktop-width) {
    font-size: 50px;
    margin-bottom: 40px;
  }
}

.menu-opened {
  @media (max-width: $max-tablet-width) {
    & .page-main {
      display: none;
    }

    & .page-footer {
      display: none;
    }

    & .page-header {
      position: static;
    }
  }
}

.modal-opened {
  overflow: hidden;
}
