.product-page {
  color: #2a2a2a;
}

.product-page__main {
  padding-top: 15px;
  padding-bottom: 35px;

  background-color: $bg2-color;

  @media (min-width: $desktop-width) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.product-page__content {
  display: flex;
  flex-direction: column;
}

.product-page__main-top {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.product-page__text-content {
  display: flex;
  flex-direction: column;
}

.product-page__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  gap: 8px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;

    gap: 10px;
  }
  @media (min-width: $desktop-width) {
    margin-bottom: 25px;
  }
}

.product-page__title {
  margin: 0;
  padding: 0;
}

.product-page__vendor {
  flex-shrink: 0;

  pointer-events: none;
}

.product-page__slogan {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 14px;
  line-height: 140%;
  text-transform: uppercase;

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.product-page__mini-description {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-size: 14px;
  line-height: 130%;

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.product-page__image-wrapper {
  display: flex;
  max-width: 550px;
  margin: 0;
  padding: 0;

  @media (max-width: $max-tablet-width) {
    width: 100%;
    margin-bottom: 20px;
  }
  @media (min-width: $desktop-width) {
    flex-shrink: 0;
    align-items: center;
    margin-left: auto;
  }
}

.product-page__image {
  object-fit: contain;
}

.product-page__main-bottom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  gap: 25px;


  @media (min-width: $tablet-width) {
    flex-direction: row;
    align-items: center;

    gap: 15px;
  }
}

.product-page__prices {
  display: flex;
  align-items: center;

  gap: 10px;
}

.product-page__price {
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-family: "Jost", "Arial", sans-serif;
}

.product-page__credit {
  font-size: 16px;
  line-height: 19px;
  color: $grey-color;
}

.product-page__toolbar {
  display: flex;
  align-items: center;

  gap: 30px;

  @media (max-width: $max-mobile-width) {
    justify-content: space-between;
    order: -1;
    max-width: 500px;
    margin-right: 15px;
    margin-left: 15px;
  }
}

.product-page__button-wrapper {
  display: flex;
  align-items: center;

  @media (min-width: $desktop-width) {
    margin-left: auto;
  }
}

.product-page__availability {
  margin-right: 35px;

  font-size: 14px;
  line-height: 130%;
  color: $grey-color;
}

.product-page__button {
  min-width: 130px;

  clip-path: none;

  @media (max-width: $max-tablet-width) {
    flex-grow: 1;
  }

  &:focus-visible {
    &::after {
      clip-path: none;
    }
  }

  &:hover {
    color: $white-color;

    background-color: $blue-color;
  }
}


.product-page__tabs-list-wrapper {
  background-color: $bg2-color;
}

.product-page__tabs-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.product-page__tabs-button {
  padding: 15px 20px;

  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  color: $blue-color;
  text-decoration: underline;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: all 0.3s ease;

  &:hover {
    color: $button-color;
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid $blue-color;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
  }
}

.product-page__tabs-button.tabs__button--active {
  color: inherit;
  text-decoration: none;

  background-color: $white-color;
}


.product-page__pannel {
  padding-top: 22px;
  padding-bottom: 45px;

  @media (min-width: $desktop-width) {
    padding-top: 45px;
  }
}

.product-page__pannel-title {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 135%;

  @media (min-width: $desktop-width) {
    margin-bottom: 20px;

    font-size: 28px;
    line-height: 115%;
  }
}

.product-page__panel-highlight {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  color: $grey-color;
  text-transform: uppercase;
}

.product-page__description-paragraph {
  margin: 0;
  margin-bottom: 25px;

  font-size: 14px;
  line-height: 130%;
}

.product-page__panel-subtitle {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-family: "Jost", "Arial", sans-serif;
}

.product-page__docs-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 10px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;

    gap: 30px;
  }
}


.product-page__charachteristics {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.product-page__charachteristics-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 15px 0;

  gap: 15px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
  }
}

.product-page__charachteristics-name {
  flex-shrink: 0;
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 130%;

  @media (min-width: $desktop-width) {
    width: 255px;
  }
}

.product-page__charachteristics-value {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 130%;
}

.product-page__charachteristics-star {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 130%;
  color: $grey-color;
}

.product-page__copyright {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 130%;
}

.product-page__models-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.product-page__models-item {
  display: flex;
  flex-direction: column;
  padding: 15px 0;

  box-shadow: 0 -1px 0 #eee;

  gap: 20px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
  }
}

.product-page__model-link {
  flex-shrink: 0;

  @media (min-width: $desktop-width) {
    justify-content: center;
    width: 275px;
  }
}

.product-page__model-about {
  margin: 0;
  padding: 0;
}
