.product-card {
  position: relative;
  max-width: 363px;
  padding: 20px;
  background-color: $white-color;

  &:hover {
    & .product-card__title {
      color: $blue-color;
      text-decoration: underline;
    }
    & .product-card__button {
      visibility: visible;
      opacity: 1;
    }
  }
  &:focus-within {
    & .product-card__button {
      visibility: visible;
      opacity: 1;
    }
  }
  &:active {
    opacity: 0.7;
  }
}
.product-card__background-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &:focus-visible {
    outline: 2px solid $blue-color;
  }
}
.product-card__content {
}
.product-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 5px;
  font-family: "Jost", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  transition: color 0.3s ease;
}
.product-card__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 19px;
  color: $grey-color;
}
.product-card__image-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -20px;
  margin-right: -20px;
}
.product-card__image {
  height: 238px;
  width: auto;
  object-fit: contain;
}
.product-card__vendor {
  position: absolute;
  top: 0;
  left: 20px;
  pointer-events: none;
}
.product-card__price-row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 22px;
}
.product-card__prices-wrapper {
  display: flex;
  flex-direction: column;
}
.product-card__price {
  margin: 0;
  padding: 0;
  font-family: "Jost", "Arial", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.product-card__credit {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 19px;
  color: $grey-color;
}
.product-card__credit-val {
}
.product-card__button {
  min-width: 130px;
  clip-path: none;
  z-index: 1;

  &:focus-visible {
    &::after {
      clip-path: none;
    }
  }

  &:hover {
    background-color: $blue-color;
    color: $white-color;
  }

  @media (min-width: $desktop-width) {
    visibility: hidden;
    opacity: 0;
  }
}
.product-card__toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.product-card__toolbar-button {
  z-index: 1;
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  font-family: inherit;
  background-color: transparent;
  border: none;
  padding: 2px 5px;


  &:hover {
    & .product-card__toolbar-button-text {
      color: $button-color;
    }
    & .product-card__toolbar-button-icon {
      fill: $button-color;
    }
  }
  &:focus-visible {
    outline: 1px solid $blue-color;
    border-radius: 2px;
  }
  &:active {
    opacity: 0.7;
  }
}
.product-card__toolbar-button--compare {
  position: relative;
  padding-left: 44px;
}
.product-card__toolbar-button-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  fill: $blue-color;
  transition: fill 0.3s ease;
}
.product-card__toolbar-button-text {
  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  color: $blue-color;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.product-card__toolbar-button--conf {
}
