.product-card {
  position: relative;

  max-width: $average-mobile-width;
  padding: 20px;

  background-color: $white-color;
  border: 1px solid #ebebeb;
  box-shadow: 2px 2px 10px rgb(178 176 199 / 35%);

  &:hover {
    & .product-card__title {
      color: $blue-color;
      text-decoration: underline;
    }

    & .product-card__button {
      visibility: visible;
      opacity: 1;
    }
  }

  &:focus-within {
    & .product-card__button {
      visibility: visible;
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.7;
  }
}

.product-card__background-link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  &:focus-visible {
    outline: 2px solid $blue-color;
  }
}

.product-card__title {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-family: $jost-font;

  transition: color 0.3s ease;
}

.product-card__subtitle {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  font-size: 16px;
  line-height: 19px;
  color: $grey-color;
}

.product-card__image-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -20px;
  margin-left: -20px;
}

.product-card__image {
  width: auto;
  height: 238px;

  object-fit: contain;
}

.product-card__vendor {
  position: absolute;
  top: 0;
  left: 20px;

  pointer-events: none;
}

.product-card__price-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;

  gap: 5px;
}

.product-card__prices-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.product-card__price {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  font-family: $jost-font;
}

.product-card__credit {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 19px;
  color: $grey-color;
}

.product-card__button {
  z-index: 1;

  min-width: 130px;
  margin-left: auto;

  clip-path: none;

  &:focus-visible {
    &::after {
      clip-path: none;
    }
  }

  &:hover {
    color: $white-color;

    background-color: $blue-color;
  }

  @media (min-width: $desktop-width) {
    visibility: hidden;
    opacity: 0;
  }
}

.product-card__toolbar {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.product-card__toolbar-button {
  z-index: 1;

  display: flex;
  align-items: center;
  padding: 2px 5px;

  font-family: inherit;
  text-decoration: none;

  background-color: transparent;
  border: none;
  cursor: pointer;


  &:hover {
    & .product-card__toolbar-button-text {
      color: $button-color;
    }

    & .product-card__toolbar-button-icon {
      fill: $button-color;
    }
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 1px solid $blue-color;
  }

  &:active {
    opacity: 0.7;
  }
}

.product-card__toolbar-button--compare {
  position: relative;

  padding-left: 44px;
}

.product-card__toolbar-button-icon {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);

  transition: fill 0.3s ease;

  fill: $blue-color;
}

.product-card__toolbar-button-text {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 17px;
  font-family: inherit;
  color: $blue-color;
  text-decoration: underline;

  transition: color 0.3s ease;
}
