.projects {
  padding: 0;
}


.projects__selects-wrapper {
  display: flex;

  gap: 20px;

  @media (width < $desktop-width) {
    flex-direction: column;

    gap: 18px;
  }
}

.projects__form-label-text {
  font-size: 16px;
}

.projects__list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  gap: 30px;

  @media (width >= $desktop-width) {
    margin-top: 45px;

    gap: 37px;
  }
}

.projects__show-more {
  display: flex;
  width: fit-content;
  margin: 20px auto;
  padding: 5px;

  font-size: 18px;
  line-height: 126%;
  font-family: $jost-font;
  color: $blue-color;
  text-decoration: underline;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: color 0.3s ease;

  &:hover {
    @media (pointer: fine) {
      color: $button-color;
    }
  }
}

.projects__show-more--hidden {
  display: none;
}
