.projects {
  padding: 0;
}
.projects__content {
}
.projects__form {
}
.projects__selects-wrapper {
  display: flex;
  gap: 20px;

  @media (width < $desktop-width) {
    flex-direction: column;
    gap: 18px;
  }
}

.projects__form-label-text {
  font-size: 16px;
}

.projects__list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (width >= $desktop-width) {
    margin-top: 45px;
    gap: 37px;
  }
}

.projects__show-more {
  display: flex;
  background-color: transparent;
  border: none;
  margin: 20px auto;
  width: fit-content;
  padding: 5px;
  color: $blue-color;
  font-size: 18px;
  line-height: 126%;
  text-decoration: underline;
  font-family: $jost-font;
  transition: color 0.3s ease;
  cursor: pointer;

  &:hover {
    @media (pointer: fine) {
      color: $button-color;
    }
  }
}
.projects__show-more--hidden {
  display: none;
}
