.service {
}
.service__header {
  display: flex;
  flex-direction: column;

  @media (width >= $desktop-width) {
    max-width: 70%;
  }
}
.service__page-title {
  margin-bottom: 10px;
}
.service__main {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;

  gap: 0;
}
.service__text-block {
  margin-top: 30px;

  @media (width >= $desktop-width) {
    max-width: 70%;
  }
}
.service__sub-title {
  margin: 0;
  padding: 0;

  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  font-family: $jost-font;

  @media (width >= $desktop-width) {
    font-size: 26px;
  }
}
.service__text-par {
  margin: 0;
  margin-top: 12px;
  padding: 0;
}
.service__image-wrapper {
  margin-top: 30px;
  display: flex;
  text-decoration: none;
  width: fit-content;
}
.service__image {
  object-fit: cover;
}
.service__images {
  display: flex;
  flex-direction: column;
  gap: 15px;

  @media (width >= $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
.service__text-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-top: 7px;
}
.service__text-list-item {
}
