.server-conf {
}
.server-conf__header {
  padding-bottom: 0;
}
.server-conf__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.server-conf__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.server-conf__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding-top: 40px;
    padding-bottom: 70px;
  }
}
.server-conf__descr {
  width: 100%;
  order: 1;

  @media (max-width: $max-tablet-width) {
    padding: 20px 0;
  }

  @media (min-width: $desktop-width) {
    order: 2;
    max-width: 423px;
    padding: 30px;
  }
}
.server-conf__paragraph {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 130%;
}
.server-conf__stock {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 130%;
  color: $grey-color;
}
.server-conf__price-wrapper {
  display: flex;
  padding: 11px 0;
  gap: 10px;
  align-items: center;
}
.server-conf__price {
  margin: 0;
  padding: 0;
  font-family: $jost-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.server-conf__credit-price {
  margin: 0;
  padding: 0;
  color: $grey-color;

  &::before {
    content: "/ ";
  }

  &::after {
    content: " в месяц";
  }
}
.server-conf__info-icon {
  fill: $grey-color;
  transition: fill 0.3s ease;

  &:hover {
    fill: $button-color;
  }
  &:active {
    opacity: 0.7;
  }
}

.server-conf__order-button {
  @media (max-width: $max-tablet-width) {
    width: 100%;
  }
  @media (min-width: $desktop-width) {
    min-width: 130px;
  }
}

.server-conf__form {
  order: 2;
  @media (min-width: $desktop-width) {
    order: 1;
    width: 635px;
    max-width: 635px;
    padding-top: 20px;
  }
}

.server-conf__group-list {
  display: flex;
  flex-direction: column;

  @media (max-width: $max-mobile-width) {
    gap: 10px;
  }
}

.server-conf__group-list-item {

}

.server-conf__summary {
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
  margin-left: -$paddings-mobile;
  margin-right: -$paddings-mobile;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 90px;
    padding: 50px 40px;
  }
}
.server-conf__config-list {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $desktop-width) {
    max-width: 585px;
  }
}
.server-conf__summary-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-family: $jost-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 110%;

  @media (min-width: $desktop-width) {
    font-size: 24px;
    margin-bottom: 25px;
  }
}
.server-conf__config {
  @media (max-width: $max-mobile-width) {
    padding: 10px 0;
    background-color: $white-color;
  }
}
.conf-group__chosen-component {
  margin: 0;
  padding: 0;

  font-size: 12px;
  line-height: 130%;
  color: $grey-color;
}
.conf-group__chosen-component-cnt {
  display: flex;
  align-items: baseline;
  gap: 5px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  &::before {
    content: "х";

    font-family: $jost-font;
    font-weight: 500;
    font-size: 24px;
    line-height: 110%;
    color: $grey-color;
  }
}

.server-conf__summary-price {
  @media (min-width: $tablet-width) {
    margin-left: auto;
  }
}
.server-conf__summary-price--hidden {
  display: none;
}

.server-conf__no-conf-text {
  font-size: 18px;
  line-height: 110%;
  color: $grey-color;
}

.server-conf__summary-contact-form {
  width: 100%;
  gap: 20px;

  @media (min-width: $desktop-width) {
    max-width: 345px;
    padding-top: 20px;
  }
}

.server-conf__form-field {
  background-color: $white-color;
}

.server-conf__form-submit-button {
  max-width: initial;
}
