
.serv-comp__content {
  position: relative;

  padding-right: 1px;
  padding-bottom: 1px;
  overflow: hidden;
}
.serv-comp__title {
  width: calc(100% - 100px);
  margin-bottom: 25px;
}


.serv-comp__param-wrapper {
  display: flex;
  margin: -1px 0;

  @media (max-width: $max-tablet-width) {
    flex-direction: column;
  }
}
.serv-comp__param-name-wrapper,
.serv-comp__param-value-wrapper {
  display: flex;
  width: 100%;
  min-width: 152px;
  padding: 15px 20px;

  @media (min-width: $desktop-width) {
    margin: 0 -1px;
    padding: 15px 20px;
  }
}
.serv-comp__param-name-wrapper {
  z-index: 1;

  margin-right: 1px;
  padding: 10px;

  background-color: $bg2-color;

  @media (min-width: $desktop-width) {
    max-width: 290px;
  }
}
.serv-comp__param-name-wrapper--mobile-hidden {
  background-color: $white-color;
  @media (max-width: $max-tablet-width) {
    display: none;
  }
}
.serv-comp__param-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}
.serv-comp__param-name--hidden {
  // visually-hidden
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}
.serv-comp__param-values {
  display: flex;
  width: 100%;

  transition: transform 0.2s ease-out;
}
.serv-comp__param-value-wrapper {
  min-height: 52px;

  background-color: $white-color;
  border: 1px solid #ebebeb;
}
.serv-comp__product-name-wrapper {
  display: flex;
  flex-direction: column;

  gap: 10px;
}
.serv-comp__product-name {
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;

  @media (min-width: $desktop-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    font-family: $jost-font;
  }
}
.serv-comp__product-photo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.serv-comp__param-value {
  width: 100%;

  line-height: 130%;
  color: #2a2a2a;
  white-space: normal;
  word-wrap: break-word;
  word-break: break-word;
}
.serv-comp__link {
  display: block;
  margin: auto;

  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.serv-comp__buttons {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  margin-left: auto;
}
.serv-comp__buttons--hidden {
  display: none;
}
