.sfr {
  padding: 25px 0;

  background-color: $bg2-color;

  @media (max-width: $max-mobile-width) {
    padding-bottom: 0;
  }
  @media (min-width: $desktop-width) {
    padding: 30px 0;
  }
}

.sfr__title {
  margin-bottom: 15px;

  @media (min-width: $desktop-width) {
    margin-bottom: 35px;
  }
}

.sfr__form {
  gap: 0;

  @media (min-width: $desktop-width) {
    padding: 15px 55px 40px;

    background-color: $white-color;
  }
}

.sfr__do-next {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  @media (min-width: $desktop-width) {
    margin-bottom: 8px;
  }
}

.sfr__cameras {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  list-style-type: none;

  @media (max-width: $max-tablet-width) {
    gap: 10px;
  }
}

.sfr__camera {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;

    border-bottom: 1px solid #f5edea;
  }
}

.sfr__camera-short-title {
  display: flex;
  margin: 0;
  padding: 0 10px;

  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: $grey-color;

  @media (min-width: $desktop-width) {
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 100px;

    background-color: $bg2-color;
  }
}

.sfr__camera-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 11px 0;

  gap: 50px;

  @media (max-width: $max-tablet-width) {
    align-items: stretch;
    min-height: 120px;
    padding: 20px 15px;

    background-color: $white-color;
  }
}

.sfr__camera-title {
  margin: 0;
  margin-right: auto;
  padding: 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 120%;

  @media (min-width: $tablet-width) {
    align-self: center;
    padding: 0 15px;

    font-size: 18px;
  }
}

.sfr__number-field-wrapper {
  display: flex;
  align-items: center;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}

.sfr__clear-button {
  position: relative;

  box-sizing: content-box;
  width: 11px;
  height: 11px;
  margin: 0 20px 0 10px;
  padding: 5px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 11px;
    height: 1px;

    background-color: $black-color;
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center;

    transition: background-color 0.1s ease;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: $blue-color;
    }
  }

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid $blue-color;
  }

  &:active {
    opacity: 0.7;
  }

  @media (max-width: $max-mobile-width) {
    margin: auto 0 0 auto;
  }
}

.sfr__form-footer {
  display: flex;

  gap: 20px;

  @media (max-width: $max-tablet-width) {
    flex-direction: column;
  }
}

.sfr__calc-button {
  flex-shrink: 0;
  max-width: 350px;

  @media (min-width: $desktop-width) {
    width: 220px;
    margin-left: auto;
  }

  &:hover {
    color: $white-color;

    background-color: $blue-color;
  }
}

.sfr__summary {
  display: none;
  flex-direction: column;
  max-height: 0;
  padding-top: 8px;

  transition: max-height 0.25s ease-out;

  gap: 15px;

  @media (max-width: $max-tablet-width) {
    margin-top: 25px;
    margin-right: -$paddings-mobile;
    margin-left: -$paddings-mobile;
    padding-right: $paddings-mobile;
    padding-left: $paddings-mobile;

    background-color: $white-color;
  }
  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
    padding: 20px;
  }
  @media (min-width: $desktop-width) {
    display: none;
    padding-top: 40px;

    gap: 35px;
    grid-template-columns: auto 440px;
  }
}

.sfr__summary--opened {
  display: flex;

  @media (min-width: $desktop-width) {
    display: grid;
  }
}

.sfr__summary-image-wrapper {
  display: flex;
  flex-direction: column;
}

.sfr__summary-title {
  display: block;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 115%;

  @media (min-width: $tablet-width) {
    font-size: 28px;
  }
  @media (min-width: $desktop-width) {
    max-width: 360px;
  }
}

.sfr__summary-image {
  max-width: 540px;
  margin: 0 auto;
}

.sfr__subform {
  display: flex;
  flex-direction: column;
  padding-top: 25px;

  gap: 15px;

  @media (min-width: $desktop-width) {
    gap: 40px;
  }
}

.sfr__subform-equip-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style-type: none;

  gap: 2px;
}

.sfr__subform-equip-desc-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 15px;

  font-weight: 600;
  font-size: 18px;
  line-height: 120%;

  background-color: $bg2-color;

  gap: 10px;
}

.sfr__subform-equip-desc-term {
  margin: 0;
  padding: 0;

  color: $grey-color;
}

.sfr__subform-equip-desc-def {
  margin: 0;
  padding: 0;
}

.sfr__subform-wrapper {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.sfr__submit-button {
  @media (min-width: $desktop-width) {
    width: 220px;
    max-width: 220px;
    margin-top: 25px;
    margin-left: auto;
  }

  // margin-bottom: 20px;
}
