.shd {
  padding: 25px 0;

  background-color: $bg2-color;

  @media (min-width: $desktop-width) {
    position: relative;
    padding: 30px 0;
    background-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;

      width: 100%;
      height: calc(100% + 100px);

      background-color: $bg2-color;

      clip-path: polygon(0 0, 100% 0, 100% calc(100% - 100px), 70% 100%, 0 calc(100% - 160px));
    }
  }
}
.shd__content {
}
.shd__title {
  margin-bottom: 22px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}
.shd__form {
  gap: 10px;
  @media (min-width: $desktop-width) {
    padding: 55px 57px;
    background-color: $white-color;
  }
}
.shd__common {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  border: none;
  gap: 22px;


  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}
.shd__topology-list {
}
.shd__hdd-type-list {
}
.shd__ctrl-type-list {
}

.shd__groups {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $desktop-width) {
    padding: 20px;
    gap: 0;
  }
}

.shd__group {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;


  @media (max-width: $max-mobile-width) {

  }
  @media (max-width: $max-tablet-width) {
    padding: 15px;
    flex-direction: column;
    background-color: $white-color;
  }
  @media (min-width: $desktop-width) {
    border-bottom: 1px solid #ebebeb;
  }
}

.shd__groups-item:last-of-type .shd__group {
  border-color: $grey-color;
}

.shd__group-title {
  display: flex;
  gap: 10px;
  margin: 0;
  margin-bottom: 15px;
  padding-right: 15px;
  align-items: center;
  width: 175px;
  flex-shrink: 0;
  height: max-content;

  font-weight: 700;
  font-size: 14px;
  line-height: 130%;

  color: $blue-color;

  @media (min-width: $desktop-width) {
    margin-top: 17px;
  }
}
.shd__group-title {
  &::before {
    content: "";
    width: 32px;
    height: 32px;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
    align-self: flex-start;
  }
}
.shd__group--platform .shd__group-title::before {
  background-image: url("@img/icons/shd-platforms-icon.svg");
}
.shd__group--hdd .shd__group-title::before,
.shd__group--hdd-jbod .shd__group-title::before {
  background-image: url("@img/icons/shd-hdd-icon.svg");
}
.shd__group--adapters .shd__group-title::before {
  background-image: url("@img/icons/shd-adapters-icon.svg");
}
.shd__group--cache .shd__group-title::before {
  background-image: url("@img/icons/shd-cache-icon.svg");
}
.shd__group--soft .shd__group-title::before {
  background-image: url("@img/icons/shd-cache-icon.svg");
}
.shd__group--reserve-copy .shd__group-title::before {
  background-image: url("@img/icons/shd-reserve-copy-icon.svg");
}
.shd__group--add-info .shd__group-title::before {
  content: none;
}

.shd__group-content {
  flex-grow: 1;
}
.shd__group-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.shd__group-item {
}
.shd__group-row {
  display: flex;
  padding: 15px;

  @media (max-width: $max-mobile-width) {
    padding: 15px 0;
  }
}
.shd__group-row--centered {
  align-items: center;
}
.shd__group-row-input {
  order: 4;
}
.shd__radio-mark {
  order: 3;
}
.shd__price {
  flex-shrink: 0;
  order: 2;
  margin: 0 10px;
  font-size: 14px;
  line-height: 17px;
  color: $grey-color;

  &::before {
    content: "+ ";
  }
}
.shd__group-row-text {
  order: 1;
  margin-right: auto;
  max-width: 650px;
}
.shd__hdd-slots-num {
  margin: 0;
  margin-right: auto;
  padding: 0;
  font-size: 14px;
  line-height: 130%;
  color: $grey-color;
}
.shd__hdd-slots-num-val {
  font-weight: 700;
  color: $black-color;
}
.shd__hdd-slots-row {
  gap: 10px;
  flex-wrap: wrap;
}

.shd__choices {
  width: 100%;

  @media (min-width: $tablet-width) {
    max-width: 295px;
  }
}

.shd__group-row--straight {
  @media (max-width: $max-mobile-width) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    & .shd__price {
      margin: 0;
    }
  }
  & .shd__group-row-text,
  & .shd__price,
  & .form__select {
    order: 0;
  }
}

.shd__count-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: $max-tablet-width) {
    background-color: $white-color;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding: 15px 20px;
  }
}
.shd__count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;

}
.shd__count-text {
  color: $grey-color;
  @media (min-width: $desktop-width) {
    width: 175px;
  }
}

.shd__submit-button {
  width: 100%;
  max-width: 100%;

  &:hover {
    color: $white-color;
    background-color: $blue-color;
  }

  @media (min-width: $tablet-width) {
    max-width: 210px;
    margin-left: auto;
  }
}

