.show-more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 20px 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  transition: opacity 0.4s ease;

  &::before,
  &::after {
    content: "";
    top: 50%;

    width: 100%;
    height: 1px;

    background-color: $blue-color;

    transition: background-color 0.3s ease;
  }
  &::before {
    left: 0;
  }
  &::after {
    right: 0;
  }

  &:hover {
    &::before {
      background-color: $button-color;
    }
    &::after {
      background-color: $button-color;
    }
    & .show-more__icon {
      fill: $button-color;
    }
    & .show-more__text {
      color: $button-color;
    }
  }
  &:active {
    opacity: 0.7;
  }
}
.show-more__icon {
  flex-shrink: 0;
  margin-left: 20px;

  transform: rotate(90deg);

  transition: fill 0.3s ease;

  fill: $blue-color;
}
.show-more__text {
  flex-shrink: 0;
  margin: 0;
  margin-right: 20px;
  margin-left: 10px;
  padding: 0;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: $blue-color;
  text-transform: uppercase;

  transition: color 0.3s ease;
}
.show-more--hiden {
  display: none;
}
