
.soft-imp-rep__content {
  display: flex;
  flex-direction: row;

  gap: 20px;

  @media (max-width: $max-mobile-width) {
    flex-direction: column;
  }
}
.soft-imp-rep__main {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $desktop-width) {
    max-width: 70%;
  }
}
.soft-imp-rep__title {
  margin-bottom: 20px;

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;
  }
}
.soft-imp-rep__list {
  @media (min-width: $tablet-width) {
    padding-top: 20px;

    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(2, 1fr);
  }
}
.soft-imp-rep__image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $desktop-width) {
    max-width: 30%;
  }
}
.soft-imp-rep__image {
  max-width: 334px;
  margin: auto;
}
