.vacancies {
}

.vacancies--first-on-page {
  padding-top: 30px;
}

.vacancies__paragraph {
  margin: 0;
  padding: 0;

  @media (width >= $desktop-width) {
    max-width: 50%;
  }
}

.vacancies__paragraph + .vacancies__paragraph {
  margin-top: 20px;
}

.vacancies__send-button {
  margin-top: 15px;
  height: 62px;
  font-size: 16px;
  font-weight: 600;
}

.vacancies__list {
  display: flex;
  flex-direction: column;
  gap: 35px;

  margin-top: 35px;

  @media (width >= $desktop-width) {
    margin-top: 65px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
