.work-with-us {
  padding: 60px 0;

  @media (min-width: $desktop-width) {
    padding: 120px 0;
  }
}
.work-with-us__content {
}
.work-with-us__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    row-gap: 35px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(5, 1fr);
  }
}
.work-with-us__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  max-height: 110px;
  background-color: $white-color;
  border: 1px solid rgba(132, 125, 207, 0.23);
  border-radius: 5px;
}
.work-with-us__image-wrapper {
}
