{% set cardsListTittle = "Вас также могут заинтересовать" %}
<section class="cards-list">
  <div class="container">
    <div class="cards-list__content">
      <h2 class="cards-list__title">{{cardsListTittle}}</h2>
      <ul class="cards-list__list">
        <li class="cards-list__item">
          <div class="product-card" data-product-type="computers" data-vendor="rdw-computers">
            <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
            <div class="product-card__content">
              <p class="product-card__title">iRU Office 310A3SM MT</p>
              <p class="product-card__subtitle">Компьютер для эффективной работы</p>
              <div class="product-card__image-wrapper">
                <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                <span class="product-card__vendor filter">
                  <span class="visually-hidden">RDW Computers.</span>
                  <img class="filter__image" src="@img/filter-vendor-rdw.png" alt="">
                </span>
              </div>
              <div class="product-card__price-row">
                <div class="product-card__prices-wrapper">
                  <span class="product-card__price">582 940 ₽</span>
                  <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                </div>
                <a class="product-card__button order-button button" href="#!">Заказать</a>
              </div>
              <div class="product-card__toolbar">
                <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                  <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                    <use xlink:href="img/sprite.svg#compare-icon"></use>
                  </svg>
                  <span class="product-card__toolbar-button-text">Сравнить</span>
                </button>
                <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                  <span class="product-card__toolbar-button-text">Конфигуратор</span>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards-list__item">
          <div class="product-card" data-product-type="computers" data-vendor="rdw-computers">
            <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
            <div class="product-card__content">
              <p class="product-card__title">iRU Office 310A3SM MT</p>
              <p class="product-card__subtitle">Компьютер для эффективной работы</p>
              <div class="product-card__image-wrapper">
                <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                <span class="product-card__vendor filter">
                  <span class="visually-hidden">RDW Computers.</span>
                  <img class="filter__image" src="@img/filter-vendor-rdw.png" alt="">
                </span>
              </div>
              <div class="product-card__price-row">
                <div class="product-card__prices-wrapper">
                  <span class="product-card__price">582 940 ₽</span>
                  <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                </div>
                <a class="product-card__button order-button button" href="#!">Заказать</a>
              </div>
              <div class="product-card__toolbar">
                <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                  <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                    <use xlink:href="img/sprite.svg#compare-icon"></use>
                  </svg>
                  <span class="product-card__toolbar-button-text">Сравнить</span>
                </button>
                <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                  <span class="product-card__toolbar-button-text">Конфигуратор</span>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="cards-list__item">
          <div class="product-card" data-product-type="computers" data-vendor="rdw-computers">
            <a class="product-card__background-link" href="./product-page.html"><span class="visually-hidden">Перейти на карточку продукта.</span></a>
            <div class="product-card__content">
              <p class="product-card__title">iRU Office 310A3SM MT</p>
              <p class="product-card__subtitle">Компьютер для эффективной работы</p>
              <div class="product-card__image-wrapper">
                <img class="product-card__image" src="@img/product-card-image-1.jpg" alt="">
                <span class="product-card__vendor filter">
                  <span class="visually-hidden">RDW Computers.</span>
                  <img class="filter__image" src="@img/filter-vendor-rdw.png" alt="">
                </span>
              </div>
              <div class="product-card__price-row">
                <div class="product-card__prices-wrapper">
                  <span class="product-card__price">582 940 ₽</span>
                  <span class="product-card__credit">или <span class="product-card__credit-val">24 290 ₽</span> в месяц</span>
                </div>
                <a class="product-card__button order-button button" href="#!">Заказать</a>
              </div>
              <div class="product-card__toolbar">
                <button class="product-card__toolbar-button product-card__toolbar-button--compare">
                  <svg class="product-card__toolbar-button-icon" width="24" height="19" viewBox="0 0 24 19">
                    <use xlink:href="img/sprite.svg#compare-icon"></use>
                  </svg>
                  <span class="product-card__toolbar-button-text">Сравнить</span>
                </button>
                <a class="product-card__toolbar-button product-card__toolbar-button--conf" href="#!">
                  <span class="product-card__toolbar-button-text">Конфигуратор</span>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
