<section class="features features--import-replacement">
  <div class="container">
    <ul class="features__list">
      <li class="feature feature--currency">
        <p class="feature__title">Цены не привязаны к&nbsp;иностранным валютам</p>
        <p class="feature__desription">Небольшой текст от преимуществе в рамках спецификации современных стандартов, ключевые особенности</p>
      </li>
      <li class="feature feature--warranty">
        <p class="feature__title">Официальная гарантия от отечественного производителя</p>
        <p class="feature__desription">Небольшой текст от преимуществе в рамках спецификации современных стандартов, ключевые особенности</p>
      </li>
      <li class="feature feature--service-center">
        <p class="feature__title">Обслуживание в российских сервис-центрах</p>
        <p class="feature__desription">Небольшой текст от преимуществе в рамках спецификации современных стандартов, ключевые особенности</p>
      </li>
      <li class="feature feature--modern-equip">
        <p class="feature__title">Современное оборудование</p>
        <p class="feature__desription">Небольшой текст от преимуществе в рамках спецификации современных стандартов, ключевые особенности</p>
      </li>
    </ul>
  </div>
</section>
