<section class="our-advantages section">
  <div class="container">
    <div class="our-advantages__content">
      <h2 class="visually-hidden">Наши преимущества.</h2>
      <p class="our-advantages__title">Вам понравится с нами работать</p>
      <div class="our-advantages__main">
        <ul class="our-advantages__list">
          <li class="our-advantages__item our-advantages__item--no-agents">
            <div class="our-advantages__item-wrapper">
              <span class="our-advantages__item-title">Работаем без посредников</span>
              <p class="our-advantages__item-info">Не привлекаем субподрядчиков. Контролируем и отвечаем за все процессы самостоятельно.</p>
            </div>
          </li>
          <li class="our-advantages__item our-advantages__item--personal-manager">
            <div class="our-advantages__item-wrapper">
              <span class="our-advantages__item-title">Назначаем персонального инженера на каждый проект</span>
              <p class="our-advantages__item-info">Работаем без секретарей, бюрократии и долгих согласований. Инженер погружен в проект и всегда на связи.</p>
            </div>

          </li>
          <li class="our-advantages__item our-advantages__item--flexibility">
            <div class="our-advantages__item-wrapper">
              <span class="our-advantages__item-title">Подстраиваемся под задачи бизнеса</span>
              <p class="our-advantages__item-info">Предоставляем кредиты, рассрочки и лизинги. Бесплатно доставляем и храним оборудование. </p>
            </div>
          </li>
          <li class="our-advantages__item our-advantages__item--fast-delivery">
            <div class="our-advantages__item-wrapper">
              <span class="our-advantages__item-title">Доставляем быстро</span>
              <p class="our-advantages__item-info">Мы храним оборудование на собственном складе в центре города. Ещё у нас свой автопарк — доставим технику по Москве за 2 часа.</p>
            </div>

          </li>
        </ul>
        <ul class="our-advantages__values">
          <li class="our-advantages__values-item">
            <dl class="our-advantages__desc-list">
              <dt class="our-advantages__desc-term">14 дней</dt>
              <dd class="our-advantages__desc-def">Тестируем оборудование до отгрузки. Никаких сюрпризов при запуске.</dd>
            </dl>
          </li>
          <li class="our-advantages__values-item our-advantages__values-item--insurance">
            <dl class="our-advantages__desc-list">
              <dt class="our-advantages__desc-term">100 000$</dt>
              <dd class="our-advantages__desc-def">Сумма страховки оборудования</dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
