<section class="services section">
  <div class="container">
    <div class="services__content section__content">
      <h2 class="section-title section-title--white">Услуги и решения</h2>
      <ul class="services__list">
        <li class="services__item">
          <div class="service-card service-card--support">
            <a class="service-card__back-link" href="#!"></a>
            <div class="service-card__content">
              <h3 class="service-card__title">Техническая поддержка</h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="service-card service-card--servers">
            <a class="service-card__back-link" href="#!"></a>
            <div class="service-card__content">
              <h3 class="service-card__title">Серверная ИТ-инфраструктура</h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="service-card service-card--tele-systems">
            <a class="service-card__back-link" href="#!"></a>
            <div class="service-card__content">
              <h3 class="service-card__title">Телекоммуникаци-онные системы</h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="service-card service-card--it-consulting">
            <a class="service-card__back-link" href="#!"></a>
            <div class="service-card__content">
              <h3 class="service-card__title">ИТ-консалтинг</h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="service-card service-card--eng-systems">
            <a class="service-card__back-link" href="#!"></a>
            <div class="service-card__content">
              <h3 class="service-card__title">Инженерные системы</h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="service-card service-card--safe-region">
            <a class="service-card__back-link" href="#!"></a>
            <div class="service-card__content">
              <h3 class="service-card__title">Безопасный регион</h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
            </div>
          </div>
        </li>
      </ul>
      <div class="services__consultation">
        <h2 class="section-title section-title--white">Консультация с инженером</h2>
        <form class="services__form form" action="https://echo.htmlacademy.ru" method="get">
          <label class="form__label">
            <span class="form__label-text">Ваше имя</span>
            <input class="form__field" type="text" id="consultation-client-name" name="consultation-client-name" placeholder="Введите ваше имя">
          </label>
          <div class="form__row">
            <label class="form__label">
              <span class="form__label-text">Ваш телефон</span>
              <input class="form__field" type="tel" id="consultation-phone" name="consultation-phone" placeholder="+7 (999) 999-99-99" required data-pristine-required-message="Обязательно к заполнению">
            </label>
          </div>
          <button class="button form__submit-button" type="submit">Получить консультацию</button>
        </form>
        <div class="services__engineer">
          <div class="services__engineer-info">
            <img class="services__engineer-photo" src="@img/engineer-photo.jpg" alt="Фотография нашего инженера.">
            <div class="services__engineer-text-info">
              <p class="services__engineer-name">Ефаненков Анатолий Анатольевич</p>
              <p class="services__engineer-job-title">Коммерческий директор, сооснователь</p>
            </div>
          </div>
          <q class="services__engineer-quote">
            Мы гарантируем быстрый и профессиональный ответ на запрос заказчика. Никаких секретарей и «менеджеров», только прямая связь с инженером.
          </q>
        </div>
      </div>
    </div>
  </div>
</section>
