<section class="sharing-exp section">
  <div class="container">
    <div class="sharing-exp__content section__content">
      <div class="sharing-exp__articles">
        <h2 class="sharing-exp__title section-title">Делимся знаниями и опытом</h2>
        <ul class="sharing-exp__articles-list">
          <li class="sharing-exp__article-item">
            <span class="sharing-exp__article-title">Организация серверного помещения</span>
            <p class="sharing-exp__article-description">
              Серверную комнату по праву можно назвать «сердцем» любой ИТ-инфраструктуры....
            </p>
            <a class="sharing-exp__article-link blue-link blue-link--no-svg" href="./blog-page.j2">Подробнее</a>
          </li>
          <li class="sharing-exp__article-item">
            <span class="sharing-exp__article-title">Сравнение продуктовых линеек от разных производителей</span>
            <p class="sharing-exp__article-description">
              В данной статье приведено сравнение устройств безопасности, маршрутизаторов, коммутаторов, беспроводных точек
            </p>
            <a class="sharing-exp__article-link blue-link blue-link--no-svg" href="./blog-page.j2">Подробнее</a>
          </li>
          <li class="sharing-exp__article-item">
            <span class="sharing-exp__article-title">Использование NAS-серверов в небольших компаниях и офисах</span>
            <p class="sharing-exp__article-description">
              При современном уровне развития ИТ даже младшие серверные платформы и процессоры бывают слишком избыточны для...
            </p>
            <a class="sharing-exp__article-link blue-link blue-link--no-svg" href="./blog-page.j2">Подробнее</a>
          </li>
        </ul>
      </div>
      <div class="sharing-exp__form-wrapper">
        <span class="sharing-exp__form-title">Есть вопросы?</span>
        <p class="sharing-exp__form-info">Проконсультируйтесь с нашим инженером</p>
        <form class="sharing-exp__form form" action="https://echo.htmlacademy.ru" method="get">
          <label class="form__label">
            <span class="sharing-exp__label-text form__label-text">Ваше имя</span>
            <input class="form__field" type="text" id="share-exp-client-name" name="share-exp-client-name" placeholder="Введите ваше имя">
          </label>
          <label class="form__label form__label--messengers">
            <span class="sharing-exp__label-text form__label-text">Как с вами связаться?</span>
            <select class="form__select" id="share-exp-messengers" name="share-exp-messengers">
              <option value="Телефон">Телефон</option>
              <option value="Whatsapp">Whatsapp</option>
              <option value="Telegram">Telegram</option>
            </select>
          </label>
          <label class="form__label">
            <span class="sharing-exp__label-text form__label-text">Ваш телефон</span>
            <input class="form__field" type="tel" id="share-exp-phone" name="share-exp-phone" placeholder="+7 (999) 999-99-99" required data-pristine-required-message="Обязательно к заполнению">
          </label>
          <button class="button form__submit-button" type="submit">Получить консультацию</button>
        </form>
      </div>
    </div>
  </div>
</section>
