<section class="soft-imp-rep section pads">
  <div class="container">
    <div class="soft-imp-rep__content section__content">
      <div class="soft-imp-rep__main">
        <h3 class="soft-imp-rep__title section__title">Передовые решения по импортозамещению ПО для&nbsp;российских заказчиков</h3>
        <ul class="soft-imp-rep__list section__adv-list">
          <li class="section__adv-list-item">
            <img class="seaction__adv-icon" src="@img/icons/soft-imp-rep-check-arrow.svg" alt="" width="32" height="33">
            <p class="section__adv-text">
              Признанные во всем мире технологии для защиты данных организаций любого размера
            </p>
          </li>
          <li class="section__adv-list-item">
            <img class="seaction__adv-icon" src="@img/icons/soft-imp-rep-check-arrow.svg" alt="" width="32" height="33">
            <p class="section__adv-text">
              Решения для безболезненного импортозамещения с поддержкой российских ОС, гипервизоров и приложений
            </p>
          </li>
          <li class="section__adv-list-item">
            <img class="seaction__adv-icon" src="@img/icons/soft-imp-rep-check-arrow.svg" alt="" width="32" height="33">
            <p class="section__adv-text">
              Продукты в реестре отечественного ПО и наличие версий, сертифицированных ФСТЭК
            </p>
          </li>
          <li class="section__adv-list-item">
            <img class="seaction__adv-icon" src="@img/icons/soft-imp-rep-check-arrow.svg" alt="" width="32" height="33">
            <p class="section__adv-text">
              Расширенная программа технологических партнерств для обеспечения совместимости с российскими разработками
            </p>
          </li>
        </ul>
        <a class="section__button button button--blue" href="#!">Подробнее</a>
      </div>
      <picture class="soft-imp-rep__image-wrapper">
        <source type="image/webp" srcset="@img/made-in-russia.webp 1x">
        <img class="soft-imp-rep__image section__image" src="@img/made-in-russia.jpg" alt="" width="334" height="374">
      </picture>
    </div>
  </div>
</section>
