{% set card = ({
  "startDate": "20 декабря 2021 г.",
  "stopDate": "30 декабря  2021 г.",
  "title": "Монтаж СКС, БЛВС, СВН, СКУД для офисно-складского комплекса компании «ПК Принтпрофф»",
  "logo": ({
    "url": "printprof-logo.png",
    "alt": "Логотип компании ПК Принтпрофф",
    "width": 278,
    "height": 55
  }),
  "items": [
    "система электроснабжения рабочих мест",
    "проектирование и монтаж СКС",
    "монтаж системы видеонаблюдения (СВН)",
    "монтаж системы контроля доступа (СКУД)",
    "монтаж БЛВС"
  ]
 })
%}
{% include "./case-card.j2" %}
