{% set card = ({
  "startDate": "20 декабря 2021 г.",
  "stopDate": "30 декабря г.",
  "title": "Подбор, поставка серверного оборудования для программного определяемой системы хранения данных",
  "logo": ({
    "url": "osnova-logo.png",
    "alt": "Логотип группы компаний Основа",
    "width": 163,
    "height": 47
  }),
  "items": [
    "Подбор, поставка серверного оборудования для программного определяемой системы хранения данных"
  ]
 })
%}
{% include "./case-card.j2" %}
