{% set card = ({
  "startDate": "20 декабря 2021 г.",
  "stopDate": "30 декабря  2021 г.",
  "title": "Монтаж беспроводной локальной вычислительной сети (БЛВС) для складского комплекса логистического оператора «ЛоджиксПро»",
  "logo": ({
    "url": "logixpro-logo.png",
    "alt": "Логотип компании «ЛоджиксПро»",
    "width": 204,
    "height": 47
  }),
  "items": [
    "монтаж БЛВС",
    "Wi-Fi на складе площадью 4,5 тыс. м²",
    "телекоммуникационный шкаф на 12 юнитов"
  ]
 })
%}
{% include "./case-card.j2" %}
