{% set card = ({
  "startDate": "20 апреля 2021 г.",
  "stopDate": "1 июня 2021 г.",
  "title": "Проектирование и монтаж СКС, ЭОМ Офиса компании «ОТКРЫТИЕ БРОКЕР»",
  "logo": ({
    "url": "otkritie-logo.svg",
    "alt": "Логотип компании Открытие брокер",
    "width": 210,
    "height": 58
  }),
  "items": [
    "проектирование ИТ-инфраструктуры",
    "монтаж системы электроснабжения офиса",
    "демонтаж «старой» СКС",
    "проектирование и монтаж СКС",
    "Восстановление схем коммутации питания",
    "исполнительная документация"
  ]
 })
%}
{% include "./case-card.j2" %}
