{% set card = ({
  "startDate": "14 февраля 2022 г.",
  "stopDate": "17 февраля 2022 г.",
  "title": "Монтаж беспроводной локальной вычислительной сети (БЛВС) для учебного центра «ДАФ Тракс Рус»",
  "logo": ({
    "url": "daf-logo.png",
    "alt": "Логотип компании ДАФ Тракс Рус",
    "width": 122,
    "height": 35
  }),
  "items": [
    "Wi-Fi сеть с «бесшовным роумингом»",
    "монтаж БЛВС"
  ]
 })
%}
{% include "./case-card.j2" %}
