{% extends "layout.j2" %}

{% set page = "configurators" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Конфигураторы</span>
          </li>
        </ul>
      </div>
    </div>

    <section class="conf-about section">
      <div class="conf-about__container container">
        <div class="conf-about__content section__content">
          <div class="conf-about__main">
            <h1 class="conf-about__title title">Конфигураторы</h1>
            <span class="conf-about__sub-title">Соберите оборудование под задачу</span>
            <p class="conf-about__text">
              SEO-текст про конфигураторы. Прежде всего, экономическая повестка сегодняшнего дня является качественно новой ступенью направлений прогрессивного развития! Приятно, граждане, наблюдать, как сторонники тоталитаризма в науке, инициированные исключительно синтетически, обнародованы. Как уже неоднократно упомянуто, представители современных социальных резервов набирают популярность среди определенных слоев населения
            </p>
            <button class="conf-about__button rcv-cons-button button" type="button">Получить консультацию</button>
          </div>
          <ul class="conf-about__list">
            <li class="conf-about__item">
              <a class="conf-about__link" href="./configurator-server.html">
                <span class="conf-about__link-text">Сервер</span>
                <svg class="conf-about__link-icon" width="25" height="25" viewBox="0 0 25 25">
                  <use xlink:href="img/sprite.svg#conf-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="conf-about__item">
              <a class="conf-about__link" href="./configurator-shd.html">
                <span class="conf-about__link-text">Сетевое хранилище данных</span>
                <svg class="conf-about__link-icon" width="25" height="25" viewBox="0 0 25 25">
                  <use xlink:href="img/sprite.svg#conf-arrow-icon"></use>
                </svg>
              </a>
            </li>
            <li class="conf-about__item">
              <a class="conf-about__link" href="./configurator-safe-region.html">
                <span class="conf-about__link-text">Видеонаблюдение «Безопасный регион»</span>
                <svg class="conf-about__link-icon" width="25" height="25" viewBox="0 0 25 25">
                  <use xlink:href="img/sprite.svg#conf-arrow-icon"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    {% include "./blocks/need-help.j2" %}
  </main>
{% endblock content %}

{% block modal %}

{% endblock %}

{% block js %}
  <script src="./js/need-help.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
