{% extends "layout.j2" %}

{% set page = "contacts" %}

{% block content %}
  <main class="page-main">
    <div class="container">
      <div class="breadcumbs">
        <ul class="breadcumbs__list">
          <li class="breadcumbs__item">
            <a class="breadcumbs__link" href="./index.html">Главная</a>
          </li>
          <li class="breadcumbs__item">
            <span class="breadcumbs__link breadcumbs__link--current">Контакты</span>
          </li>
        </ul>
      </div>
    </div>

    <section class="contacts">
      <div class="contacts__container container">
        <div class="contacts__content">
          <div class="contacts__contacts">
            <h1 class="contacts__title title">Контакты</h1>
            <div class="contacts__items-wrapper">
              <div class="contacts__phone-mail">
                <a class="contacts__item contacts__item--phone" href="tel:+74955404708">+7 (495) 540-47-08</a>
                <a class="contacts__item contacts__item--mail" href="mailto:mail@info@exasystems.ru">info@exasystems.ru</a>
              </div>
              <p class="contacts__item contacts__item--time">Работаем с 9 до 18 в будни</p>
              <p class="contacts__item contacts__item--address">Москва, Новая Басманная ул., 23, стр. 2, офис 316</p>
            </div>
          </div>
          <div class="contacts__questions">
            <p class="contacts__title title">Остались вопросы?</p>
            <p class="contacts__questions-info">Проконсультирем, поможем подобрать оборудование и решить задачи IT-инфраструтуры компании</p>
            <form class="contacts__form form" action="https://echo.htmlacademy.ru" method="get">
              <label class="form__label">
                <span class="contacts__label-text form__label-text">Ваше имя</span>
                <input class="form__field" type="text" id="client-name" name="client-name" placeholder="Введите ваше имя">
              </label>
              <label class="form__label">
                <span class="contacts__label-text form__label-text">Ваш телефон</span>
                <input class="form__field" type="tel" id="contacts-phone" name="contacts-phone" placeholder="+7 (999) 999-99-99" required data-pristine-required-message="Обязательно к заполнению">
              </label>
              <button class="button form__submit-button">Получить консультацию</button>
            </form>
          </div>
        </div>
      </div>
      <div class="contacts__map">
        <span class="visually-hidden">Мы на карте.</span>
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ac561ee9a96e3f25b83c49ff300f715d718cceee8ef46433bf8fd89d04dc67461&amp;source=constructor" width="600" height="450" scroll=false></iframe>
      </div>
    </section>

  </main>
{% endblock content %}

{% block js %}
  <script src="./js/contacts.min.js"></script>
  <script src="./js/main.min.js"></script>
{% endblock %}
