<section class="actual-news section">
  <div class="container">
    <div class="actual-news__content">
      <h2 class="actual-news__title title">Актуальные новости</h2>
      <ol class="actual-news__list">
        <li class="actual-news__item">
          <div class="news-card">
            <a class="news-card__title-link" href="./news-page.html">
              <h4 class="news-card__title">Организация серверного помещения</h4>
            </a>
            <p class="news-card__description">Серверную комнату по праву можно назвать «сердцем» любой ИТ-инфраструктуры....</p>
          </div>
        </li>
        <li class="actual-news__item">
          <div class="news-card">
            <a class="news-card__title-link" href="./news-page.html">
              <h4 class="news-card__title">Сравнение продуктовых линеек от разных производителей</h4>
            </a>
            <p class="news-card__description">В данной статье приведено сравнение устройств безопасности, маршрутизаторов, коммутаторов, беспроводных точек </p>
          </div>
        </li>
        <li class="actual-news__item">
          <div class="news-card">
            <a class="news-card__title-link" href="./news-page.html">
              <h4 class="news-card__title">Использование NAS-серверов в небольших компаниях и офисах</h4>
            </a>
            <p class="news-card__description">При современном уровне развития ИТ даже младшие серверные платформы и процессоры бывают слишком избыточны для...</p>
          </div>
        </li>
      </ol>
    </div>
  </div>
</section>
