<section class="section section--with-paddings">
  <div class="container">
    <div class="section__content">
      <h3 class="section__title">Преимущества</h3>
      <div class="section__text-content">
        <p class="section__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores nulla consectetur vitae molestiae? Suscipit quas quos praesentium iure voluptatem placeat quasi nihil voluptatibus consequatur. Eum est et accusamus, tenetur numquam, commodi blanditiis omnis libero veniam ratione minus maxime quidem accusantium deserunt consectetur dignissimos.</p>
      </div>
      <ul class="section__adv-list">
        <li class="section__adv-list-item">
          <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
          <p class="section__adv-text">
            <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
          </p>
        </li>
        <li class="section__adv-list-item">
          <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
          <p class="section__adv-text">
            <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
          </p>
        </li>
        <li class="section__adv-list-item">
          <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
          <p class="section__adv-text">
            <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
          </p>
        </li>
        <li class="section__adv-list-item">
          <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
          <p class="section__adv-text">
            <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
          </p>
        </li>
        <li class="section__adv-list-item">
          <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
          <p class="section__adv-text">
            <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
          </p>
        </li>
        <li class="section__adv-list-item">
          <img class="seaction__adv-icon" src="@img/feature-gear.svg" alt="" width="60" height="58">
          <p class="section__adv-text">
            <span>Личный кабинет</span> позволяет реализовать все операции с аутентификаторами от самостоятельного выпуска до блокировки
          </p>
        </li>
      </ul>
      <button class="section__button button button--blue" type="button">Запросить прайс-лист</button>
    </div>
  </div>
</section>
