<div class="breadcumbs">
  <ul class="breadcumbs__list">
    <li class="breadcumbs__item">
      <a class="breadcumbs__link" href="./index.html">Главная</a>
    </li>
    <li class="breadcumbs__item">
      <a class="breadcumbs__link" href="./cases.html">Кейсы</a>
    </li>
    <li class="breadcumbs__item">
      <span class="breadcumbs__link breadcumbs__link--current">Проектирование и монтаж СКС, ЭОМ Офиса компании «ОТКРЫТИЕ БРОКЕР»</span>
    </li>
  </ul>
</div>
