<section class="case section section--first-on-page">
  <div class="case__container container">
    <div class="case__content section__content">
      <div class="case__header">
        <h1 class="case__title page__title">Проект для Spaarmann</h1>
        <div class="case__header-image-wrapper">
          <img src="@img/project-header-image-desktop.webp" alt="" class="case__header-image" width="1116" height="254">
        </div>
      </div>
      <div class="case__main section__main">
        <div class="case__text-block">
          <h3 class="case__sub-title">Заказчик</h3>
          <p class="case__text-par">Компания Spaarmann оказывает услуги по таможенному оформлению, перевозке международных грузов и транспортно-экспедиционные услуги на территории России</p>
        </div>
        <div class="case__text-block">
          <h3 class="case__sub-title">Задачи проекта</h3>
          <p class="case__text-par">В связи с изменением структуры ИТ-отдела, Заказчик принял решения передать обязанности по поддержке, обслуживанию и модернизации ИТ-инфраструктуры внешнему подрядчику. Данный подход имеет ряд преимуществ для бизнеса, к которым можно отнести:</p>
          <ul class="list case__text-list">
            <li class="list__item case__text-list-item">отсутствие временных издержек на поиск специалистов;</li>
            <li class="list__item case__text-list-item">оптимизация затрат на обучение и подготовку нового сотрудника;</li>
            <li class="list__item case__text-list-item">снижение налогооблагаемой базы, ввиду отсутствия необходимости платить налоги за штатных работников;</li>
            <li class="list__item case__text-list-item">четкий контроль над расходами по эксплуатации IT-сервисов, работы выполняются согласно договору и соглашению об уровне качества сервиса SLA;</li>
            <li class="list__item case__text-list-item">повышение уровня качества и эффективности работы IT-сервисов за счет правильной оценки задач и привлечение сотрудников с требуемой квалификацией для их решения.</li>
          </ul>
        </div>
        <div class="case__text-block">
          <h3 class="case__sub-title">Решение и продукты</h3>
          <p class="case__text-par">В результате собранных данных и проведенного анализа был определен список ключевых ИТ-сервисов для бизнеса, составлены четкие требования к ИТ-процессам и выбрана концепция управления. Правильный выбор ключевых ИТ-сервисов для бизнеса позволяет повысить отказоустойчивость ИТ-инфраструктуры. Также важным критерием является надежная защита данных клиента от потери и хакерских атак.</p>
          <p class="case__text-par">В ходе работы над проектом были реализованы следующие задачи:</p>
          <ul class="list case__text-list">
            <li class="list__item case__text-list-item">обновление серверного и сетевого оборудования без прерывания рабочего процесса компании;</li>
            <li class="list__item case__text-list-item">миграция критически важных сервисов для компании в дата-центр;</li>
            <li class="list__item case__text-list-item">обновление корпоративного сервиса электронной почты;</li>
            <li class="list__item case__text-list-item">настройка безопасного сервиса для удаленного подключения сотрудников компании;</li>
            <li class="list__item case__text-list-item">согласование матрицы прав доступа к корпоративным файловым ресурсам компании с последующей настройкой;</li>
            <li class="list__item case__text-list-item">внедрение антивируса корпоративного уровня с централизованным управлением;</li>
            <li class="list__item case__text-list-item">настройка процесса резервного копирования.</li>
          </ul>
          <p class="case__text-par">Впоследствии компания EXASystems выполнила услуги по сервисному обслуживанию информационно-технологической инфраструктуры, обеспечив оперативную техническую поддержку и минимизировав риски, связанные со сбоями и простоями в работе ИТ-сервисов.</p>
        </div>
        <div class="case__text-block">
          <h3 class="case__sub-title">Заказчик</h3>
          <p class="case__text-par">В результате выполненных работ Заказчик получил современную, безопасную ИТ-инфраструктуру, которая позволяет выполнять задачи своевременно за прогнозируемое время.</p>
          <p class="case__text-par">Сотрудники Заказчика были проинформированы о начале работы с новым поставщиком ИТ-услуг. Взаимодействие происходит посредством системы Service Desk. Данная информационная платформа позволяет оперативно реагировать на происшествия и контролировать ход их решения в виде единого окна. Помимо этого, Заказчику предоставляется отчет о проделанной работе за месяц, что делает взаимодействие понятным, позволяя спрогнозировать будущие работы и затраты на ИТ.</p>
        </div>
        {# Отзыв #}
        <div class="case__reviews">
          <h3 class="case__sub-title">Отзыв заказчика</h3>
          <div class="case__review">
            <a class="case__review-link" href="@img/review-letter.jpg" data-review data-image-can-open-in-modal>
              <img class="case__review-image" src="@img/review-letter.jpg" alt="">
            </a>
            <div class="case__review-text-container">
              <img class="case__review-company-logo" width="170" height="60" src="@img/cases/logos/spaarmann.webp" alt="Логотип компании C. Spaarmann GmbH.">
              <p class="case__review-text">Немецкая логистическая компания <b>C. Spaarmann GmbH</b> рекомендует команду Exasystems к сотрудничеству, которая произвела ее успешный переход на удаленный режим работы и снизила расходы на ИТ.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
