<section class="case section">
  <div class="case__container container">
    <div class="section__content">
      <div class="case__header section__header">
        <div class="case__header-line">
          <span class="case__date">20 апреля 2021 г. - 1 июня 2021 г</span>
          <a class="case__link case__link--hidden" href="#!">
            <span class="case__link-text">Следующий проект</span>
            <svg class="case__link-icon" width="10" height="15" viewBox="0 0 10 15">
              <use xlink:href="img/sprite.svg#next-arrow-icon"></use>
            </svg>
          </a>
        </div>
        <div class="case__header-line">
          <h1 class="case__title title">Проектирование и монтаж&nbsp;СКС, ЭОМ Офиса компании «ОТКРЫТИЕ БРОКЕР»</h1>
          <div class="case__logo-wrapper">
            <img class="case__logo" src="@img/otkritie-logo.svg" alt="Логотип компании Открытие брокер" width="218" height="66">
          </div>
        </div>
      </div>
      <div class="case__main section__main">
        <div class="case__left">
          <div class="case__daw-list daw-list">
            <h2 class="daw-list__title">ПРОБЛЕМЫ, ТРЕБУЮЩИЕ РЕШЕНИЯ</h2>
            <ul class="daw-list__list">
              <li class="daw-list__item"><span>Сжатые сроки</span> проведения работ до запуска офиса;</li>
              <li class="daw-list__item">Одновременное проведение отделочных работ и работ по монтажу сетевой инфраструктуры;</li>
              <li class="daw-list__item">Разработка проектной документации;</li>
              <li class="daw-list__item">Отсутствие исполнительной документации по освещению и кондиционированию.</li>
            </ul>
          </div>
          <div class="case__daw-list daw-list">
            <h2 class="daw-list__title">ЗАДАЧИ</h2>
            <ul class="daw-list__list">
              <li class="daw-list__item">Спроектировать ИТ-инфраструктуру и систему электроснабжения нового офиса в сжатый срок;</li>
              <li class="daw-list__item">Осуществить поставку материалов;</li>
              <li class="daw-list__item">Выполнить работы по монтажу СКС, <span>1052 порта</span>;</li>
              <li class="daw-list__item">Выполнить монтаж системы электроснабжения рабочих мест, серверной и узлов коммутации;</li>
              <li class="daw-list__item">Создать систему бесперебойного электроснабжения для потребителей, для которых перерыв электроснабжения недопустим, путём сборки этих потребителей в отдельные щиты, подключенные от ИБП;</li>
              <li class="daw-list__item">Восстановление исполнительной документации по кондиционированию и освещению;</li>
              <li class="daw-list__item">Восстановление схем коммутации питания, системы резервирования от ИБП и ДГУ.</li>
            </ul>
          </div>
          <div class="case__daw-list daw-list--result">
            <h2 class="daw-list__title">РЕЗУЛЬТАТ</h2>
            <ul class="daw-list__list">
              <li class="daw-list__item">СКС построена с применением материалов и компонентов Hyperline, с оптимальным соотношением «цена/качество», что <span>позволило сократить расходы без снижения качества и надежности коммутации оборудования</span>;</li>
              <li class="daw-list__item">Все электрощиты перебраны, старые автоматы заменены, проведена профилактика контактов, составлены и актуализированы схемы электрощитов;</li>
              <li class="daw-list__item">Восстановлена исполнительная документация по кондиционированию и освещению;</li>
              <li class="daw-list__item">ИТ-инфраструктура нового офисного помещения запущена в срок.</li>
            </ul>
          </div>
        </div>
        <div class="case__right">
          <div class="case__photos">
            {% set photoCounter = 1 %}
            <div class="case__photo-wrapper">
              <picture>
                {# <source type="image/webp" srcset="@img/case-photo-{{ photoCounter }}.webp 1x"> #}
                <img class="case__photo" src="@img/case-photo-{{ photoCounter }}.jpg" alt="Фотография из кейса {{ photoCounter }}">
                {% set photoCounter = photoCounter + 1 %}
              </picture>
            </div>
            <div class="case__photo-wrapper">
              <picture>
                {# <source type="image/webp" srcset="@img/case-photo-{{ photoCounter }}.webp 1x"> #}
                <img class="case__photo" src="@img/case-photo-{{ photoCounter }}.jpg" alt="Фотография из кейса {{ photoCounter }}">
                {% set photoCounter = photoCounter + 1 %}
              </picture>
            </div>
            <div class="case__photo-wrapper">
              <picture>
                {# <source type="image/webp" srcset="@img/case-photo-{{ photoCounter }}.webp 1x"> #}
                <img class="case__photo" src="@img/case-photo-{{ photoCounter }}.jpg" alt="Фотография из кейса {{ photoCounter }}">
                {% set photoCounter = photoCounter + 1 %}
              </picture>
            </div>
            <div class="case__photo-wrapper">
              <picture>
                {# <source type="image/webp" srcset="@img/case-photo-{{ photoCounter }}.webp 1x"> #}
                <img class="case__photo" src="@img/case-photo-{{ photoCounter }}.jpg" alt="Фотография из кейса {{ photoCounter }}">
                {% set photoCounter = photoCounter + 1 %}
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="case__footer section__footer">
        <a class="case__link case__link--back case__link--hidden" href="./cases.html">
          <svg class="case__link-icon" width="10" height="15" viewBox="0 0 10 15">
            <use xlink:href="img/sprite.svg#next-arrow-icon"></use>
          </svg>
          <span class="case__link-text">Назад ко всем проектам</span>
        </a>
        <a class="case__link" href="#!">
          <span class="case__link-text">Следующий проект</span>
          <svg class="case__link-icon" width="10" height="15" viewBox="0 0 10 15">
            <use xlink:href="img/sprite.svg#next-arrow-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
