<section class="case-card">
  <div class="case-card__content">
    <div class="case-card__header">
      <div class="case-card__dates">
        <p class="case-card__date">20 апреля 2021 г.</p>
        <p class="case-card__date">1 июня 2021 г.</p>
      </div>
      <img class="case-card__logo" src="@img/otkritie-logo.svg" alt="Логотип компании Открытие брокер" width="210" height="58px">
    </div>
    <div class="case-card__main">
      <a class="case-card__title-link" href="./case.html">
        <h3 class="case-card__title">Проектирование и монтаж СКС, ЭОМ Офиса компании «ОТКРЫТИЕ БРОКЕР»</h3>
      </a>
      <ul class="case-card__list">
        <li class="case-card__item">проектирование ИТ-инфраструктуры</li>
        <li class="case-card__item">монтаж системы электроснабжения офиса</li>
        <li class="case-card__item">демонтаж «старой» СКС</li>
        <li class="case-card__item">проектирование и монтаж СКС</li>
        <li class="case-card__item">Восстановление схем коммутации питания</li>
        <li class="case-card__item">исполнительная документация</li>
      </ul>
    </div>
    <a class="case-card__open-case-button"href="./case-page.html">
      <svg class="case-card__open-case-button-icon" width="24" height="6" viewBox="0 0 24 6">
        <use xlink:href="img/sprite.svg#open-case-icon"></use>
      </svg>
      <span class="visually-hidden">Перейти на страницу кейса.</span>
    </a>
  </div>
</section>
