<section class="completed-projects section">
  <div class="container">
    <div class="completed-projects__content">
      <h2 class="completed-projects__title title">Реализованные проекты</h2>
    </div>
    <ul class="completed-projects__list">
      <li class="completed-projects__item">
        {% include "./case-card.j2" %}
      </li>
      <li class="completed-projects__item">
        {% include "./case-card.j2" %}
      </li>
      <li class="completed-projects__item">
        {% include "./case-card.j2" %}
      </li>
      <li class="completed-projects__item">
        {% include "./case-card.j2" %}
      </li>
      <li class="completed-projects__item">
        {% include "./case-card.j2" %}
      </li>
      <li class="completed-projects__item">
        {% include "./case-card.j2" %}
      </li>
      <li class="completed-projects__item">
        {% include "./case-card.j2" %}
      </li>
      <li class="completed-projects__item">
        {% include "./case-card.j2" %}
      </li>
      <li class="completed-projects__item">
        {% include "./case-card.j2" %}
      </li>
      <li class="completed-projects__item">
        {% include "./case-card.j2" %}
      </li>
    </ul>
  </div>
</section>
