<section class="section section--with-form-type1 section--with-paddings">
  <div class="container">
    <div class="section__content section__content--with-big-img">
      <div class="section__half">
        <h2 class="section__main-title">Скачайте коммерческое предложение ExaSystems + актуальный прайс-лист на все услуги</h2>
        <picture class="section__big-image-wrapper">
          <source type="image/webp" srcset="@img/dwnld-cp-desktop.webp">
          <img class="section__image" src="@img/dwnld-cp-desktop.png" alt="">
        </picture>
        <div class="section__text-content">
          <p class="section__paragraph">Описательный текст блока на любое неограниченное количество символов</p>
          <p class="section__paragraph">Обновлен: 27.09.2022</p>
        </div>
        <form class="section__form form" action="https://echo.htmlacademy.ru" method="post" id="dwnld-cp">
          <label class="form__label">
            <span class="section__form-label-text form__label-text form__label-text--black">Ваше имя</span>
            <input class="form__field" type="text" id="dwnld-cp-client-name" name="dwnld-cp-client-name" placeholder="Введите ваше имя">
          </label>
          <label class="form__label">
            <span class="section__form-label-text form__label-text form__label-text--black">Куда прислать?</span>
            <input class="form__field" type="email" id="dwnld-cp-mail" name="dwnld-cp-mail" placeholder="Введите ваш e-mail" data-pristine-email-message="Неправильный формат e-mail">
          </label>
          <label class="form__label">
            <span class="section__form-label-text form__label-text form__label-text--black">Номер телефона для связи</span>
            <input class="form__field" type="tel" id="dwnld-cp-phone" name="dwnld-cp-phone" placeholder="+7 (999) 999-99-99" required data-pristine-required-message="Обязательно к заполнению">
          </label>
          <div class="form__column">
            <button class="button form__submit-button" type="submit">Получить КП и прайс</button>
            <label class="section__form-checkbox form__label form__label--checkbox">
              <input class="form__checkbox visually-hidden" type="checkbox" name="dwnld-cp-politics" id="dwnld-cp-politics" checked>
              <span class="form__mark"></span>
              <span class="section__form-checkbox-text form__checkbox-label-text">Согласен с <a href="#!">Политикой конфиденциальности сайта</a></span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
