<section class="equipment section">
  <div class="container">
    <div class="equipment__content section__content">
      <h2 class="equipment__title section__title">Оборудование</h2>
      <ul class="equipment__big-cards">
        <li class="equipment__big-cards-item">
          <div class="equipment-card">
            <div class="equipment-card__content">
              <a class="equipment-card__title" href="./catalog.html">Серверное<br>оборудование</a>
              <ul class="equipment-card__vendors">
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link equipment-card__vendor-link--highlighted" href="./vendor-page.html">
                    ExaPower
                    <img class="equipment-card__vendor-link-img" src="@img/equipment-card-link-flag.png" alt="" width="51" height=25>
                  </a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Lenovo</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">HPE</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">DELL</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Supermicro</a>
                </li>
              </ul>
            </div>
            <img class="equipment-card__image equipment-card__image--servers" src="@img/equipment-card-servers.png" alt="">
          </div>
        </li>
        <li class="equipment__big-cards-item">
          <div class="equipment-card">
            <div class="equipment-card__content">
              <a class="equipment-card__title" href="./catalog.html">Комплектующие для&nbsp;серверов</a>
              <ul class="equipment-card__vendors">
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Процессоры</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Блоки питания</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Вентиляторы</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Дисковые корзины</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Жесткие диски и SDD</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Контроллеры</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Серверные платформы</a>
                </li>
              </ul>
            </div>
            <img class="equipment-card__image equipment-card__image--servers" src="@img/equipment-card-servers-sapreparts.png" alt="">
          </div>
        </li>
        <li class="equipment__big-cards-item">
          <div class="equipment-card">
            <div class="equipment-card__content">
              <a class="equipment-card__title" href="./catalog.html">Сетевое оборудование</a>
              <ul class="equipment-card__vendors">
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">TP-Link</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Dlink</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Extreme Networks</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Microtik</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Fortinet</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Cisco</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Juniper</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Huawei</a>
                </li>
              </ul>
            </div>
            <img class="equipment-card__image equipment-card__image--network" src="@img/equipment-card-network.png" alt="">
          </div>
        </li>
        <li class="equipment__big-cards-item">
          <div class="equipment-card">
            <div class="equipment-card__content">
              <a class="equipment-card__title" href="./catalog.html">Комплектующие для&nbsp;серверов</a>
              <ul class="equipment-card__vendors">
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./#!.html">Операционные системы</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./#!.html">Серверное ПО</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./#!.html">Антивирусы и защита информации</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./#!.html">Офисные программы</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./#!.html">Облачные решения</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./#!.html">Графика и дизайн</a>
                </li>
              </ul>
            </div>
            <img class="equipment-card__image equipment-card__image--soft" src="@img/equipment-card-soft.png" alt="">
          </div>
        </li>
      </ul>
      <ul class="equipment__mini-cards">
        <li class="equipment__mini-cards-item">
          <div class="equipment-card">
            <div class="equipment-card__content">
              <a class="equipment-card__title" href="./catalog.html">Системы хранения данных</a>
              <ul class="equipment-card__vendors">
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">TP-Link</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Dlink</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Extreme Networks</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Microtik</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Fortinet</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Cisco</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Juniper</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Huawei</a>
                </li>
              </ul>
            </div>
            <img class="equipment-card__image equipment-card__image--data-save-systems" src="@img/equipment-card-data-save-systems.png" alt="">
          </div>
        </li>
        <li class="equipment__mini-cards-item">
          <div class="equipment-card">
            <div class="equipment-card__content">
              <a class="equipment-card__title" href="./catalog.html">Оборудование для&nbsp;защиты данных</a>
              <ul class="equipment-card__vendors">
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">APC</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">eaton</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">vertiv</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">ippon</a>
                </li>
              </ul>
            </div>
            <img class="equipment-card__image equipment-card__image--data-protect-systems" src="@img/equipment-card-data-protect-systems.png" alt="">
          </div>
        </li>
        <li class="equipment__mini-cards-item">
          <div class="equipment-card">
            <div class="equipment-card__content">
              <a class="equipment-card__title" href="./catalog.html">Серверные шкафы и стойки</a>
              <ul class="equipment-card__vendors">
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">APC</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">ЦМО</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Hyperline</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">TLK</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">Cabeus</a>
                </li>
                <li class="equipment-card__vendor">
                  <a class="equipment-card__vendor-link" href="./vendor-page.html">NTSS</a>
                </li>
              </ul>
            </div>
            <img class="equipment-card__image equipment-card__image--server-closets" src="@img/equipment-card-server-closets.png" alt="">
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
