<section class="facts section">
  <div class="container">
    <div class="facts__content">
      <h2 class="facts__title title">Факты и цифры</h2>
      <ul class="facts__numbers">
        <li class="facts__numbers-item">
          <span class="facts__numbers-value">100%</span>
          <p class="facts__numbers-text">Контроль на всех этапах работы – заказчик в курсе всех процессов</p>
        </li>
        <li class="facts__numbers-item">
          <span class="facts__numbers-value">300</span>
          <p class="facts__numbers-text">Нашими клиентами являются лидирующие компании на рынке в различных сферах деятельности</p>
        </li>
        <li class="facts__numbers-item">
          <span class="facts__numbers-value">360+</span>
          <p class="facts__numbers-text">Партнеров и поставщиков решений</p>
        </li>
      </ul>
      <div class="facts__quote-wrapper">
        <div class="facts__photo-wrapper">
          <picture>
            <source type="image/webp" srcset="@img/facts-person-photo.webp 1x">
            <img class="facts__photo-image" src="@img/facts-person-photo.png" alt="Фото Анатолия" width="294" height="290" loading="lazy">
          </picture>
        </div>
        <div class="facts__quoute-main">
          <p class="facts__quoute-text">Мы гарантируем быстрый и профессиональный ответ на запрос заказчика. Никаких секретарей и «менеджеров», только прямая связь с инженером</p>
        </div>
        <div class="facts__quote-person-info">
          <p class="facts__quote-person-name">Анатолий Ефаненков</p>
          <p class="facts__quote-person-job-title">Коммерческий директор</p>
        </div>
      </div>
    </div>
  </div>
</section>
