<section class="features features--under-key">
  <div class="container">
    <h2 class="features__title">Решаем задачи «под ключ»</h2>
    <ul class="features__list">
      <li class="feature feature--exp">
        <p class="feature__title">Выявляем проблемы</p>
        <p class="feature__desription">Небольшой текст об этапе. В рамках спецификации современных стандартов, ключевые особенности</p>
      </li>
      <li class="feature feature--adv">
        <p class="feature__title">Подбираем решение</p>
        <p class="feature__desription">Небольшой текст об этапе. В рамках В рамках спецификации современных стандартов, ключевые особенности для текущей ситуации современных стандартов, ключевые особенности</p>
      </li>
      <li class="feature feature--no-bur">
        <p class="feature__title">Внедряем</p>
        <p class="feature__desription">Небольшой текст об этапе. В рамках В рамках спецификации современных стандартов, ключевые особенности для текущей ситуации современных стандартов, ключевые особенности</p>
      </li>
      <li class="feature feature--phone">
        <p class="feature__title">Консультируем</p>
        <p class="feature__desription">В рамках спецификации современных стандартов, ключевые особенности для текущей ситуации</p>
      </li>
    </ul>
  </div>
</section>
