<section class="features features--under-key">
  <div class="container">
    <h2 class="features__title">Решаем задачи «под ключ»</h2>
    <ul class="features__list">
      <li class="feature feature--adv">
        <p class="feature__title">Выявляем проблемы</p>
        <p class="feature__desription">Инженеры с опытом от 10&nbsp;лет находят «проблемные места» на вашем объекте</p>
      </li>
      <li class="feature feature--exp">
        <p class="feature__title">Подбираем решение</p>
        <p class="feature__desription">Зарубежное и отечественное ПО и оборудование позволяет подобрать решения под любую задачу</p>
      </li>
      <li class="feature feature--no-bur">
        <p class="feature__title">Внедряем</p>
        <p class="feature__desription">От 1&nbsp;дня с гарантией сроков по договору — 80% проектов запускаем раньше срока</p>
      </li>
      <li class="feature feature--result">
        <p class="feature__title">Консультируем</p>
        <p class="feature__desription">Прямая связь с инженером каждый день в рабочее время — секретарей и «менеджеров»</p>
      </li>
    </ul>
  </div>
</section>
