<section class="section section--with-paddings">
  <div class="container">
    <div class="section__content">
      <div class="section__header">
        <h3 class="section__title">Другие услуги</h3>
        <div class="section__card-swiper-buttons">
          <button class="section__swiper-button section__swiper-button--prev" id="section-card-swiper-{{sectionCardSwiperCnt}}-prev" type="button">
            <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть назад</span>
          </button>
          <button class="section__swiper-button section__swiper-button--next" id="section-card-swiper-{{sectionCardSwiperCnt}}-next" type="button">
            <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть назад</span>
          </button>
        </div>
      </div>

      <div class="section__card-swiper-container">
        <div class="section__card-swiper swiper other-services-swiper" id="other-services-swiper">
          <div class="swiper-wrapper other-services-swiper__wrapper">
            <div class="section__card-swiper-slide swiper-slide">
              <div class="other-service-card other-service-card--consulting">
                <a class="other-service-card__header" href="#!">Консалтинг</a>
                <div class="other-service-card__list-wrapper">
                  <ul class="other-service-card__list">
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Разработка ИТ-стратегии</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Техническая поддержка</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Системы управления ИТ-инфраструктурой  и процессами (ITSM)</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Обследование ИТ-инфраструктуры и внутренних ИТ процессов</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="section__card-swiper-slide swiper-slide">
              <div class="other-service-card other-service-card--server-it">
                <a class="other-service-card__header" href="#!">Серверная IT-инфраструктура</a>
                <div class="other-service-card__list-wrapper">
                  <ul class="other-service-card__list">
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Служба единого каталога и базовые информационные сервисы</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Системы резервного копирования данных </a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Системы корпоративной почты</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Системы мониторинга инфраструктуры</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Системы виртуализации серверов</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="section__card-swiper-slide swiper-slide">
              <div class="other-service-card other-service-card--tcs">
                <a class="other-service-card__header" href="#!">Телекоммуникационные системы</a>
                <div class="other-service-card__list-wrapper">
                  <ul class="other-service-card__list">
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Системы голосовой связи</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Системы объединенных коммуникаций</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Системы видеоконференцсвязи</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Сервисы Локальной вычислительной сети</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Системы Сервисы сетевой безопасности организации</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Беспроводные локальные вычислительные сети</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="section__card-swiper-slide swiper-slide">
              <div class="other-service-card other-service-card--engineer-systems">
                <a class="other-service-card__header" href="#!">Инженерные системы</a>
                <div class="other-service-card__list-wrapper">
                  <ul class="other-service-card__list">
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">СКС</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">СКУД</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Безопасный регион</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">ВОЛС</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Видеонаблюдение</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="section__card-swiper-slide swiper-slide">
              <div class="other-service-card other-service-card--info-safety">
                <a class="other-service-card__header" href="#!">Информационная безопасность</a>
                <div class="other-service-card__list-wrapper">
                  <ul class="other-service-card__list">
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Двухфакторная аутентификация и управление жизненным циклом средств аутентификации</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Менеджер паролей</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Повышение осведомленности ИБ</a></li>
                    <li class="other-service-card__item"><a class="other-service-card__item-link" href="#!">Инфраструктура открытых ключей (PKI)</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section__card-swiper-buttons section__card-swiper-buttons--desktop-only">
          <button class="section__swiper-button section__swiper-button--prev" id="section-card-swiper-{{sectionCardSwiperCnt}}-prev-desktop" type="button">
            <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть назад</span>
          </button>
          <button class="section__swiper-button section__swiper-button--next" id="section-card-swiper-{{sectionCardSwiperCnt}}-next-desktop" type="button">
            <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
              <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть назад</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
