<section class="popular-articles section">
  <div class="container">
    <div class="popular-articles__content">
      <h2 class="popular-articles__title title">Самое популярное</h2>
      <ol class="popular-articles__list">
        <li class="popular-articles__item">
          <div class="blog-card blog-card--mini">
            <div class="blog-card__content">
              <div class="blog-card__header">
                <a class="blog-card__title-link" href="./blog-page.html">
                  <h3 class="blog-card__title">Как мы проектировали и строили центр обработки данных.</h3>
                </a>
                <p class="blog-card__date">21.06.2022</p>
              </div>
              <div class="blog-card__tags-wrapper">
                <ul class="blog-card__tags">
                  <li class="tag">оборудование для офиса</li>
                  <li class="tag">рубрика</li>
                </ul>
              </div>
              <a class="blog-card__image-link" href="./blog-page.html">
                <picture>
                  {# <source type="image/webp" srcset="@img/blog-card-mini.webp 1x, @img/blog-card-mini@2x.webp 2x"> #}
                  <img class="blog-card__image" src="@img/blog-card-mini.jpg" srcset="@img/blog-card-mini@2x.jpg 2x" alt="">
                </picture>
              </a>
            </div>
          </div>
        </li>
        <li class="popular-articles__item">
          <div class="blog-card blog-card--mini">
            <div class="blog-card__content">
              <div class="blog-card__header">
                <a class="blog-card__title-link" href="./blog-page.html">
                  <h3 class="blog-card__title">Как мы проектировали и строили центр обработки данных.</h3>
                </a>
                <p class="blog-card__date">21.06.2022</p>
              </div>
              <div class="blog-card__tags-wrapper">
                <ul class="blog-card__tags">
                  <li class="tag">оборудование для офиса</li>
                  <li class="tag">рубрика</li>
                </ul>
              </div>
              <a class="blog-card__image-link" href="./blog-page.html">
                <picture>
                  {# <source type="image/webp" srcset="@img/blog-card-mini.webp 1x, @img/blog-card-mini@2x.webp 2x"> #}
                  <img class="blog-card__image" src="@img/blog-card-mini.jpg" srcset="@img/blog-card-mini@2x.jpg 2x" alt="">
                </picture>
              </a>
            </div>
          </div>
        </li>
        <li class="popular-articles__item">
          <div class="blog-card blog-card--mini">
            <div class="blog-card__content">
              <div class="blog-card__header">
                <a class="blog-card__title-link" href="./blog-page.html">
                  <h3 class="blog-card__title">Как мы проектировали и строили центр обработки данных.</h3>
                </a>
                <p class="blog-card__date">21.06.2022</p>
              </div>
              <div class="blog-card__tags-wrapper">
                <ul class="blog-card__tags">
                  <li class="tag">оборудование для офиса</li>
                  <li class="tag">рубрика</li>
                </ul>
              </div>
              <a class="blog-card__image-link" href="./blog-page.html">
                <picture>
                  {# <source type="image/webp" srcset="@img/blog-card-mini.webp 1x, @img/blog-card-mini@2x.webp 2x"> #}
                  <img class="blog-card__image" src="@img/blog-card-mini.jpg" srcset="@img/blog-card-mini@2x.jpg 2x" alt="">
                </picture>
              </a>
            </div>
          </div>
        </li>
      </ol>
      <button class="popular-articles__show-more show-more" type="button">
        <svg class="show-more__icon" width="10" height="15" viewBox="0 0 10 15">
          <use xlink:href="img/sprite.svg#next-arrow-icon"></use>
        </svg>
        <span class="show-more__text">Показать еще</span>
      </button>
    </div>
  </div>
</section>
