<section class="services section">
  <div class="container">
    <div class="services__content section__content">
      <h2 class="section-title section-title--white">Услуги и решения</h2>
      <ul class="services__list">
        <li class="services__item">
          <div class="service-card service-card--support">
            <div class="service-card__content">
              <h3 class="service-card__title">
                <a class="service-card__title-link" href="#!">Техническая поддержка</a>
              </h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
              <button class="service__card-button button" type="button">Заказать услугу</button>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="service-card service-card--servers">
            <div class="service-card__content">
              <h3 class="service-card__title">
                <a class="service-card__title-link" href="#!">Серверная ИТ-инфраструктура</a>
              </h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
              <button class="service__card-button button" type="button">Заказать услугу</button>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="service-card service-card--tele-systems">
            <div class="service-card__content">
              <h3 class="service-card__title">
                <a class="service-card__title-link" href="#!">Телекоммуникаци-онные системы</a>
              </h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
              <button class="service__card-button button" type="button">Заказать услугу</button>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="service-card service-card--it-consulting">
            <div class="service-card__content">
              <h3 class="service-card__title">
                <a class="service-card__title-link" href="#!">ИТ-консалтинг</a>
              </h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
              <button class="service__card-button button" type="button">Заказать услугу</button>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="service-card service-card--eng-systems">
            <div class="service-card__content">
              <h3 class="service-card__title">
                <a class="service-card__title-link" href="#!">Инженерные системы</a>
              </h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
              <button class="service__card-button button" type="button">Заказать услугу</button>
            </div>
          </div>
        </li>
        <li class="services__item">
          <div class="service-card service-card--safe-region">
            <div class="service-card__content">
              <h3 class="service-card__title">
                <a class="service-card__title-link" href="#!">Безопасный регион</a>
              </h3>
              <p class="service-card__description">
                Небольшой текст об услуге. Прежде всего, разбавленное изрядной долей эмпатии, рациональное мышление говорит о возможностях направлений.
              </p>
              <button class="service__card-button button" type="button">Заказать услугу</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
