<section class="subscribe-section section">
  <div class="container">
    <div class="subscribe-section__content">
      <div class="subscribe-section__left">
        <h2 class="subscribe-section__title title">Подпишитесь на <span>нашу</span> рассылку</h2>
        <div class="subscribe-section__image-wrapper">
          <img class="subscribe-section__image" src="@img/subscribe-image.png" alt="">
        </div>
        <ul class="subscribe-section__list">
          <li class="subscribe-section__item">свежие новости по теме</li>
          <li class="subscribe-section__item">кейсы с примерами оптимизации</li>
          <li class="subscribe-section__item">интересные статьи</li>
        </ul>
      </div>
      <form class="subscribe-section__form form" action="https://echo.htmlacademy.ru" method="get">
        <label class="form__label">
          <span class="form__label-text">Ваше имя</span>
          <input class="form__field" type="text" id="client-name" name="client-name" placeholder="Введите ваше имя" required data-pristine-required-message="Обязательно к заполнению">
        </label>
        <label class="form__label">
          <span class="form__label-text">Ваш e-mail</span>
          <input class="form__field" type="email" id="subscribe-mail" name="subscribe-mail" placeholder="E-mail" required data-pristine-required-message="Обязательно к заполнению" data-pristine-email-message="Неправильный формат e-mail">
        </label>
        <button class="button form__submit-button">Отправить заявку</button>
      </form>
    </div>
  </div>
</section>
