{% set teamMemberCounter = 1 %}
<section class="team section section--first-on-page">
  <div class="container">
    <div class="team__content">
      <ul class="team__list">
        {% for teammate in team %}
          <li class="team__item person-card">
            <div class="person-card__content">
              <div class="person-card__photo-wrapper">
                <img class="person-card__image" src="{{teammate.photo.src | safe }}" alt="Фотография {{teammate.name | safe}}" width="{{teammate.photo.width | safe}}" height="{{teammate.photo.height | safe}}" loading="lazy">
              </div>
              <div class="person-card__info">
                <p class="person-card__name">{{teammate.name | safe}}</p>
                <p class="person-card__job-title">{{teammate.jobTitle | safe}}</p>
                <ul class="person-card__about-list">
                  {% for bioItem in teammate.bioList %}
                    <li class="person-card__about-item">{{bioItem | safe}}</li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </li>
        {% endfor%}
      </ul>
    </div>
  </div>
</section>
