<section class="section section--with-paddings section--lb-bg ">
  <div class="container">
    <div class="section__content">
      <div class="section__header">
        <h3 class="section__title">Команда ExaSystems</h3>
        <div class="section__card-swiper-buttons">
          <button class="section__swiper-button section__swiper-button--prev section-card-swiper-{{sectionCardSwiperCnt}}-prev" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button section__swiper-button--next section-card-swiper-{{sectionCardSwiperCnt}}-next" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть вперед</span>
              </button>
        </div>
      </div>

      <div class="section__card-swiper-container">
        <div class="section__card-swiper swiper">
          <div class="swiper-wrapper">
            <div class="section__card-swiper-slide swiper-slide">
              <div class="person-card">
                <div class="person-card__info">
                  <p class="person-card__name">Семенов Константин Владимирович</p>
                  <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                </div>
                <picture class="person-card__photo-wrapper">
                  <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                  <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                </picture>
              </div>
            </div>
            <div class="section__card-swiper-slide swiper-slide">
              <div class="person-card">
                <div class="person-card__info">
                  <p class="person-card__name">Семенов Константин Владимирович</p>
                  <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                </div>
                <picture class="person-card__photo-wrapper">
                  <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                  <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                </picture>
              </div>
            </div>
            <div class="section__card-swiper-slide swiper-slide">
              <div class="person-card">
                <div class="person-card__info">
                  <p class="person-card__name">Семенов Константин Владимирович</p>
                  <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                </div>
                <picture class="person-card__photo-wrapper">
                  <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                  <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                </picture>
              </div>
            </div>
            <div class="section__card-swiper-slide swiper-slide">
              <div class="person-card">
                <div class="person-card__info">
                  <p class="person-card__name">Семенов Константин Владимирович</p>
                  <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                </div>
                <picture class="person-card__photo-wrapper">
                  <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                  <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                </picture>
              </div>
            </div>
            <div class="section__card-swiper-slide swiper-slide">
              <div class="person-card">
                <div class="person-card__info">
                  <p class="person-card__name">Семенов Константин Владимирович</p>
                  <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                </div>
                <picture class="person-card__photo-wrapper">
                  <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                  <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                </picture>
              </div>
            </div>
            <div class="section__card-swiper-slide swiper-slide">
              <div class="person-card">
                <div class="person-card__info">
                  <p class="person-card__name">Семенов Константин Владимирович</p>
                  <p class="person-card__job-title">Генеральный директор, сооснователь</p>
                </div>
                <picture class="person-card__photo-wrapper">
                  <source type="image/webp" srcset="@img/person-card-photo.webp 1x">
                  <img class="person-card__image" src="@img/person-card-photo.jpg" alt="">
                </picture>
              </div>
            </div>
          </div>
        </div>
        <div class="section__card-swiper-buttons section__card-swiper-buttons--desktop-only">
          <button class="section__swiper-button section__swiper-button--prev section-card-swiper-{{sectionCardSwiperCnt}}-prev" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть назад</span>
              </button>
              <button class="section__swiper-button section__swiper-button--next section-card-swiper-{{sectionCardSwiperCnt}}-next" type="button">
                <svg class="section__swiper-button-icon" width="12" height="10" viewBox="0 0 12 10">
                  <use xlink:href="img/sprite.svg#swiper-arrow-icon"></use>
                </svg>
                <span class="visually-hidden">Перелестнуть вперед</span>
              </button>
        </div>
      </div>
    </div>
  </div>
</section>
{% set sectionCardSwiperCnt = sectionCardSwiperCnt + 1 %}
