<section class="certificates section">
  <div class="container">
    <div class="section__content">
      <div class="section__header">
        <h3 class="section__title title">Сертификаты</h3>
        <a href="./vacancies.html" class="section__all-link">Все сертификаты</a>
      </div>

      <div class="card-swiper-container">
        <div class="section__card-swiper card-swiper swiper" id="certs-swiper">
          <div class="swiper-wrapper">
            {% for certItem in certificates %}
              <div class="card-swiper__slide swiper-slide">
                <div class="cert-card cert-card--in-swiper">
                  <div class="cert-card__info">
                    <p class="cert-card__company">{{ certItem.companyName | safe }}</p>
                    <p class="cert-card__description">{{ certItem.type | safe }}</p>
                  </div>
                  <picture class="cert-card__photo-wrapper">
                    <img class="cert-card__image" src="{{ certItem.imgPreviewSrc | safe }}" alt="" width="324" height="255" loading="lazy">
                  </picture>
                  <a class="cert-card__link" href="{{ certItem.imgFullSrc | safe }}" data-image-can-open-in-modal></a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="card-swiper__buttons card-swiper__buttons--desktop-ears card-swiper__buttons--default-top-margin">
          <button class="card-swiper__button card-swiper__button--prev card-swiper__button-{{ cardSwiperCnt }}-prev" type="button">
            <svg class="card-swiper__button-icon" width="12" height="12" viewBox="0 0 12 12">
              <use xlink:href="img/sprite.svg#card-swiper-arrow"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть назад</span>
          </button>
          <button class="card-swiper__button card-swiper__button--next card-swiper__button-{{ cardSwiperCnt }}-next" type="button">
            <svg class="card-swiper__button-icon" width="12" height="12" viewBox="0 0 12 12">
              <use xlink:href="img/sprite.svg#card-swiper-arrow"></use>
            </svg>
            <span class="visually-hidden">Перелестнуть вперед</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
{% set cardSwiperCnt = cardSwiperCnt + 1 %}
